Repository hackclub/OnBoard, pull requests merged in 2023-11, with the labels that each got.

#236 Create BlackCardNfcPcb
  projects/BlackCardNfcPcb/README.md
  projects/BlackCardNfcPcb/cart.png
  projects/BlackCardNfcPcb/gerber.zip
  projects/BlackCardNfcPcb/schematic.pdf
  projects/BlackCardNfcPcb/src/PCB_PCB_nfc_card_2023-10-30.json
  projects/BlackCardNfcPcb/src/SCH_nfc card_2023-10-30.json
Labels: Submission

#237 Add my project (Darren's Keyboard)
  projects/darren's_keyboard/README.md
  projects/darren's_keyboard/cart.png
  projects/darren's_keyboard/gerber.zip
  projects/darren's_keyboard/schematic.pdf
  projects/darren's_keyboard/src/PCB_PCB_mechakey_2_2023-10-28.json
  projects/darren's_keyboard/src/SCH_mechakey_2023-10-28.json
Labels: Submission

#244 Bright's Hacker Card
  projects/Bright's Hacker Card/README.md
  projects/Bright's Hacker Card/cart.png
  projects/Bright's Hacker Card/gerber.zip
  projects/Bright's Hacker Card/schematic.pdf
  projects/Bright's Hacker Card/src/PCB_BrightHakcerCard.json
  projects/Bright's Hacker Card/src/SCH_BrightHackerCard.json
Labels: Submission

#242 HubertK05's Hacker Card
  projects/Hubert K's Hacker Card/README.md
  projects/Hubert K's Hacker Card/bom.csv
  projects/Hubert K's Hacker Card/cart.png
  projects/Hubert K's Hacker Card/gerber.zip
  projects/Hubert K's Hacker Card/pickandplace.csv
  projects/Hubert K's Hacker Card/schematic.pdf
  projects/Hubert K's Hacker Card/src/pcb.json
  projects/Hubert K's Hacker Card/src/schematic.json
Labels: Submission

#246 feat: kcoderhtml hacker card and ruler
  projects/kcoderhtml-card/README.md
  projects/kcoderhtml-card/cart.png
  projects/kcoderhtml-card/gerber.zip
  projects/kcoderhtml-card/schematic.pdf
  projects/kcoderhtml-card/src/PCB_NFC-PCB-Business-Card-v3.2.json
  projects/kcoderhtml-card/src/SCH_NFC-PCB-Business-Card-v3.json
  projects/kcoderhtml-ruler/README.md
  projects/kcoderhtml-ruler/cart.png
  projects/kcoderhtml-ruler/gerber.zip
  projects/kcoderhtml-ruler/src/PCB_PCB-Ruler.json
Labels: Submission

#245 Blender Macropad
  projects/Blender MacroPad/README.md
  projects/Blender MacroPad/cart.png
  projects/Blender MacroPad/gerber.zip
  projects/Blender MacroPad/schematic.pdf
  projects/Blender MacroPad/src/MacroKeypad-job.gbrjob
  projects/Blender MacroPad/src/MacroKeypad.kicad_pcb
  projects/Blender MacroPad/src/MacroKeypad.kicad_prl
  projects/Blender MacroPad/src/MacroKeypad.kicad_pro
  projects/Blender MacroPad/src/MacroKeypad.kicad_sch
Labels: Submission

#259 Rishi's NFC PCB
  projects/Rishi's NFC PCB/README.md
  projects/Rishi's NFC PCB/cart.png
  projects/Rishi's NFC PCB/gerber.zip
  projects/Rishi's NFC PCB/schematic.pdf
  projects/Rishi's NFC PCB/src/nfcpcb.json
  projects/Rishi's NFC PCB/src/nfcsch.json
Labels: Submission

#260 shipping tips
  README.md
  community/shipping.md
  docs/ordering_from_JLCPCB.md
Labels: Dev

#256 Update README.md
  README.md
Labels: Dev

#253 Connor2648 patch 1
  projects/Connor MAVprox/README.md
  projects/Connor MAVprox/cart.png
  projects/Connor MAVprox/cart2.png
  projects/Connor MAVprox/gerber.zip
  projects/Connor MAVprox/schematic.pdf
  projects/Connor MAVprox/src/4272MAVprox_R1.kicad_pcb
  projects/Connor MAVprox/src/4272MAVprox_R1.kicad_pro
  projects/Connor MAVprox/src/4272MAVprox_R1.kicad_sch
  projects/Connor MAVterm/README.md
  projects/Connor MAVterm/cart.png
  projects/Connor MAVterm/cart2.png
  projects/Connor MAVterm/gerber.zip
  projects/Connor MAVterm/schematic.pdf
  projects/Connor MAVterm/src/4272MAVterm.kicad_pcb
  projects/Connor MAVterm/src/4272MAVterm.kicad_pro
  projects/Connor MAVterm/src/4272MAVterm.kicad_sch
Labels: Submission

#252 Fix cart.png for project Rowans Macropad
  projects/RowansMacropad/README.md
  projects/RowansMacropad/cart.png
Labels: Update

#254 Add FIRST team question to template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Dev

#255 Remove unused GH automations
  .github/test/PR-Congrats.md
  .github/test/pull-request.json
  .github/workflow-archive/congrats.yml
  .github/workflow-archive/pr-greeter.yml
Labels: Dev

#262 creating new project
  projects/plup-FidgetAdhdGameConsole/README.md
  projects/plup-FidgetAdhdGameConsole/cart.png
  projects/plup-FidgetAdhdGameConsole/gerber.zip
  projects/plup-FidgetAdhdGameConsole/schematic.pdf
  projects/plup-FidgetAdhdGameConsole/src/PCB_PCB_sfstgr_2_2023-11-15.json
  projects/plup-FidgetAdhdGameConsole/src/PCB_PCB_sfstgr_2_2023-11-15.pdf
  projects/plup-FidgetAdhdGameConsole/src/SCH_sfstgr_2023-11-16.json
Labels: Submission

#258 Create README.md
  projects/David's PCB/README.md
  projects/David's PCB/bom.csv
  projects/David's PCB/cart.png
  projects/David's PCB/gerber.zip
  projects/David's PCB/pickandplace.csv
  projects/David's PCB/schematic.pdf
  projects/David's PCB/src/PCB_PCB_hacker-pcb_2023-11-15.json
  projects/David's PCB/src/SCH_hacker-pcb_2023-11-21.json
  projects/David's PCB/src/SourceCodePro-Bold.otf
  projects/David's PCB/src/SourceCodePro-Medium.otf
  projects/David's PCB/src/SourceCodePro-Semibold.otf
  projects/David's PCB/src/icon.png
Labels: Submission

#257 Taylor Jackson's PCB NFC Card
  projects/Taylor's NFC Card/README.md
  projects/Taylor's NFC Card/bom.csv
  projects/Taylor's NFC Card/cart.png
  projects/Taylor's NFC Card/gerber.zip
  projects/Taylor's NFC Card/pickandplace.csv
  projects/Taylor's NFC Card/schematic.pdf
  projects/Taylor's NFC Card/src/PCB_PCB_Taylor_2023-11-08.json
  projects/Taylor's NFC Card/src/SCH_Taylor_2023-11-27.json
Labels: Submission
