Repository hackclub/OnBoard, pull requests merged in 2023-05, with the labels that each got.

#26 Dev2
  testfile.txt
Labels: Submission

#27 Dev
  projects/test_project copy/Gerber Files v8.26.zip
  projects/test_project copy/README.md
  projects/test_project copy/Screenshot 2023-05-24 at 16.21.22.png
  testfile.txt
Labels: Submission

#46 Show congrats if merge
  .github/workflows/congrats.yml
Labels: Dev

#55 Add TIPS.md
  TIPS.md
Labels: Dev

#54 Prevent mention of `daisy` org on GitHub
  .github/workflows/congrats.yml
Labels: Submission

#45 Add verification form to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Dev

#60 Directly tag Daisy on GH
  .github/workflows/congrats.yml
Labels: Dev

#44 [Snow's] NFC Business Card
  projects/Snows_NFC_Business_Card/BOM.csv
  projects/Snows_NFC_Business_Card/Gerbers.zip
  projects/Snows_NFC_Business_Card/JLCPCB.png
  projects/Snows_NFC_Business_Card/PickAndPlace.csv
  projects/Snows_NFC_Business_Card/README.md
  projects/Snows_NFC_Business_Card/design.pcb.json
  projects/Snows_NFC_Business_Card/design.schematic.json
Labels: Submission

#50 Briyan's Project - DIY NFC card
  projects/briyandyju09/BOM_PCB_NFC PCB_2023-05-24.csv
  projects/briyandyju09/Gerber.zip.zip
  projects/briyandyju09/JLCPCB.png
  projects/briyandyju09/README.md
  projects/briyandyju09/design
Labels: Submission

#52 Muhammad Shah's DIY Power Bank PCB
  .DS_Store
  projects/.DS_Store
  projects/Muhammad's_DIY_PowerBank/.DS_Store
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/BOM_PCB_DIY PowerBank v3_2_2023-05-30.csv
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/Gerber_PCB_DIY PowerBank v3_2.zip
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/PickAndPlace_PCB_DIY PowerBank v3_2_2023-05-30.csv
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/README.md
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/Schematic_DIY PowerBank v3_2023-05-30.pdf
  projects/Muhammad's_DIY_PowerBank/DIY Power Bank - Project 1/Screenshot 2023-05-29 at 09.44.15.png
  projects/Muhammad's_DIY_PowerBank/DIY USB-C PD Decoy - Project 2/BOM_PCB_USB_C_Decoy_v1.0_2023-05-30_2023-05-30.csv
  projects/Muhammad's_DIY_PowerBank/DIY USB-C PD Decoy - Project 2/Gerber_PCB_USB_C_Decoy_v1.0_2023-05-30_2023-05-30.zip
  projects/Muhammad's_DIY_PowerBank/DIY USB-C PD Decoy - Project 2/PickAndPlace_PCB_USB_C_Decoy_v1.0_2023-05-30_2023-05-30.csv
  projects/Muhammad's_DIY_PowerBank/DIY USB-C PD Decoy - Project 2/SCH_USB-C PD Decoy Board_2023-05-30.json
  projects/Muhammad's_DIY_PowerBank/DIY USB-C PD Decoy - Project 2/Schematic_USB-C PD Decoy Board_2023-05-30.pdf
Labels: Submission

#63 Gitignore DS_Store files
  .gitignore
  projects/Muhammad's_DIY_PowerBank/.DS_Store
Labels: Dev

#67 Add team sync for 2023-05-31
  meta/2023-05-31_TEAM_SYNC.md
  meta/README.md
Labels: Submission, Dev

#57 Card - Marios
  projects/Card-Marios/BusinessCard-KICAD.zip
  projects/Card-Marios/Gerbers.zip
  projects/Card-Marios/JLCPCB.png
  projects/Card-Marios/README.md
Labels: Submission

#59 Touch Capacitive Piano
  projects/Touch Capacitive Piano/BOM.csv
  projects/Touch Capacitive Piano/Gerber.zip
  projects/Touch Capacitive Piano/JLPCB.png
  projects/Touch Capacitive Piano/README.md
  projects/Touch Capacitive Piano/design.json
Labels: Submission
