Repository hackclub/OnBoard, pull requests merged in 2023-12, with the labels that each got.

#265 My Hacker Card
  projects/Arthur's Hacker Card/README.md
  projects/Arthur's Hacker Card/cart.png
  projects/Arthur's Hacker Card/gerber.zip
  projects/Arthur's Hacker Card/schematic.pdf
  projects/Arthur's Hacker Card/src/PCB_PCB_Hacker Card_2023-11-26.json
  projects/Arthur's Hacker Card/src/SCH_Hacker Card_2023-11-26.json
Labels: Submission

#272 Add Nick's LED board project
  projects/Nick's LED board/README.md
  projects/Nick's LED board/cart.png
  projects/Nick's LED board/gerber.zip
  projects/Nick's LED board/schematic.pdf
  projects/Nick's LED board/src/LED pannel.kicad_pcb
  projects/Nick's LED board/src/LED pannel.kicad_pro
  projects/Nick's LED board/src/LED pannel.kicad_sch
Labels: Submission

#269 feat: add pico backpack & perf board projects
  projects/kcoderhtml-perf-board/README.md
  projects/kcoderhtml-perf-board/cart.png
  projects/kcoderhtml-perf-board/gerber.zip
  projects/kcoderhtml-perf-board/src/PCB_Perf-Board.json
  projects/kcoderhtml-pico-led-backpack/README.md
  projects/kcoderhtml-pico-led-backpack/cart.png
  projects/kcoderhtml-pico-led-backpack/gerber.zip
  projects/kcoderhtml-pico-led-backpack/schematic.pdf
  projects/kcoderhtml-pico-led-backpack/src/PCB_pico-led-board.json
Labels: Submission

#243 Pour Cup PCB
  projects/pourcup/README.md
  projects/pourcup/cart.png
  projects/pourcup/gerber.zip
  projects/pourcup/schematic.pdf
  projects/pourcup/src/PourCup.kicad_pcb
  projects/pourcup/src/PourCup.kicad_pro
  projects/pourcup/src/PourCup.kicad_sch
Labels: Second

#268 Pico keyboard
  projects/rouguecrow-picopad/README.md
  projects/rouguecrow-picopad/cart.png
  projects/rouguecrow-picopad/gerber.zip
  projects/rouguecrow-picopad/schematic.pdf
  projects/rouguecrow-picopad/src/PCB_PCB_picopad_2023-12-01.json
  projects/rouguecrow-picopad/src/SCH_picopad_2023-12-01.json
Labels: Second

#274 Ishit's PCB
  projects/Ishit's PCB/README.md
  projects/Ishit's PCB/cart.png
  projects/Ishit's PCB/gerber.zip
  projects/Ishit's PCB/schematic.pdf
  projects/Ishit's PCB/src/OBJ_PCB_PCB-design.mtl
  projects/Ishit's PCB/src/OBJ_PCB_PCB-design.obj
Labels: Submission

#264 RFC grant restructuring
  meta/2023-11-21_RFC_GRANT_RESTRUCTURE.md
Labels: Dev

#276 Connor Ender 3 Bed Leveler
  projects/Connor Ender 3 Bed Leveler/README.md
  projects/Connor Ender 3 Bed Leveler/cart.png
  projects/Connor Ender 3 Bed Leveler/cart1.png
  projects/Connor Ender 3 Bed Leveler/gerber.zip
  projects/Connor Ender 3 Bed Leveler/schematic.pdf
  projects/Connor Ender 3 Bed Leveler/src/Auto Leveler  BOM.txt
  projects/Connor Ender 3 Bed Leveler/src/Auto Leveler.kicad_pcb
  projects/Connor Ender 3 Bed Leveler/src/Auto Leveler.kicad_pro
  projects/Connor Ender 3 Bed Leveler/src/Auto Leveler.kicad_sch
  projects/Connor Ender 3 Bed Leveler/src/readme.md
Labels: Submission, no HCB needed

#275 BENS USB HUB
  projects/BENS NEW CARD/README.md
  projects/BENS NEW CARD/bom.csv
  projects/BENS NEW CARD/cart.png
  projects/BENS NEW CARD/gerber.zip
  projects/BENS NEW CARD/pickandplace.csv
  projects/BENS NEW CARD/schematic.pdf
  projects/BENS NEW CARD/src/PCB_NEW_CARD.json
  projects/BENS NEW CARD/src/SHC_NEWCARD.json
  projects/BENS USB HUB/README.md
  projects/BENS USB HUB/bom.csv
  projects/BENS USB HUB/cart.png
  projects/BENS USB HUB/gerber.zip
  projects/BENS USB HUB/pickandplace.csv
  projects/BENS USB HUB/schematic.pdf
Labels: Submission

#279 Karmanyaah's Musical Keyboard
  projects/karmanyaahs-musical-keyboard/README.md
  projects/karmanyaahs-musical-keyboard/bom.csv
  projects/karmanyaahs-musical-keyboard/cart.png
  projects/karmanyaahs-musical-keyboard/gerber.zip
  projects/karmanyaahs-musical-keyboard/pickandplace.csv
  projects/karmanyaahs-musical-keyboard/schematic.pdf
  projects/karmanyaahs-musical-keyboard/src/PCB_PCB_touch keyboard_2023-12-17.json
  projects/karmanyaahs-musical-keyboard/src/SCH_555 Timer Based Keyboard_2023-12-17.json
Labels: Submission, no HCB needed

#280 yutaro hack card (multi NFC)
  projects/Yutaro's NFC buisness card/README.md
  projects/Yutaro's NFC buisness card/bom.csv
  projects/Yutaro's NFC buisness card/cart.png
  projects/Yutaro's NFC buisness card/gerber.zip
  projects/Yutaro's NFC buisness card/schematic.pdf
  projects/Yutaro's NFC buisness card/src/design.json
  projects/Yutaro's NFC buisness card/src/schema.json
Labels: Submission

#285 16KeyMacropadPico
  projects/16KeyKeyboardPico/README.md
  projects/16KeyKeyboardPico/cart.png
  projects/16KeyKeyboardPico/gerber.zip
  projects/16KeyKeyboardPico/schematic.pdf
  projects/16KeyKeyboardPico/src/PCB_16pady.json
  projects/16KeyKeyboardPico/src/SCH_16pady.json
Labels: Submission

#284 Project Submission: Alex P's NFC Card
  projects/Alex P's NFC Card/README.md
  projects/Alex P's NFC Card/bom.csv
  projects/Alex P's NFC Card/cart.png
  projects/Alex P's NFC Card/gerber.zip
  projects/Alex P's NFC Card/pickandplace.csv
  projects/Alex P's NFC Card/schematic.pdf
  projects/Alex P's NFC Card/src/pcb-easyeda.json
  projects/Alex P's NFC Card/src/schematic-easyeda.json
Labels: Submission

#287 Tamzid's NFC Card PCB
  projects/tamzidnfc/README.md
  projects/tamzidnfc/cart.png
  projects/tamzidnfc/gerber.zip
  projects/tamzidnfc/schematic.pdf
  projects/tamzidnfc/src/PCB_PCB_Tamzid NFC Card_2023-12-22.json
  projects/tamzidnfc/src/PCB_PCB_Tamzid NFC Card_2023-12-23.json
Labels: Submission

#281 Aditya PV- VikramSat Demonstration Board V1
  projects/Aditya PV- VikramSat Demonstration Board V1/README.md
  projects/Aditya PV- VikramSat Demonstration Board V1/cart.png
  projects/Aditya PV- VikramSat Demonstration Board V1/gerber.zip
  projects/Aditya PV- VikramSat Demonstration Board V1/schematic.pdf
  projects/Aditya PV- VikramSat Demonstration Board V1/src/PCB_vs-demon_v1.json
  projects/Aditya PV- VikramSat Demonstration Board V1/src/SCH_vs-demon_v1.json
Labels: Submission

#289 Fix link to shipping doc
  docs/ordering_from_JLCPCB.md
Labels: Dev
