Repository hackclub/OnBoard, pull requests merged in 2023-10, with the labels that each got.

#206 Andrew Yu - PCB NFC Business Card
  projects/Andrew's PCB NFC CARD/BOM_PCB_PCB Hacker Card_2023-09-30.csv
  projects/Andrew's PCB NFC CARD/Gerber_PCB_PCB Hacker Card.zip
  projects/Andrew's PCB NFC CARD/PickAndPlace_PCB_PCB Hacker Card_2023-09-30.csv
  projects/Andrew's PCB NFC CARD/README.md
  projects/Andrew's PCB NFC CARD/cart.png
Labels: Submission

#210 Change my project to the Traffic Light Controller
  projects/Sean's Project/1v1decoupling/BOM_PCB_modular-rp2040-1v1decoupling_2023-06-24.csv
  projects/Sean's Project/1v1decoupling/Gerber_PCB_modular-rp2040-1v1decoupling_2023-06-24.zip
  projects/Sean's Project/1v1decoupling/PickAndPlace_PCB_modular-rp2040-1v1decoupling_2023-06-24.csv
  projects/Sean's Project/3v3decoupling/BOM_PCB_modular-rp2040-3v3decoupling_2023-06-24 (1).csv
  projects/Sean's Project/3v3decoupling/Gerber_PCB_modular-rp2040-3v3decoupling_2023-06-24 (1).zip
  projects/Sean's Project/3v3decoupling/PickAndPlace_PCB_modular-rp2040-3v3decoupling_2023-06-24 (1).csv
  projects/Sean's Project/CartProof.png
  projects/Sean's Project/README.md
  projects/Sean's Project/backplane/BOM_PCB_modular-rp2040_2023-06-24.csv
  projects/Sean's Project/backplane/Gerber_PCB_modular-rp2040_2023-06-24.zip
  projects/Sean's Project/backplane/PickAndPlace_PCB_modular-rp2040_2023-06-24.csv
  projects/Sean's Project/clock/BOM_PCB_modular-rp2040-clock_2023-06-24.csv
  projects/Sean's Project/clock/Gerber_PCB_modular-rp2040-clock_2023-06-24.zip
  projects/Sean's Project/clock/PickAndPlace_PCB_modular-rp2040-clock_2023-06-24.csv
  projects/Sean's Project/control/BOM_PCB_modular-rp2040-control_2023-06-24.csv
  projects/Sean's Project/control/Gerber_PCB_modular-rp2040-control_2023-06-24.zip
  projects/Sean's Project/control/PickAndPlace_PCB_modular-rp2040-control_2023-06-24.csv
  projects/Sean's Project/flash/BOM_PCB_modular-rp2040-flash_2023-06-24.csv
  projects/Sean's Project/flash/Gerber_PCB_modular-rp2040-flash_2023-06-24.zip
  projects/Sean's Project/flash/PickAndPlace_PCB_modular-rp2040-flash_2023-06-24.csv
  projects/Sean's Project/power/BOM_PCB_modular-rp2040-power_2023-06-23.csv
  projects/Sean's Project/power/Gerber_PCB_modular-rp2040-power_2023-06-23.zip
  projects/Sean's Project/power/PickAndPlace_PCB_modular-rp2040-power_2023-06-23.csv
  projects/Sean's Project/rp2040/BOM_PCB_modular-rp2040-rp2040_2_2023-06-23.csv
  projects/Sean's Project/rp2040/Gerber_PCB_modular-rp2040-rp2040_2.zip
  projects/Sean's Project/rp2040/PickAndPlace_PCB_modular-rp2040-rp2040_2_2023-06-23.csv
  projects/Sean's Project/usb/BOM_PCB_modular-rp2040-usb_2023-06-24.csv
  projects/Sean's Project/usb/Gerber_PCB_modular-rp2040-usb_2023-06-24.zip
  projects/Sean's Project/usb/PickAndPlace_PCB_modular-rp2040-usb_2023-06-24.csv
  projects/seans-traffic-light-controller/BOM_PCB_TrafficLight-Controller_2_2023-10-02.csv
  projects/seans-traffic-light-controller/Gerber_PCB_TrafficLight-Controller_2.zip
  projects/seans-traffic-light-controller/PickAndPlace_PCB_TrafficLight-Controller_2_2023-10-02.csv
  projects/seans-traffic-light-controller/README.md
  projects/seans-traffic-light-controller/cart.png
Labels: Update

#211 Simplify the template.md
  projects/!Template/TEMPLATE.md
Labels: Dev

#213 Add aisler to vendors
  docs/VENDORS.md
Labels: Dev

#208 my nfc pcb card🧙‍♂️
  projects/Asher's-purple-nfc-card/BOM_iter3_2023-09-28.csv
  projects/Asher's-purple-nfc-card/Gerbers.zip
  projects/Asher's-purple-nfc-card/PCB_iter3_2023-09-28.json
  projects/Asher's-purple-nfc-card/README.md
  projects/Asher's-purple-nfc-card/cart.png
Labels: Submission

#222 Michael NFC CARD
  projects/Michael NFC PCB/README.md
  projects/Michael NFC PCB/cart.png
  projects/Michael NFC PCB/gerber.zip
  projects/Michael NFC PCB/schematic.pdf
  projects/Michael NFC PCB/src/PCB_PCB_michale nfc_2023-10-15.json
  projects/Michael NFC PCB/src/SCH_michale nfc_2023-10-15.json
Labels: Submission

#219 Create README.md
  projects/Krrish's PCB Card/README.md
  projects/Krrish's PCB Card/cart.png
  projects/Krrish's PCB Card/gerber.zip
  projects/Krrish's PCB Card/src/design.json
Labels: Submission

#221 Sabya's Controllable usb
  projects/Sabya's controllable usb/README.md
  projects/Sabya's controllable usb/bom.csv
  projects/Sabya's controllable usb/cart.png
  projects/Sabya's controllable usb/cart2.png
  projects/Sabya's controllable usb/gerber.zip
  projects/Sabya's controllable usb/pickandplace.csv
  projects/Sabya's controllable usb/src/SCH_2023-10-16.json
  projects/Sabya's controllable usb/src/Schematic_2023-10-16.pdf
Labels: Submission

#224 Aram's NFC business card.
  projects/ARAMS ONBOARD CARD/Gerbers.zip
  projects/ARAMS ONBOARD CARD/README.md
  projects/ARAMS ONBOARD CARD/bom.csv
  projects/ARAMS ONBOARD CARD/cart.png
  projects/ARAMS ONBOARD CARD/pickandplace.csv
Labels: Submission

#229 Kaden's "hacker card"
  projects/Kaden Business Card/README.md
  projects/Kaden Business Card/cart.png
  projects/Kaden Business Card/gerber.zip
  projects/Kaden Business Card/schematics.pdf
  projects/Kaden Business Card/src/PCB_PCB_HackerCard_2023-10-19.json
  projects/Kaden Business Card/src/SCH_OnBoard_2023-10-19.json
Labels: Submission

#230 timeline + jam links
  README.md
  docs/design_resources.md
Labels: Dev

#226 Fixed Mistakes
  projects/ARAMS ONBOARD CARD/README.md
  projects/ARAMS ONBOARD CARD/cart.png
  projects/ARAMS ONBOARD CARD/schematics.pdf
  projects/ARAMS ONBOARD CARD/sources.json
Labels: Update

#228 Usb hub
  projects/Krrish's USB HUB/README.md
  projects/Krrish's USB HUB/cart.png
  projects/Krrish's USB HUB/gerber.zip
  projects/Krrish's USB HUB/schematic.pdf
  projects/Krrish's USB HUB/src/PCB_PCB_Krrish.s.USB.HUB_2023-10-18.json
  projects/Krrish's USB HUB/src/design.json
Labels: Update

#234 Pull req for Macro Pad
  projects/Macro_Pad/README.md
  projects/Macro_Pad/cart.png
  projects/Macro_Pad/gerber.zip
  projects/Macro_Pad/schematic.pdf
  projects/Macro_Pad/src/PCB_PCB_Macropad_2023-10-24.json
  projects/Macro_Pad/src/SCH_Macropad_2023-10-24.json
Labels: Submission
