Repository hackclub/OnBoard, pull requests merged in 2024-08, with the labels that each got.

#890 CamMa-NFC-Card
  projects/CamMa-NFC-Card/README.md
  projects/CamMa-NFC-Card/cart.png
  projects/CamMa-NFC-Card/gerber.zip
  projects/CamMa-NFC-Card/schematic.pdf
  projects/CamMa-NFC-Card/src/pcb.json
  projects/CamMa-NFC-Card/src/schematic.json
Labels: Submission

#889 Csw's USB Hub
  projects/Csw's USB Hub/README.md
  projects/Csw's USB Hub/cart.png
  projects/Csw's USB Hub/gerber.zip
  projects/Csw's USB Hub/schematic.pdf
  projects/Csw's USB Hub/src/pcb.json
  projects/Csw's USB Hub/src/schematic.json
Labels: Submission

#895 Shreyas' PCB Card
  projects/Shreyas' PCB Card/README.md
  projects/Shreyas' PCB Card/cart.png
  projects/Shreyas' PCB Card/gerber.zip
  projects/Shreyas' PCB Card/schematic.pdf
  projects/Shreyas' PCB Card/src/pcb.json
  projects/Shreyas' PCB Card/src/schematic.json
Labels: Submission

#867 Omkar's ELRS transmitter
  projects/Omkar's Elrs transmitter/README.md
  projects/Omkar's Elrs transmitter/cart.png
  projects/Omkar's Elrs transmitter/gerber.zip
  projects/Omkar's Elrs transmitter/schematic.pdf
  projects/Omkar's Elrs transmitter/src/pcb.json
  projects/Omkar's Elrs transmitter/src/schematic.json
Labels: Submission

#908 add karmanyaahs pcb motor
  projects/karmanyaahs-pcb-motor-v0/README.md
  projects/karmanyaahs-pcb-motor-v0/cart.png
  projects/karmanyaahs-pcb-motor-v0/gerber.zip
  projects/karmanyaahs-pcb-motor-v0/schematic.pdf
  projects/karmanyaahs-pcb-motor-v0/src/pcb_motor_prototype_1.kicad_pcb
  projects/karmanyaahs-pcb-motor-v0/src/pcb_motor_prototype_1.kicad_prl
  projects/karmanyaahs-pcb-motor-v0/src/pcb_motor_prototype_1.kicad_pro
  projects/karmanyaahs-pcb-motor-v0/src/pcb_motor_prototype_1.kicad_sch
Labels: Submission, no HCB needed

#907 Add Karmanyaahs neopixel activity detector
  projects/karmanyaahs-neopixel-activity-detector/README.md
  projects/karmanyaahs-neopixel-activity-detector/bom.csv
  projects/karmanyaahs-neopixel-activity-detector/cart.png
  projects/karmanyaahs-neopixel-activity-detector/gerber.zip
  projects/karmanyaahs-neopixel-activity-detector/positions.csv
  projects/karmanyaahs-neopixel-activity-detector/schematic.pdf
  projects/karmanyaahs-neopixel-activity-detector/src/ledreset.kicad_sch
  projects/karmanyaahs-neopixel-activity-detector/src/tester.kicad_pcb
  projects/karmanyaahs-neopixel-activity-detector/src/tester.kicad_prl
  projects/karmanyaahs-neopixel-activity-detector/src/tester.kicad_pro
  projects/karmanyaahs-neopixel-activity-detector/src/tester.kicad_sch
  projects/karmanyaahs-neopixel-activity-detector/src/time.kicad_sch
Labels: Submission, no HCB needed

#903 GaelPager Pull Request, HackClub Onboard Program
  projects/GaelPager/README.md
  projects/GaelPager/cart.png
  projects/GaelPager/gerber.zip
  projects/GaelPager/schematic.pdf
  projects/GaelPager/src/pcb.json
  projects/GaelPager/src/schematic.json
Labels: Submission

#892 Create WarriorAttend Folder
  projects/WarriorAttendStation/README.md
  projects/WarriorAttendStation/cart.png
  projects/WarriorAttendStation/gerber.zip
  projects/WarriorAttendStation/schematic.pdf
  projects/WarriorAttendStation/src/PN532_NFC.kicad_sch
  projects/WarriorAttendStation/src/WarriorAttend.kicad_pcb
  projects/WarriorAttendStation/src/WarriorAttend.kicad_pro
  projects/WarriorAttendStation/src/WarriorAttend.kicad_sch
Labels: Submission

#901 4 Usb hub
  projects/usb hub 4ports/cart.png
  projects/usb hub 4ports/gerber.zip
  projects/usb hub 4ports/partscost.png
  projects/usb hub 4ports/readme.md
  projects/usb hub 4ports/schematic.pdf
  projects/usb hub 4ports/src/pcb.json
  projects/usb hub 4ports/src/schematic.json
Labels: Submission

#914 PCB NFC Card
  projects/CreeperCard/README.md
  projects/CreeperCard/cart.png
  projects/CreeperCard/gerber.zip
  projects/CreeperCard/schematic.pdf
  projects/CreeperCard/src/PCB_PCB_personalCard_2024-08-03.json
  projects/CreeperCard/src/SCH_personalCard_2024-08-03.json
Labels: Submission

#913 submission for thelegendofmario
  projects/Ethan's hackercard/README.md
  projects/Ethan's hackercard/cart.png
  projects/Ethan's hackercard/gerber.zip
  projects/Ethan's hackercard/schematic.pdf
  projects/Ethan's hackercard/src/pcb.json
  projects/Ethan's hackercard/src/schematic.json
Labels: Submission

#918 Added my pcb for onboard!
  .gitignore
  .idea/.gitignore
  projects/RedBullHackerCard/README.md
  projects/RedBullHackerCard/cart.png
  projects/RedBullHackerCard/gerber.zip
  projects/RedBullHackerCard/schematic.pdf
  projects/RedBullHackerCard/src/pcb.json
  projects/RedBullHackerCard/src/schematic.json
Labels: Submission

#909 Daniyal's HackCard
  projects/Daniyal's HackCard/README.md
  projects/Daniyal's HackCard/cart.png
  projects/Daniyal's HackCard/gerber.zip
  projects/Daniyal's HackCard/schematic.pdf
  projects/Daniyal's HackCard/src/pcb.json
  projects/Daniyal's HackCard/src/schematic.json
Labels: Submission

#917 LlamaCard | NFC Businesscard!
  projects/Llamacard/README.md
  projects/Llamacard/cart.png
  projects/Llamacard/gerber.zip
  projects/Llamacard/schematic.pdf
  projects/Llamacard/src/PCB_PCB_NFC-Llamacard_2024-08-04.json
  projects/Llamacard/src/SCH_NFC-Llamacard_2024-08-04.json
  schematic.pdf
Labels: Submission

#927 MadRobin13's USB HUB
  projects/USB_A_HUB_4_WAY/README.md
  projects/USB_A_HUB_4_WAY/cart.png
  projects/USB_A_HUB_4_WAY/gerber.zip
  projects/USB_A_HUB_4_WAY/schematic.pdf
  projects/USB_A_HUB_4_WAY/src/pcb.json
  projects/USB_A_HUB_4_WAY/src/schematic.json
Labels: Submission

#924 Compact Keyboard
  projects/CompactKeyboard/README.md
  projects/CompactKeyboard/cart.png
  projects/CompactKeyboard/gerber.zip
  projects/CompactKeyboard/schematic.pdf
  projects/CompactKeyboard/src/pcb.json
  projects/CompactKeyboard/src/schematic.json
Labels: Submission

#925 Vi Du's Hacker Card
  projects/Vi Du's Hacker Card/README.md
  projects/Vi Du's Hacker Card/cart.png
  projects/Vi Du's Hacker Card/gerber.zip
  projects/Vi Du's Hacker Card/schematic.pdf
  projects/Vi Du's Hacker Card/src/pcb.json
  projects/Vi Du's Hacker Card/src/schematic.json
Labels: Submission

#893 Add "PillPal" board
  projects/PillPal/README.md
  projects/PillPal/cart.png
  projects/PillPal/gerber.zip
  projects/PillPal/schematic.pdf
  projects/PillPal/src/pcb.json
  projects/PillPal/src/schematic.json
Labels: Submission

#931 Louisa's NFC PCB
  projects/Lou's NFC Card/README.md
  projects/Lou's NFC Card/cart.png
  projects/Lou's NFC Card/gerber.zip
  projects/Lou's NFC Card/schematic.pdf
  projects/Lou's NFC Card/src/PCB_PCB_nfc-card_2024-08-05.json
  projects/Lou's NFC Card/src/SCH_nfc-card_2024-08-05.json
Labels: Submission

#920 Daniyal's USB Hub
  projects/Daniyal's USB Hub/README.md
  projects/Daniyal's USB Hub/cart.png
  projects/Daniyal's USB Hub/gerber.zip
  projects/Daniyal's USB Hub/schematic.pdf
  projects/Daniyal's USB Hub/src/pcb.json
  projects/Daniyal's USB Hub/src/schematic.json
Labels: Submission

#910 Add my project Yet Another USB-C to USB-A Adapter Board
  projects/USB-A_to_USB-C_Adapter_PCB/README.md
  projects/USB-A_to_USB-C_Adapter_PCB/cart.png
  projects/USB-A_to_USB-C_Adapter_PCB/gerber.zip
  projects/USB-A_to_USB-C_Adapter_PCB/schematic.pdf
  projects/USB-A_to_USB-C_Adapter_PCB/src/pcb.json
  projects/USB-A_to_USB-C_Adapter_PCB/src/schematic.json
Labels: Submission

#919 Neopixel Matrix
  projects/NeopixelMatrix/README.md
  projects/NeopixelMatrix/cart.png
  projects/NeopixelMatrix/gerber.zip
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Adhesive.gba
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Courtyard.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Cu.gbl
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Fab.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Mask.gbs
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Paste.gbp
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-B_Silkscreen.gbo
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-Edge_Cuts.gm1
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Adhesive.gta
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Courtyard.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Cu.gtl
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Fab.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Mask.gts
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Paste.gtp
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-F_Silkscreen.gto
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-Margin.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-NPTH-drl_map.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-NPTH.drl
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-PTH-drl_map.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-PTH.drl
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_1.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_2.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_3.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_4.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_5.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_6.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_7.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_8.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_9.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_Comments.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_Drawings.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_Eco1.gbr
  projects/NeopixelMatrix/gerber/Neopixel/Neopixel-User_Eco2.gbr
  projects/NeopixelMatrix/schematic.pdf
  projects/NeopixelMatrix/src/Neopixel.kicad_pcb
  projects/NeopixelMatrix/src/Neopixel.kicad_pro
  projects/NeopixelMatrix/src/Neopixel.kicad_sch
  projects/NeopixelMatrix/src/Neopixel.step
Labels: Submission

#921 Ouo314's PCB
  projects/ESP32_rc_car/README.md
  projects/ESP32_rc_car/cart.png
  projects/ESP32_rc_car/gerber.zip
  projects/ESP32_rc_car/schematic.pdf
  projects/ESP32_rc_car/src/pcb.json
  projects/ESP32_rc_car/src/schematic.json
Labels: Submission

#885 abels macropad v2
  projects/abels_macropad/README.md
  projects/abels_macropad/cart.png
  projects/abels_macropad/gerber.zip
  projects/abels_macropad/schematic.pdf
  projects/abels_macropad/src/pcb.json
  projects/abels_macropad/src/schematic.json
Labels: Submission

#902 added my project 'hack-pcb'
  projects/hack-pcb/README.md
  projects/hack-pcb/cart.png
  projects/hack-pcb/gerber.zip
  projects/hack-pcb/schematic.pdf
  projects/hack-pcb/src/PCB_PCB_card_2024-08-01.json
  projects/hack-pcb/src/SCH_card_2024-08-02.json
Labels: Submission

#939 SV06-Motherboard-V2
  projects/SV06-Motherboard-V2/README.md
  projects/SV06-Motherboard-V2/cart.png
  projects/SV06-Motherboard-V2/gerber.zip
  projects/SV06-Motherboard-V2/schematic.pdf
  projects/SV06-Motherboard-V2/src/extruderevolved.kicad_pcb
  projects/SV06-Motherboard-V2/src/extruderevolved.kicad_pro
  projects/SV06-Motherboard-V2/src/extruderevolved.kicad_sch
Labels: Submission, no HCB needed

#875 Circuit YT NFC card
  projects/CircuitYTNFCcard/README.md
  projects/CircuitYTNFCcard/cart.png
  projects/CircuitYTNFCcard/gerber.zip
  projects/CircuitYTNFCcard/schematic.pdf
  projects/CircuitYTNFCcard/src/PCB_PCB_Waiduino-NFC-Card-Hack-Club_2024-07-26.json
  projects/CircuitYTNFCcard/src/SCH_Waiduino-NFC-Card-Hack-Club_2024-07-26.json
Labels: Submission, no HCB needed

#938 Hacker card PCB
  projects/Felix's Hack Card/README.md
  projects/Felix's Hack Card/cart.png
  projects/Felix's Hack Card/gerber.zip
  projects/Felix's Hack Card/schematic.pdf
  projects/Felix's Hack Card/src/pcb.json
  projects/Felix's Hack Card/src/schematic.json
Labels: Submission

#937 Arjun's USB Hub
  projects/Arjun's-usb-hub/BOM_usb-hub_2024-08-06.csv
  projects/Arjun's-usb-hub/PickAndPlace_PCB_2024-08-06.csv
  projects/Arjun's-usb-hub/README.md
  projects/Arjun's-usb-hub/cart.png
  projects/Arjun's-usb-hub/gerber.zip
  projects/Arjun's-usb-hub/schematic.pdf
  projects/Arjun's-usb-hub/src/PCB_PCB_2024-08-06.json
  projects/Arjun's-usb-hub/src/SCH_usb-hub_2024-08-06.json
Labels: Submission

#906 gopaldotcom's USB Hub
  projects/gopaldotcom_hack-pcb/README.md
  projects/gopaldotcom_hack-pcb/cart.png
  projects/gopaldotcom_hack-pcb/gerber.zip
  projects/gopaldotcom_hack-pcb/schematic.pdf
  projects/gopaldotcom_hack-pcb/src/PCB_PCB.json
  projects/gopaldotcom_hack-pcb/src/SCH.json
Labels: Submission

#940 USB Tester
  projects/USB tester/ schematic.pdf
  projects/USB tester/README.md
  projects/USB tester/cart.png
  projects/USB tester/gerber.zip
  projects/USB tester/src/USB tester.kicad_pcb
  projects/USB tester/src/USB tester.kicad_pro
  projects/USB tester/src/USB tester.kicad_sch
  projects/USB tester/src/USB tester.step
Labels: Submission

#942 Add "AleksMacroboard" Board
  projects/AleksMacroboard/README.md
  projects/AleksMacroboard/cart.png
  projects/AleksMacroboard/cartwithcoupon.png
  projects/AleksMacroboard/gerber.zip
  projects/AleksMacroboard/schematic.pdf
  projects/AleksMacroboard/src/PCB_PCB_Macropad_2024-08-07.json
  projects/AleksMacroboard/src/SCH_Macropad_2024-08-07.json
Labels: Submission

#935 Flipper Zero addon board
  projects/Business Card/cart.png
  projects/Business Card/gerber.zip
  projects/Business Card/schematic.pdf
  projects/Business Card/src/pcb.json
  projects/Business Card/src/schematic.json
  projects/Flipper Zero GPIO/README.md
  projects/Flipper Zero GPIO/cart.png
  projects/Flipper Zero GPIO/gerber.zip
  projects/Flipper Zero GPIO/schematic.pdf
  projects/Flipper Zero GPIO/src/pcb.json
  projects/Flipper Zero GPIO/src/schematic.json
Labels: Submission

#944 Add "Hack-n-roll board"
  PROJECT_NAME/README.md
  PROJECT_NAME/Schematic.pdf.pdf
  PROJECT_NAME/cart.png
  PROJECT_NAME/gerber.zip
  PROJECT_NAME/src/PCB_PCB_Business-Card_2_2024-07-06.json
  PROJECT_NAME/src/SCH_Business-Card_2024-07-06.json
Labels: Submission

#951 My project
  projects/Visit_cards/README.md
  projects/Visit_cards/cart.png
  projects/Visit_cards/gerber.zip
  projects/Visit_cards/schematic.pdf
  projects/Visit_cards/src/pcb.json
  projects/Visit_cards/src/schematic.json
Labels: Submission

#952 Dylan's Pull Request
  projects/Dylan's Custom NFC Card/README.md
  projects/Dylan's Custom NFC Card/cart.png
  projects/Dylan's Custom NFC Card/gerber.zip
  projects/Dylan's Custom NFC Card/schematic.pdf
  projects/Dylan's Custom NFC Card/src/pcb.json
  projects/Dylan's Custom NFC Card/src/schematic.json
  projects/Dylan's NFC Card
Labels: Submission

#863 Grant Application
  projects/Vansh-PCB/README.md
  projects/Vansh-PCB/cart.png
  projects/Vansh-PCB/gerber.zip
  projects/Vansh-PCB/schematic.pdf
  projects/Vansh-PCB/src/pcb.json
  projects/Vansh-PCB/src/schematic.pcb
Labels: Submission, Stalled

#947 Robot PCB
  projects/Robot/README.md
  projects/Robot/cart.png
  projects/Robot/gerber.zip
  projects/Robot/schematic.pdf
  projects/Robot/src/_autosave-RobotV1.kicad_pcb
  projects/Robot/src/_autosave-RobotV1.kicad_pro
  projects/Robot/src/_autosave-RobotV1.kicad_sch
Labels: Submission

#956 Yash00241's hacker card
  projects/Yash00241's Hacker Card/README.md
  projects/Yash00241's Hacker Card/cart.png
  projects/Yash00241's Hacker Card/gerber.zip
  projects/Yash00241's Hacker Card/schematic.pdf
  projects/Yash00241's Hacker Card/src/BOM.csv
  projects/Yash00241's Hacker Card/src/PickAndPlace.csv
Labels: Submission

#955 Mattsoh's NFC Card
  .idea/.gitignore
  projects/Hack-N-Roll/README.md
  projects/Hack-N-Roll/Schematic.pdf.pdf
  projects/Hack-N-Roll/cart.png
  projects/Hack-N-Roll/gerber.zip
  projects/Hack-N-Roll/src/PCB_PCB_Business-Card_2_2024-07-06.json
  projects/Hack-N-Roll/src/SCH_Business-Card_2024-07-06.json
  projects/Hacker_Card_Matthew/README.md
  projects/Hacker_Card_Matthew/cart.png
  projects/Hacker_Card_Matthew/gerber.zip
  projects/Hacker_Card_Matthew/schematic.pdf
  projects/Hacker_Card_Matthew/src/PCB_PCB_NFC_card_2024-08-10.json
  projects/Hacker_Card_Matthew/src/SCH_NFC_card_2024-08-10.json
Labels: Submission

#961 Automation for Labeler
  .github/labeler.yml
  .github/workflows/organize.yml
Labels: Dev

#962 Yash00241's hacker card
  projects/Yash00241's USB HUB/README.md
  projects/Yash00241's USB HUB/cart.png
  projects/Yash00241's USB HUB/gerber.zip
  projects/Yash00241's USB HUB/schematic.pdf
  projects/Yash00241's USB HUB/src/pcb.json
  projects/Yash00241's USB HUB/src/schematic.json
Labels: Submission, no HCB needed

#963 add "Arduino UNO Programmer" board
  projects/Arduino_programmer/README.md
  projects/Arduino_programmer/Schematic.pdf
  projects/Arduino_programmer/cart.png
  projects/Arduino_programmer/gerber.zip
  projects/Arduino_programmer/src/PCB_PCB_Arduino-Programmer_2_2024-08-11.json
  projects/Arduino_programmer/src/SCH_Arduino-Programmer_2024-08-11.json
Labels: Submission

#958 USB Trio Hub
  projects/USB Trio Hub/cart.png
  projects/USB Trio Hub/gerber.zip
  projects/USB Trio Hub/readme.md
  projects/USB Trio Hub/schematic.pdf
  projects/USB Trio Hub/src/pcb.json
  projects/USB Trio Hub/src/schematic.json
Labels: Submission

#959 uTesla
  projects/uTesla/README.md
  projects/uTesla/cart.png
  projects/uTesla/gerber.zip
  projects/uTesla/schematic.pdf
  projects/uTesla/src/Contacts.kicad_sch
  projects/uTesla/src/Driver.kicad_sch
  projects/uTesla/src/Microcontroller.kicad_sch
  projects/uTesla/src/PowerSupply.kicad_sch
  projects/uTesla/src/SDCard.kicad_sch
  projects/uTesla/src/fp-lib-table
  projects/uTesla/src/sym-lib-table
  projects/uTesla/src/uTesla.kicad_pcb
  projects/uTesla/src/uTesla.kicad_pro
  projects/uTesla/src/uTesla.kicad_sch
Labels: Submission, no HCB needed

#969 Fix grammatical error!
  README.md
Labels: Dev

#968 Flight Computer V3
  projects/Flight Computer V3/README.md
  projects/Flight Computer V3/cart.png
  projects/Flight Computer V3/gerber.zip
  projects/Flight Computer V3/schematic.pdf
  projects/Flight Computer V3/src/pcb.json
  projects/Flight Computer V3/src/schematic.json
Labels: Submission

#971 Yash00241's USB HUB
  projects/Yash00241's USB HUB/cart.png
Labels: Submission

#964 "PCB-Dock" request
  projects/pcb-dock/PCB_PCB_usb-hub_2024-08-12.pdf
  projects/pcb-dock/README.md
  projects/pcb-dock/Schematic_usb-hub_2024-08-12.pdf
  projects/pcb-dock/cart.PNG.png
  projects/pcb-dock/gerber.zip.zip
  projects/pcb-dock/src/PCB_PCB_usb-hub_2024-08-11.json
  projects/pcb-dock/src/SCH_usb-hub_2024-08-11.json
Labels: Submission

#965 Esp temperature reader
  projects/esp32-temperature/cart.png
  projects/esp32-temperature/gerber.zip
  projects/esp32-temperature/readme.md
  projects/esp32-temperature/schematic.pdf
  projects/esp32-temperature/src/pcb.json
  projects/esp32-temperature/src/schematic.json
Labels: Submission

#972 Update Krishnan_Hacker_Card
  projects/Krishnan_Hacker_Card/README.md
  projects/Krishnan_Hacker_Card/bom.csv
  projects/Krishnan_Hacker_Card/cart.png
  projects/Krishnan_Hacker_Card/gerber.zip
  projects/Krishnan_Hacker_Card/pick_and_place.csv
  projects/Krishnan_Hacker_Card/schematic.pdf
  projects/Krishnan_Hacker_Card/src/pcb.json
  projects/Krishnan_Hacker_Card/src/schematic.json
Labels: Submission

#973 Holy60-3d - A simple 60% keyboard pcb that makes DIY keyboards SOOO much easier
  projects/holy60-3d/README.md
  projects/holy60-3d/cart.png
  projects/holy60-3d/gerber.zip
  projects/holy60-3d/schematic.pdf
  projects/holy60-3d/src/holy60-3d.kicad_pcb
  projects/holy60-3d/src/holy60-3d.kicad_pro
  projects/holy60-3d/src/holy60-3d.kicad_sch
  projects/holy60-3d/src/holy60-3d.step
Labels: Submission

#974 Add my project: Amogus Buzzer
  projects/AmogusBuzzer/README.md
  projects/AmogusBuzzer/board3dmodel.png
  projects/AmogusBuzzer/cart.png
  projects/AmogusBuzzer/gerber.zip
  projects/AmogusBuzzer/pcb.pdf
  projects/AmogusBuzzer/schematic.pdf
  projects/AmogusBuzzer/src/PCB_PCB_Amogus-Buzzer_2024-08-13.json
  projects/AmogusBuzzer/src/SCH_Amogus-Buzzer_2024-08-13.json
Labels: Submission

#975 Henry's First PCB
  projects/!1henryspcbcard/README.md
  projects/!1henryspcbcard/gerber.zip
  projects/!1henryspcbcard/schematic.pdf
  projects/!1henryspcbcard/src/pcb.json
  projects/!1henryspcbcard/src/placeholder
  projects/!1henryspcbcard/src/schematics.json
Labels: Submission

#979 Add the Arduino Tranmitter
  projects/4 digit counter/README.md
  projects/Transmitter PCB/README.md
  projects/Transmitter PCB/Schematic.pdf
  projects/Transmitter PCB/cart.png
  projects/Transmitter PCB/gerber.zip
  projects/Transmitter PCB/src/PCB_PCB_Arduino-Tx_2_2024-08-14.json
  projects/Transmitter PCB/src/SCH_Arduino-Tx_2024-08-14.json
Labels: Submission, no HCB needed

#983 xriii's hacker card
  projects/xriiitox's hacker card/README.md
  projects/xriiitox's hacker card/cart.png
  projects/xriiitox's hacker card/gerber.zip
  projects/xriiitox's hacker card/schematic.pdf
  projects/xriiitox's hacker card/src/design.json
  projects/xriiitox's hacker card/src/schematic.json
Labels: Submission

#982 Adding my Hacker Card! [again]
  projects/eesa-card/README.md
  projects/eesa-card/cart.png
  projects/eesa-card/gerber.zip
  projects/eesa-card/schematic.pdf
  projects/eesa-card/src/pcb.json
  projects/eesa-card/src/schematic.json
Labels: Submission

#960 Create README.md
  projects/Moonstone/README.md
  projects/Moonstone/cart.png
  projects/Moonstone/gerber.zip
  projects/Moonstone/schematic.pdf
  projects/Moonstone/src/Moonstone.kicad_pcb
  projects/Moonstone/src/Moonstone.kicad_pro
  projects/Moonstone/src/Moonstone.kicad_sch
Labels: Submission

#984 gabrieldrl's PCB
  projects/gdrlNFCCard/README.md
  projects/gdrlNFCCard/cart.png
  projects/gdrlNFCCard/gerber.zip
  projects/gdrlNFCCard/schematic.pdf
  projects/gdrlNFCCard/src/pcb.json
  projects/gdrlNFCCard/src/schematic.json
Labels: Submission

#977 FPV flight controller
  projects/DIY 30x30 FPV FC/README.md
  projects/DIY 30x30 FPV FC/cart.png
  projects/DIY 30x30 FPV FC/gerber.zip
  projects/DIY 30x30 FPV FC/schematic.pdf
  projects/DIY 30x30 FPV FC/src/pcb_v0.1.json
  projects/DIY 30x30 FPV FC/src/schematic_v0.1.json
Labels: Submission

#980 Added the 4 digit Counter
  projects/4 digit counter/README.md
  projects/4 digit counter/cart.png
  projects/4 digit counter/gerber.zip
  projects/4 digit counter/schematic.pdf
  projects/4 digit counter/src/PCB_PCB_4-Digit-Counter_2024-08-14.json
  projects/4 digit counter/src/SCH_4-Digit-Counter_2024-08-14.json
Labels: Submission

#987 Update PR template to include checkbox instructions and OBL checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Dev

#989 MARAUDER BOARD
  projects/marauder-board/cart.png
  projects/marauder-board/gerber.zip
  projects/marauder-board/readme.md
  projects/marauder-board/schematic.pdf
  projects/marauder-board/src/pcb.json
  projects/marauder-board/src/schematic.json
Labels: Submission

#992 Bitcoin keychain
  projects/Eesas-bitcoin-keychain/README.md
  projects/Eesas-bitcoin-keychain/cart.png
  projects/Eesas-bitcoin-keychain/gerber.zip
  projects/Eesas-bitcoin-keychain/schematic.pdf
  projects/Eesas-bitcoin-keychain/src/pcb.json
  projects/Eesas-bitcoin-keychain/src/schematic.json
Labels: Submission

#953 USB A to C Adapter
  projects/First_PCB/README.md
  projects/First_PCB/cart.png
  projects/First_PCB/gerber.zip
  projects/First_PCB/schematic.pdf
  projects/First_PCB/src/PCB_PCB_PCB-device_2_2024-08-12.json
  projects/First_PCB/src/SCH_PCB-device_2024-08-12.json
Labels: Submission

#996 USB extender
  projects/usb-extender/cart.png
  projects/usb-extender/gerber.zip
  projects/usb-extender/readme.md
  projects/usb-extender/schematic.pdf
  projects/usb-extender/src/pcb.json
  projects/usb-extender/src/schematic.json
Labels: Submission

#994 Usb HUB
  projects/Usb HUB/cart.png
  projects/Usb HUB/gerber.zip
  projects/Usb HUB/readme.md
  projects/Usb HUB/schematic.pdf
  projects/Usb HUB/src/pcb.json
  projects/Usb HUB/src/schematic.json
Labels: Submission

#985 esp-devboard
  projects/ESP-devboard/README.md
  projects/ESP-devboard/cart.png
  projects/ESP-devboard/gerber.zip
  projects/ESP-devboard/schematic.pdf
  projects/ESP-devboard/src/pcb.json
  projects/ESP-devboard/src/schematic.json
Labels: Submission

#990 USB hub
  projects/USB hub/cart.png
  projects/USB hub/gerber.zip
  projects/USB hub/readme.md
  projects/USB hub/schematic.pdf
  projects/USB hub/src/pcb.json
  projects/USB hub/src/schematic.json
Labels: Submission

#936 ankita-nfc-card
  projects/ankitas-nfc-card/README.md
  projects/ankitas-nfc-card/cart.png
  projects/ankitas-nfc-card/gerber.zip
  projects/ankitas-nfc-card/schematic.pdf
  projects/ankitas-nfc-card/src/pcb.json
  projects/ankitas-nfc-card/src/schematic.json
Labels: Submission

#998 Add "Hack-n-Roll" Board
  projects/hack-n-roll/README.md
  projects/hack-n-roll/cart.png
  projects/hack-n-roll/gerber.zip
  projects/hack-n-roll/schematic.pdf
  projects/hack-n-roll/src/PCB_PCB_New-Project_2024-08-15.json
  projects/hack-n-roll/src/SCH_New-Project_2024-08-15.json
Labels: Submission

#997 Hackpill
  projects/Hackpill/README.md
  projects/Hackpill/cart.png
  projects/Hackpill/gerber.zip
  projects/Hackpill/schematic.pdf
  projects/Hackpill/src/Hackpill.kicad_pcb
  projects/Hackpill/src/Hackpill.kicad_pro
  projects/Hackpill/src/Hackpill.kicad_sch
Labels: Submission

#988 !!davidgoliath-pcb-nfc-hackercard
  projects/!!davidgoliath-nfc-card/README.md
  projects/!!davidgoliath-nfc-card/cart.PNG
  projects/!!davidgoliath-nfc-card/cart.png
  projects/!!davidgoliath-nfc-card/gerber.zip
  projects/!!davidgoliath-nfc-card/schematic.pdf
  projects/!!davidgoliath-nfc-card/src/pcb.json
  projects/!!davidgoliath-nfc-card/src/schematic.json
Labels: Submission

#1001 usb hub
  projects/usb hub/cart.png
  projects/usb hub/gerber.zip
  projects/usb hub/readme.md
  projects/usb hub/schematic.pdf
  projects/usb hub/src/pcb.json
  projects/usb hub/src/schematic.json
Labels: Submission

#1003 ISSptr
  projects/ISSptr/README.md
  projects/ISSptr/cart.png
  projects/ISSptr/gerber.zip
  projects/ISSptr/schematic.pdf
  projects/ISSptr/src/Compass.kicad_sch
  projects/ISSptr/src/ESP32.kicad_sch
  projects/ISSptr/src/ISSptr.kicad_pcb
  projects/ISSptr/src/ISSptr.kicad_pro
  projects/ISSptr/src/ISSptr.kicad_sch
  projects/ISSptr/src/PowerSupply.kicad_sch
  projects/ISSptr/src/Separator.kicad_sch
  projects/ISSptr/src/Servo.kicad_sch
  projects/ISSptr/src/Stepper.kicad_sch
Labels: Submission

#1006 gamingsystemankita
  projects/gamingsystemankita/README.md
  projects/gamingsystemankita/cart.png
  projects/gamingsystemankita/gerber.zip
  projects/gamingsystemankita/schematic.pdf
  projects/gamingsystemankita/src/pcb.json
  projects/gamingsystemankita/src/schematic.json
Labels: Submission

#1004 Hacker Card Grant Request
  projects/amazing-hacker-card/README.md
  projects/amazing-hacker-card/cart.png
  projects/amazing-hacker-card/gerber.zip
  projects/amazing-hacker-card/schematic.pdf
  projects/amazing-hacker-card/src/PCB_PCB_NFC-Business-Card_2024-08-17.json
  projects/amazing-hacker-card/src/SCH_NFC-Business-Card_2024-08-17.json
Labels: Submission

#993 Li-Ion Battery pcb
  projects/Li-ion_Battery/BOM.csv
  projects/Li-ion_Battery/CPL.csv
  projects/Li-ion_Battery/README.md
  projects/Li-ion_Battery/cart.png
  projects/Li-ion_Battery/gerber.zip
  projects/Li-ion_Battery/schematic.pdf
  projects/Li-ion_Battery/src/1-PCB_PCB_fefr.json
  projects/Li-ion_Battery/src/1-Schematic_fefr.json
Labels: Submission

#1007 USB hub
  projects/!henryusbhub/README.md
  projects/!henryusbhub/cart.png
  projects/!henryusbhub/gerber.zip
  projects/!henryusbhub/schematic.pdf
  projects/!henryusbhub/src/pcb.json
  projects/!henryusbhub/src/placeholder
  projects/!henryusbhub/src/schematic.json
Labels: Submission

#1009 trio usb hub
  projects/trio usb hub/cart.png
  projects/trio usb hub/gerber.zip
  projects/trio usb hub/readme.md
  projects/trio usb hub/schematic.pdf
  projects/trio usb hub/src/pcb.json
  projects/trio usb hub/src/schematic.json
Labels: Submission

#948 Anirudh's Heart LED
  projects/Anirudh's Heart LED/README.md
  projects/Anirudh's Heart LED/cart.png
  projects/Anirudh's Heart LED/gerber.zip
  projects/Anirudh's Heart LED/schematic.pdf
  projects/Anirudh's Heart LED/src/pcb.json
  projects/Anirudh's Heart LED/src/schematic.json
Labels: Submission

#1012 Add "Smart Flower" Board
  projects/smart-flower/BOM.xlsx
  projects/smart-flower/ProProject_Smart Flower.epro
  projects/smart-flower/README.md
  projects/smart-flower/cart.png
  projects/smart-flower/cart_with_coupon.png
  projects/smart-flower/gerber.zip
  projects/smart-flower/schematic.pdf
  projects/smart-flower/src/PCB_Smart-Flower-PCB1_2024-08-20 (easyeda STD).json
  projects/smart-flower/src/ProProject_Smart Flower.epro
  projects/smart-flower/src/SCH_Smart-Flower_2024-08-20 (easyeda STD).json
Labels: Submission

#999 Neopixel Globe
  projects/Neopixel_Globe/README.md
  projects/Neopixel_Globe/cart.png
  projects/Neopixel_Globe/gerber.zip
  projects/Neopixel_Globe/schematic.pdf
  projects/Neopixel_Globe/src/pcb.json
  projects/Neopixel_Globe/src/schematic.json
Labels: Submission

#1013 Patcybermind's mcu dev board
  projects/patcybermind's first mcu dev board/README.md
  projects/patcybermind's first mcu dev board/cart.png
  projects/patcybermind's first mcu dev board/gerber.zip
  projects/patcybermind's first mcu dev board/schematic.pdf
  projects/patcybermind's first mcu dev board/src/my_design.kicad_pcb
  projects/patcybermind's first mcu dev board/src/my_design.kicad_prl
  projects/patcybermind's first mcu dev board/src/my_design.kicad_pro
  projects/patcybermind's first mcu dev board/src/my_design.kicad_sch
  projects/patcybermind's first mcu dev board/src/placeholder.md
Labels: Submission

#1019 USB hub with a printable case
  projects/USB_Hub_With_Case/README.MD
  projects/USB_Hub_With_Case/cart.png
  projects/USB_Hub_With_Case/gerber.zip
  projects/USB_Hub_With_Case/schematic.pdf
  projects/USB_Hub_With_Case/src/pcb.json
  projects/USB_Hub_With_Case/src/schematic.json
Labels: Submission

#1015 Add Nick's USB to Aux board (2nd submission because I goofed on the first)
  projects/Nick's USB-audio board/README.md
  projects/Nick's USB-audio board/cart.png
  projects/Nick's USB-audio board/gerber.zip
  projects/Nick's USB-audio board/schematic.pdf
  projects/Nick's USB-audio board/src/usbAudio.kicad_pcb
  projects/Nick's USB-audio board/src/usbAudio.kicad_prl
  projects/Nick's USB-audio board/src/usbAudio.kicad_pro
  projects/Nick's USB-audio board/src/usbAudio.kicad_sch
Labels: Submission

#1023 Owski Hacker pcb Buisness card
  projects/OWSKI_PCB_HACKER CARD/README.md
  projects/OWSKI_PCB_HACKER CARD/cart.png
  projects/OWSKI_PCB_HACKER CARD/gerber.zip
  projects/OWSKI_PCB_HACKER CARD/schematic.pdf
  projects/OWSKI_PCB_HACKER CARD/src/pcb.json
  projects/OWSKI_PCB_HACKER CARD/src/schematic.json
Labels: Submission

#1021 Kippie's Hackercard
  projects/Kippie's Hackercard/README.md
  projects/Kippie's Hackercard/cart.png
  projects/Kippie's Hackercard/gerber.zip
  projects/Kippie's Hackercard/schematic.pdf
  projects/Kippie's Hackercard/src/pcb.json
  projects/Kippie's Hackercard/src/schematic.json
Labels: Submission

#1017 Create README.md
  projects/Business_card/README.md
  projects/Business_card/cart.png
  projects/Business_card/gerber.zip
  projects/Business_card/schematic.pdf
  projects/Business_card/src/pcb.json
  projects/Business_card/src/schematic.json
Labels: Submission

#1024 My NFC Card PR
  projects/pratyush's_nfcCard/README.md
  projects/pratyush's_nfcCard/cart.png
  projects/pratyush's_nfcCard/gerber.zip
  projects/pratyush's_nfcCard/schematic.pdf
  projects/pratyush's_nfcCard/src/pcb.json
  projects/pratyush's_nfcCard/src/schematic.json
  projects/pratyush's_nfcCard/src/test.md
Labels: Submission

#1025 USB HUB
  projects/usb-hub-project/cart.png
  projects/usb-hub-project/gerber.zip
  projects/usb-hub-project/readme.md
  projects/usb-hub-project/schematic.pdf
  projects/usb-hub-project/src/ab
  projects/usb-hub-project/src/pcb.json
  projects/usb-hub-project/src/schematic.json
Labels: Submission

#1002 KiCad Instructions
  README.md
  docs/KiCad_Beginner_Guide.md
  docs/images/kicad/25X48MM_NFC_ANTENNA.kicad_mod
  docs/images/kicad/add_wire.png
  docs/images/kicad/files.png
  docs/images/kicad/menu.png
  docs/images/kicad/pcb/KiCadTest.kicad_pcb
  docs/images/kicad/pcb/KiCadTest.kicad_pro
  docs/images/kicad/pcb/KiCadTest.kicad_sch
  docs/images/kicad/plugins.png
  docs/images/kicad/resistor.png
  docs/images/kicad/schematic.png
  docs/submitting-kicad.md
  projects/Dylan's NFC Card
Labels: Submission, Dev, Invalid

#1029 Leapster Cartridge Shield
  projects/LeapsterDumper/README.md
  projects/LeapsterDumper/cart.png
  projects/LeapsterDumper/gerber.zip
  projects/LeapsterDumper/schematic.pdf
  projects/LeapsterDumper/src/pcb.json
  projects/LeapsterDumper/src/schematic.json
Labels: Submission

#1022 Add New_PCB board
  projects/New_PCB/README.md
  projects/New_PCB/Schematic.pdf
  projects/New_PCB/cart.png
  projects/New_PCB/cart.png.png
  projects/New_PCB/gerber.zip
  projects/New_PCB/src/PCB_PCB_New_Hacker_Card_2024-08-23.json
  projects/New_PCB/src/SCH_New_Hacker_Card_2024-08-23.json
Labels: Submission

#1027 Eminent's USB-C Hub
  projects/Eminents_USB_Hub/README.md
  projects/Eminents_USB_Hub/cart.png
  projects/Eminents_USB_Hub/gerber.zip
  projects/Eminents_USB_Hub/schematic.pdf
  projects/Eminents_USB_Hub/src/pcb.json
  projects/Eminents_USB_Hub/src/schematic.json
Labels: Submission

#1028 SnailHub Project Grant
  projects/snailhub/README.md
  projects/snailhub/cart.png
  projects/snailhub/gerber.zip
  projects/snailhub/schematic.pdf
  projects/snailhub/src/easyeda-PCB.json
  projects/snailhub/src/easyeda-schematic.json
Labels: Submission

#1031 USB-C PD Power Distribution Board
  projects/EPQ-Power-Distribution-Board/README.md
  projects/EPQ-Power-Distribution-Board/cart.png
  projects/EPQ-Power-Distribution-Board/gerber.zip
  projects/EPQ-Power-Distribution-Board/schematic.pdf
  projects/EPQ-Power-Distribution-Board/src/hi
  projects/EPQ-Power-Distribution-Board/src/pcbeasyeda.json
  projects/EPQ-Power-Distribution-Board/src/schematiceasyeda.json
Labels: Submission

#1000 NFC Card-akul saju
  projects/!!Akul-HC_NFC_CARD/cart.png
  projects/!!Akul-HC_NFC_CARD/gerber.zip
  projects/!!Akul-HC_NFC_CARD/readme.md
  projects/!!Akul-HC_NFC_CARD/schematic.pdf
  projects/!!Akul-HC_NFC_CARD/src/pcb.json
  projects/!!Akul-HC_NFC_CARD/src/schematic.json
Labels: Submission

#1036 Shiva's NFC Card
  projects/ShivaPrakash_Card/README.md
  projects/ShivaPrakash_Card/cart.png
  projects/ShivaPrakash_Card/gerber.zip
  projects/ShivaPrakash_Card/schematic.pdf
  projects/ShivaPrakash_Card/src/pcb.json
  projects/ShivaPrakash_Card/src/schematic.json
Labels: Submission
