Repository hackclub/OnBoard, pull requests merged in 2024-11, with the labels that each got.

#1301 SibaiCard
  projects/SibaiCard/cart.png
  projects/SibaiCard/gerber.zip
  projects/SibaiCard/readme.md
  projects/SibaiCard/schematic.pdf
  projects/SibaiCard/src/PCB_PCB_SibaiCard_2024-10-28.json
  projects/SibaiCard/src/SCH_SibaiCard_2024-10-28.json
Labels: Submission

#1282 uint128-t's NFC Card
  projects/uint128-t's NFC Card/README.md
  projects/uint128-t's NFC Card/cart.png
  projects/uint128-t's NFC Card/gerber.zip
  projects/uint128-t's NFC Card/schematic.pdf
  projects/uint128-t's NFC Card/src/pcb.json
  projects/uint128-t's NFC Card/src/schematic.json
Labels: Submission

#1260 Amogus Buzzer (RP2040 Edition)
  projects/AmogusBuzzerV2/README.md
  projects/AmogusBuzzerV2/bom.csv
  projects/AmogusBuzzerV2/cart.png
  projects/AmogusBuzzerV2/gerber.zip
  projects/AmogusBuzzerV2/pickandplace.csv
  projects/AmogusBuzzerV2/schematic.pdf
  projects/AmogusBuzzerV2/src/PCB_PCB_Amogus-Buzzer-copy_2024-10-22.json
  projects/AmogusBuzzerV2/src/SCH_RP2040-sussybaka_2024-10-22.json
Labels: Submission, Stalled, Trick or Trace

#1257 DIY PCB Project
  projects/Isaac's PCB/README.md
  projects/Isaac's PCB/cart.png
  projects/Isaac's PCB/gerber.zip
  projects/Isaac's PCB/schematic.pdf
  projects/Isaac's PCB/src/PCB_PCB_NFC-Card_2024-10-10.json
  projects/Isaac's PCB/src/SCH_NFC-Card_2024-10-10.json
  projects/s
Labels: Submission

#1313 Adding my guitar pedal
  projects/picopedal/README.md
  projects/picopedal/cart.png
  projects/picopedal/gerber.zip
  projects/picopedal/schematic.pdf
  projects/picopedal/src/PicoPedal.kicad_pcb
  projects/picopedal/src/PicoPedal.kicad_pro
  projects/picopedal/src/PicoPedal.kicad_sch
Labels: Submission

#1275 Brianna card
  projects/Brianna PCB/README.md
  projects/Brianna PCB/cart.png
  projects/Brianna PCB/gerber.zip
  projects/Brianna PCB/schematic.pdf
  projects/Brianna PCB/src/pcb.json
  projects/Brianna PCB/src/schematic.json
Labels: Submission

#1319 Sindhoora - NFC
  projects/sindhoorarajanfc/README.md
  projects/sindhoorarajanfc/cart.png
  projects/sindhoorarajanfc/gerber.zip
  projects/sindhoorarajanfc/schematic.pdf
  projects/sindhoorarajanfc/src/pcb.json
  projects/sindhoorarajanfc/src/schematic.json
Labels: Submission

#1320 Vibelt pcb grant
  projects/Vibelt/README.md
  projects/Vibelt/cart.png
  projects/Vibelt/gerber.zip
  projects/Vibelt/schematic.pdf
  projects/Vibelt/src/pcb.json
  projects/Vibelt/src/schematic.json
Labels: Submission

#1256 pcb
  projects/5vRegulatorPCB/README.md
  projects/5vRegulatorPCB/cart.png
  projects/5vRegulatorPCB/gerber.zip
  projects/5vRegulatorPCB/schematic.pdf
  projects/5vRegulatorPCB/src/5v-boost-regulator.kicad_pcb
  projects/5vRegulatorPCB/src/5v-boost-regulator.kicad_pro
  projects/5vRegulatorPCB/src/5v-boost-regulator.kicad_sch
  projects/5vRegulatorPCB/src/5v-boost-regulator.wrl
Labels: Submission, Trick or Trace

#1310 FEEJEE
  projects/FEEJEE/README.md
  projects/FEEJEE/cart.png
  projects/FEEJEE/gerber.zip
  projects/FEEJEE/schematic.pdf
  projects/FEEJEE/src/pcb.json
  projects/FEEJEE/src/schematic.json
Labels: Submission

#1297 Hönque's ZZZ Hollow Zero Card
  projects/ZZZ Hollow Zero Card
  projects/ZZZ/README.md
  projects/ZZZ/cart.png
  projects/ZZZ/gerber.zip
  projects/ZZZ/schematic.pdf
  projects/ZZZ/src/PCB_PCB_nfc-card_2024-10-30.json
  projects/ZZZ/src/SCH_nfc-card_2024-10-30.json
Labels: Submission, Stalled

#1288 Xavier Hack Card NFC
  projects/XAVIERNFCCARDHACKCLUB/README.md
  projects/XAVIERNFCCARDHACKCLUB/cart.png
  projects/XAVIERNFCCARDHACKCLUB/gerber.zip
  projects/XAVIERNFCCARDHACKCLUB/schematic.pdf
  projects/XAVIERNFCCARDHACKCLUB/src/PCB_PCB_Hack-Club-PCB_2_2024-10-30.json
  projects/XAVIERNFCCARDHACKCLUB/src/SCH_Hack-Club-PCB_2024-10-30.json
Labels: Submission

#1321 McNulty Board
  projects/McNultyPad/cart.png
  projects/McNultyPad/gerber.zip
  projects/McNultyPad/readme.md
  projects/McNultyPad/schematic.pdf
  projects/McNultyPad/src/McNulty Pad.kicad_pcb
  projects/McNultyPad/src/McNulty Pad.kicad_pro
  projects/McNultyPad/src/McNulty Pad.kicad_sch
  projects/McNultyPad/src/McNulty Pad.wrl
Labels: Submission

#1327 Add "Hackerboard" NFC Board
  projects/my_hacker_card_thing/README.md
  projects/my_hacker_card_thing/Schematic.pdf
  projects/my_hacker_card_thing/cart.png
  projects/my_hacker_card_thing/gerber.zip
  projects/my_hacker_card_thing/schematic.pdf
  projects/my_hacker_card_thing/src/PCB_PCB_PCB-Project_2_2024-11-27.json
  projects/my_hacker_card_thing/src/SCH_PCB-Project_2024-11-27.json
Labels: Submission
