Repository hackclub/OnBoard, pull requests merged in 2024-07, with the labels that each got.

#743 My Project (Ishan's USB HUB!)
  projects/ishanusbhub/README.md
  projects/ishanusbhub/cart.png
  projects/ishanusbhub/gerber.zip
  projects/ishanusbhub/schematic.pdf
  projects/ishanusbhub/src/PCB_PCB_My-USB-Hub_2024-06-27.json
  projects/ishanusbhub/src/SCH_My-USB-Hub_2024-06-27.json
Labels: Submission

#762 Turtle USB Hub -Gabi A
  projects/Turtle_USB_Hub/README.md
  projects/Turtle_USB_Hub/cart.png
  projects/Turtle_USB_Hub/gerber.zip
  projects/Turtle_USB_Hub/schematic.pdf
  projects/Turtle_USB_Hub/src/pcb.json
  projects/Turtle_USB_Hub/src/schematic.json
Labels: Submission

#766 WS2812B Controller Using Infrared
  projects/Rajdeep's WS2812B Led Controller/README.md
  projects/Rajdeep's WS2812B Led Controller/cart.png
  projects/Rajdeep's WS2812B Led Controller/gerber.zip
  projects/Rajdeep's WS2812B Led Controller/schematic.pdf
  projects/Rajdeep's WS2812B Led Controller/src/PCB_PCB_WS2812B-IR-Controller_2024-06-23.json
  projects/Rajdeep's WS2812B Led Controller/src/SCH_WS2812B-IR-Controller_2024-06-23.json
Labels: Submission

#758 Rohan New PCB Business Card
  projects/Rohan-NFC-Business-Card/README.md
  projects/Rohan-NFC-Business-Card/bom.csv
  projects/Rohan-NFC-Business-Card/cart.png
  projects/Rohan-NFC-Business-Card/gerber.zip
  projects/Rohan-NFC-Business-Card/pickandplace.csv
  projects/Rohans_PCB_CARD/BOM.csv
  projects/Rohans_PCB_CARD/PickAndPlace.csv
  projects/Rohans_PCB_CARD/README.md
  projects/Rohans_PCB_CARD/cart.png
  projects/Rohans_PCB_CARD/gerber.zip
  projects/Rohans_PCB_CARD/schematic.pdf
  projects/Rohans_PCB_CARD/src/PCB_PCB_Rohans-Card_2024-07-01.json
  projects/Rohans_PCB_CARD/src/SCH_Rohans-Card_2024-07-01.json
Labels: Submission

#759 MixuinoPCB
  projects/MixuinoPCB/README.md
  projects/MixuinoPCB/cart.png
  projects/MixuinoPCB/gerber.zip
  projects/MixuinoPCB/schematic.pdf
  projects/MixuinoPCB/src/MixuinoPCB.kicad_pcb
  projects/MixuinoPCB/src/MixuinoPCB.kicad_pro
  projects/MixuinoPCB/src/MixuinoPCB.kicad_sch
Labels: Submission

#760 Eddie's PCB
  projects/Eddie's PCB business card/README.MD
  projects/Eddie's PCB business card/cart.png
  projects/Eddie's PCB business card/gerber.zip
  projects/Eddie's PCB business card/schematic.pdf
  projects/Eddie's PCB business card/src/pcb.json
  projects/Eddie's PCB business card/src/schematic.json
Labels: Submission

#773 change slack channel from #onboard to #electronics
  README.md
Labels: Dev

#744 Auro Deej Mixer
  projects/AuroDeej5Slider/README.md
  projects/AuroDeej5Slider/cart.png
  projects/AuroDeej5Slider/gerber.zip
  projects/AuroDeej5Slider/schematic.pdf
  projects/AuroDeej5Slider/src/Deej.kicad_pcb
  projects/AuroDeej5Slider/src/Deej.kicad_pro
  projects/AuroDeej5Slider/src/Deej.kicad_sch
Labels: Submission

#767 flower keychain pcb
  projects/flowerHackerCard/README.md
  projects/flowerHackerCard/cart.png
  projects/flowerHackerCard/cart.png2.png
  projects/flowerHackerCard/gerber.zip
  projects/flowerHackerCard/schematic.pdf
  projects/flowerHackerCard/src/pcb.json
  projects/flowerHackerCard/src/schematic.json
Labels: Submission

#786 Trail Badge
  projects/the-traile-pcb-card/README.md
  projects/the-traile-pcb-card/cart.png
  projects/the-traile-pcb-card/gerber.zip
  projects/the-traile-pcb-card/schematic.pdf
  projects/the-traile-pcb-card/src/PCB_PCB_pls-work-pls-work-pls-work-pls-work_3_2024-07-04.json
  projects/the-traile-pcb-card/src/SCH_pls-work-pls-work-pls-work-pls-work_2024-07-04.json
Labels: Submission

#771 Submission
  projects/NFCCARDADITYA/README.md
  projects/NFCCARDADITYA/cart.png
  projects/NFCCARDADITYA/gerber.zip
  projects/NFCCARDADITYA/schematic.pdf
  projects/NFCCARDADITYA/src/design.json
  projects/NFCCARDADITYA/src/pcb.json
Labels: Submission

#787 Mohit Tiwari Hacker Card!
  projects/MohitsCard/README.md
  projects/MohitsCard/cart.png
  projects/MohitsCard/gerber.zip
  projects/MohitsCard/schemetic.pdf
  projects/MohitsCard/src/PCB_PCB_My-first-PCB-hacker-card_2024-07-06.json
  projects/MohitsCard/src/SCH_My-first-PCB-hacker-card_2024-07-06.json
Labels: Submission

#779 milk v extension board
  projects/Milk-V-Extention board/README.md
  projects/Milk-V-Extention board/cart.png
  projects/Milk-V-Extention board/gerber.zip
  projects/Milk-V-Extention board/schematic.pdf
  projects/Milk-V-Extention board/src/PCB_PCB_milkv-extension-board_2024-06-30.json
  projects/Milk-V-Extention board/src/SCH_milkv-extension-board_2024-06-30.json
Labels: Submission

#785 Cral_Cactus' Business Card
  projects/Cral_Cactus Business Card/README.md
  projects/Cral_Cactus Business Card/cart.png
  projects/Cral_Cactus Business Card/gerber.zip
  projects/Cral_Cactus Business Card/schematic.pdf
  projects/Cral_Cactus Business Card/src/PCB_PCB_NFC-Business-Card.json
  projects/Cral_Cactus Business Card/src/SCH_NFC-Business-Card.json
Labels: Submission

#777 Weight PCB
  projects/weightPCB/README.md
  projects/weightPCB/cart.png
  projects/weightPCB/gerber.zip
  projects/weightPCB/schematic.pdf
  projects/weightPCB/src/PCB.json
  projects/weightPCB/src/schematic.json
Labels: Submission

#778 iCE40 DevBoard
  projects/iCE40DevBoard/README.md
  projects/iCE40DevBoard/cart.png
  projects/iCE40DevBoard/gerber.zip
  projects/iCE40DevBoard/schematic.pdf
  projects/iCE40DevBoard/src/FPGA.kicad_sch
  projects/iCE40DevBoard/src/Headers.kicad_sch
  projects/iCE40DevBoard/src/PowerSupply.kicad_sch
  projects/iCE40DevBoard/src/iCE40DevBoard.kicad_pcb
  projects/iCE40DevBoard/src/iCE40DevBoard.kicad_pro
  projects/iCE40DevBoard/src/iCE40DevBoard.kicad_sch
Labels: Submission

#790 SD CARD READER
  projects/Jaiteg's SD CARD READER/README.md
  projects/Jaiteg's SD CARD READER/cart.png
  projects/Jaiteg's SD CARD READER/gerber.zip
  projects/Jaiteg's SD CARD READER/schematic.pdf
  projects/Jaiteg's SD CARD READER/src/PCB_PCB_SDCARD-DOCK_2024-07-07.json
  projects/Jaiteg's SD CARD READER/src/SCH_SDCARD-DOCK_2024-07-07.json
Labels: Submission

#799 thuys mini keyboard
  projects/thuy_tiny_keyboard/README.md
  projects/thuy_tiny_keyboard/cart.png
  projects/thuy_tiny_keyboard/gerber.zip
  projects/thuy_tiny_keyboard/schematic.pdf
  projects/thuy_tiny_keyboard/src/PCB_PCB_keyboard_2024-07-08.json
  projects/thuy_tiny_keyboard/src/SCH_keyboard_2024-07-08.json
Labels: Submission

#794 3*3 Macroboard
  projects/Jachym's Macroboard/README.md
  projects/Jachym's Macroboard/cart.png
  projects/Jachym's Macroboard/gerber.zip
  projects/Jachym's Macroboard/schematic.pdf
  projects/Jachym's Macroboard/src/PCB_PCB_PCB-micropad_6_2024-07-07.json
  projects/Jachym's Macroboard/src/SCH_PCB-micropad_2024-07-07.json
Labels: Submission

#808 LKMW PCB Request - thanks :)
  projects/lkmw-nfc-card/README.md
  projects/lkmw-nfc-card/cart.png
  projects/lkmw-nfc-card/gerber.zip
  projects/lkmw-nfc-card/schematic.pdf
  projects/lkmw-nfc-card/src/pcb.json
  projects/lkmw-nfc-card/src/schematic.json
Labels: Submission

#800 Abhineet's DIY Charge Doctor
  projects/Abhineet's DIY Charge Doctor/README.MD
  projects/Abhineet's DIY Charge Doctor/cart.png
  projects/Abhineet's DIY Charge Doctor/gerber.zip
  projects/Abhineet's DIY Charge Doctor/schematic.pdf
  projects/Abhineet's DIY Charge Doctor/src/PCB_Charge-Doctor-PCB_2024-07-04.json
  projects/Abhineet's DIY Charge Doctor/src/SCH_ATtiny85-Charge-Doctor_2024-07-04.json
Labels: Submission

#747 Sreekar's Hacker Card
  projects/Sreekar's card/README.md
  projects/Sreekar's card/cart.png
  projects/Sreekar's card/gerber.zip
  projects/Sreekar's card/schematic.pdf
  projects/Sreekar's card/src/PCB.json
  projects/Sreekar's card/src/SCH.json
Labels: Submission

#780 Add VFD Tool
  projects/VFD-Tool/README.md
  projects/VFD-Tool/cart.png
  projects/VFD-Tool/gerber.zip
  projects/VFD-Tool/pics/pcb-render400Samples.png
  projects/VFD-Tool/schematic.pdf
  projects/VFD-Tool/src/3D/503480-1000.STEP
  projects/VFD-Tool/src/3D/B2B-PH-SM4-TB--3DModel-STEP-418109.STEP
  projects/VFD-Tool/src/3D/SOIC8.STEP
  projects/VFD-Tool/src/3D/SQFN36.STEP
  projects/VFD-Tool/src/3D/VQFN16.STEP
  projects/VFD-Tool/src/3D/WQFN14.STEP
  projects/VFD-Tool/src/3D/WS2812-2020.STEP
  projects/VFD-Tool/src/gerbers/vfd-tool-B_Cu.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-B_Mask.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-B_Paste.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-B_Silkscreen.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-Edge_Cuts.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-F_Cu.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-F_Mask.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-F_Paste.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-F_Silkscreen.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-In1_Cu.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-In2_Cu.gbr
  projects/VFD-Tool/src/gerbers/vfd-tool-NPTH.drl
  projects/VFD-Tool/src/gerbers/vfd-tool-PTH.drl
  projects/VFD-Tool/src/gerbers/vfd-tool-job.gbrjob
  projects/VFD-Tool/src/symbols/TPS54331DR.bak
  projects/VFD-Tool/src/symbols/TPS54331DR.kicad_sym
  projects/VFD-Tool/src/vfd-tool.kicad_dru
  projects/VFD-Tool/src/vfd-tool.kicad_pcb
  projects/VFD-Tool/src/vfd-tool.kicad_pro
  projects/VFD-Tool/src/vfd-tool.kicad_sch
Labels: Submission

#802 Upload Kate Yi's Hacker Card
  projects/Kate Yi's Hacker Card/README.md
  projects/Kate Yi's Hacker Card/cart.png
  projects/Kate Yi's Hacker Card/gerber.zip
  projects/Kate Yi's Hacker Card/schematic.pdf
  projects/Kate Yi's Hacker Card/src/pcb.json
  projects/Kate Yi's Hacker Card/src/schematic.json
Labels: Submission

#772 Flight Computer PCB
  projects/Flight Computer/README.md
  projects/Flight Computer/cart.png
  projects/Flight Computer/gerber.zip
  projects/Flight Computer/schematic.pdf
  projects/Flight Computer/src/pcb.json
  projects/Flight Computer/src/schematic.json
Labels: Submission

#803 Nikhil's Hacker card
  projects/Nikhil's Hacker Card/PCB_PCB_Personal-Card-V2_2_2024-07-09.pdf
  projects/Nikhil's Hacker Card/README.md
  projects/Nikhil's Hacker Card/cart.png
  projects/Nikhil's Hacker Card/gerber.zip
  projects/Nikhil's Hacker Card/schematic.pdf
  projects/Nikhil's Hacker Card/src/.keep
  projects/Nikhil's Hacker Card/src/PCB_PCB_Personal-Card-V2_2_2024-07-09.json
  projects/Nikhil's Hacker Card/src/SCH_Personal-Card-V2_2024-07-09.json
Labels: Submission

#811 Add Elin's PCB Business Card
  projects/Elin's PCB Business Card/README.md
  projects/Elin's PCB Business Card/cart.png
  projects/Elin's PCB Business Card/gerber.zip
  projects/Elin's PCB Business Card/schematic.pdf
  projects/Elin's PCB Business Card/src/pcb.json
  projects/Elin's PCB Business Card/src/schematic.json
Labels: Submission

#821 Add LIN Bus Adapter ESP32
  projects/LIN Bus ESP32/README.md
  projects/LIN Bus ESP32/cart.png
  projects/LIN Bus ESP32/gerber.zip
  projects/LIN Bus ESP32/schematic.pdf
  projects/LIN Bus ESP32/src/lin_bus_adapter_esp32.kicad_pcb
  projects/LIN Bus ESP32/src/lin_bus_adapter_esp32.kicad_pro
  projects/LIN Bus ESP32/src/lin_bus_adapter_esp32.kicad_sch
Labels: Submission

#768 USB Variable Power Supply
  projects/USB Variable Power Supply/README.md
  projects/USB Variable Power Supply/cart.png
  projects/USB Variable Power Supply/gerber.zip
  projects/USB Variable Power Supply/schematic.pdf
  projects/USB Variable Power Supply/src/USB power port.kicad_pcb
  projects/USB Variable Power Supply/src/USB power port.kicad_pro
  projects/USB Variable Power Supply/src/USB power port.kicad_sch
Labels: Submission

#812 Mark Stale Pull Requests
  .github/workflows/cleanup.yml
Labels: Dev

#783 Hu Tao PCB Hacker Card
  projects/Hu Tao PCB/README.md
  projects/Hu Tao PCB/cart.png
  projects/Hu Tao PCB/gerber.zip
  projects/Hu Tao PCB/schematic.pdf
  projects/Hu Tao PCB/src/pcb.json
  projects/Hu Tao PCB/src/schematic.json
Labels: Submission

#704 Nishit's Card
  projects/Nishit's Card/README.md
  projects/Nishit's Card/cart.png
  projects/Nishit's Card/gerber.zip
  projects/Nishit's Card/schematic.pdf
  projects/Nishit's Card/src/PCB_PCB_PCB-Card_2024-06-21.json
  projects/Nishit's Card/src/SCH_PCB-Card_2024-06-21.json
Labels: Submission, Stalled

#796 tally-lights PR
  projects/TALLY_LIGHTS/README.md
  projects/TALLY_LIGHTS/cart.png
  projects/TALLY_LIGHTS/gerber.zip
  projects/TALLY_LIGHTS/schematic.pdf
  projects/TALLY_LIGHTS/src/pcb.json
  projects/TALLY_LIGHTS/src/schematic.json
Labels: Submission

#833 Alex Hayes NFC Card Onboard Grant Submission
  projects/Alex Hayes NFC Card/README.md
  projects/Alex Hayes NFC Card/cart.png
  projects/Alex Hayes NFC Card/gerber.zip
  projects/Alex Hayes NFC Card/schematic.pdf
  projects/Alex Hayes NFC Card/src/PCB_PCB_Hacker-NFC_2024-06-30.json
  projects/Alex Hayes NFC Card/src/SCH_Hacker-NFC_2024-06-30.json
Labels: Submission

#805 Nikhil's Usb hub
  projects/NIkhil's Usb hub/PCB_PCB_USB-hub-version-2_2024-07-09.pdf
  projects/NIkhil's Usb hub/README.md
  projects/NIkhil's Usb hub/cart.png
  projects/NIkhil's Usb hub/gerber.zip
  projects/NIkhil's Usb hub/schematic.pdf
  projects/NIkhil's Usb hub/src/PCB_PCB_USB-hub-version-2_2024-07-09.json
  projects/NIkhil's Usb hub/src/SCH_USB-hub-version-2_2024-07-09.json
Labels: Submission

#822 RP2040 LTE Communicator
  projects/RP2040_LTE_COMMUNICATOR/README.md
  projects/RP2040_LTE_COMMUNICATOR/cart.png
  projects/RP2040_LTE_COMMUNICATOR/gerber.zip
  projects/RP2040_LTE_COMMUNICATOR/schematic.pdf
  projects/RP2040_LTE_COMMUNICATOR/src/MicroTAC.kicad_pcb
  projects/RP2040_LTE_COMMUNICATOR/src/MicroTAC.kicad_pro
  projects/RP2040_LTE_COMMUNICATOR/src/MicroTAC.kicad_sch
Labels: Submission

#830 USB A/C input to 3 USB-A + 1 USB-C Output
  projects/usbactoachub/README.md
  projects/usbactoachub/bom.csv
  projects/usbactoachub/cart.png
  projects/usbactoachub/gerber.zip
  projects/usbactoachub/positions.csv
  projects/usbactoachub/schematic.pdf
  projects/usbactoachub/src/usbactoachub.kicad_pcb
  projects/usbactoachub/src/usbactoachub.kicad_pro
  projects/usbactoachub/src/usbactoachub.kicad_sch
Labels: Submission

#836 achester88 NFC Card
  projects/achester88 NFC Card/README.md
  projects/achester88 NFC Card/cart.png
  projects/achester88 NFC Card/gerber.zip
  projects/achester88 NFC Card/schematic.pdf
  projects/achester88 NFC Card/src/pcb.json
  projects/achester88 NFC Card/src/schematic.json
Labels: Submission

#826 Add project
  projects/bm-usbc-hub/README.md
  projects/bm-usbc-hub/cart.png
  projects/bm-usbc-hub/gerber.zip
  projects/bm-usbc-hub/schematic.pdf
  projects/bm-usbc-hub/src/design.epro
  projects/bm-usbc-hub/src/format.txt
Labels: Submission

#839 TinyGes
  projects/TinyGes/README.md
  projects/TinyGes/cart.png
  projects/TinyGes/gerber.zip
  projects/TinyGes/schematic.pdf
  projects/TinyGes/src/pcb.json
  projects/TinyGes/src/schematic.json
Labels: Submission

#832 Sai_PCB
  projects/Sai_PCB/README.md
  projects/Sai_PCB/cart.png
  projects/Sai_PCB/gerber.zip
  projects/Sai_PCB/schematic.pdf
  projects/Sai_PCB/src/PCB_PCB_Alarm_Robotics_PCB_Hacker_Card_2024-07-14.json
  projects/Sai_PCB/src/SCH_Alarm_Robotics_PCB_Hacker_Card_2024-07-14.json
Labels: Submission

#829 Rishabh NFC Card
  projects/RishabhNFC/Cart.png
  projects/RishabhNFC/README.md
  projects/RishabhNFC/gerber.zip
  projects/RishabhNFC/schematic.pdf
  projects/RishabhNFC/src/pcb.json
  projects/RishabhNFC/src/schematic.json
Labels: Submission

#851 23741 LED Project
  projects/FTC23741 LED Board/README.md
  projects/FTC23741 LED Board/cart.png
  projects/FTC23741 LED Board/gerber.zip
  projects/FTC23741 LED Board/schematic.pdf
  projects/FTC23741 LED Board/src/pcb.json
  projects/FTC23741 LED Board/src/schematic.json
Labels: Submission

#844 Add Dragon863's NFC Card
  projects/Dragon863's NFC Card/README.md
  projects/Dragon863's NFC Card/cart.png
  projects/Dragon863's NFC Card/gerber.zip
  projects/Dragon863's NFC Card/schematic.pdf
  projects/Dragon863's NFC Card/src/.keep
  projects/Dragon863's NFC Card/src/pcb.json
  projects/Dragon863's NFC Card/src/schematic.json
Labels: Submission

#847 Requesting The PCB From Onboard
  projects/Flynn's SuperNFCPCB/README.md
  projects/Flynn's SuperNFCPCB/cart.png
  projects/Flynn's SuperNFCPCB/gerber.zip
  projects/Flynn's SuperNFCPCB/schematic.pdf
  projects/Flynn's SuperNFCPCB/src/pcb.json
  projects/Flynn's SuperNFCPCB/src/schematic.json
Labels: Submission

#849 Created my first PCB! (NFC Card)
  projects/Justin's NFC Card/README.md
  projects/Justin's NFC Card/cart.png
  projects/Justin's NFC Card/gerber.zip
  projects/Justin's NFC Card/schematic.pdf
  projects/Justin's NFC Card/src/pcb.json
  projects/Justin's NFC Card/src/schematic.json
Labels: Submission

#852 Macropad
  projects/Dhyan99_Macropad/README.md
  projects/Dhyan99_Macropad/cart.png
  projects/Dhyan99_Macropad/cart2.png
  projects/Dhyan99_Macropad/gerber.zip
  projects/Dhyan99_Macropad/schematic.pdf
  projects/Dhyan99_Macropad/src/macropad.kicad_pcb
  projects/Dhyan99_Macropad/src/macropad.kicad_pro
  projects/Dhyan99_Macropad/src/macropad.kicad_sch
Labels: Submission

#842 Add "CheetahSpeedMeter" Board
  projects/CheetahSpeedMeter/README.md
  projects/CheetahSpeedMeter/cart.png
  projects/CheetahSpeedMeter/gerber.zip
  projects/CheetahSpeedMeter/schematic.pdf
  projects/CheetahSpeedMeter/src/PCB_PCB_CheetahSpeedometer_2024-07-13.json
  projects/CheetahSpeedMeter/src/SCH_CheetahSpeedometer_2024-07-13.json
Labels: Submission

#855 Add DAC PCB
  projects/USB DAC/3D model.step
  projects/USB DAC/README.md
  projects/USB DAC/cart.png
  projects/USB DAC/gerber.zip
  projects/USB DAC/schematic.pdf
  projects/USB DAC/src/2024-07-12_22-03-46.kicad_sym
  projects/USB DAC/src/LICENSE
  projects/USB DAC/src/README.md
  projects/USB DAC/src/footprints.pretty/PJT32-L.kicad_mod
  projects/USB DAC/src/footprints.pretty/PJT32-M.kicad_mod
  projects/USB DAC/src/footprints.pretty/PJT32.kicad_mod
  projects/USB DAC/src/fp-info-cache
  projects/USB DAC/src/sym-lib-table
  projects/USB DAC/src/usb-dac.kicad_pcb
  projects/USB DAC/src/usb-dac.kicad_prl
  projects/USB DAC/src/usb-dac.kicad_pro
  projects/USB DAC/src/usb-dac.kicad_sch
Labels: Submission

#763 Ashes Business Card
  projects/Ashes Hacker Card/README.md
  projects/Ashes Hacker Card/cart.png
  projects/Ashes Hacker Card/gerber.zip
  projects/Ashes Hacker Card/schematic.pdf
  projects/Ashes Hacker Card/src/PCB_Business-Card.json
  projects/Ashes Hacker Card/src/SCH_Business-Card.json
Labels: Submission, Stalled

#827 First PCB PR
  projects/ESP8266 Spotify Controller/README.md
  projects/ESP8266 Spotify Controller/cart.png
  projects/ESP8266 Spotify Controller/gerber.zip
  projects/ESP8266 Spotify Controller/schematic.pdf
  projects/ESP8266 Spotify Controller/src/pcb.json
  projects/ESP8266 Spotify Controller/src/schematic.json
Labels: Submission

#856 Repository cleanup and guideline refractoring
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cleanup.yml
  README.md
  community/TIPS.md
  community/shipping.md
  community/tips-by-the-students.md
  docs/design_resources.md
  docs/faq.md
  docs/images/ordering/stencil.png
  docs/ordering_from_JLCPCB.md
  projects/Gerber_3-14-Pi-day-PCB_PCB_3-14-Pi-day-PCB_2_2024-06-02.zip
  projects/PCB_PCB_3-14-Pi-day-PCB_2_2024-06-02.json
  projects/SCH_3-14-Pi-day-PCB_2024-06-02.json
  projects/Schematic_3-14-Pi-day-PCB_2024-06-02.pdf
  projects/Screenshot 2024-06-14 153202.png
Labels: Dev

#865 AFAIK We are not doing team projects
  docs/faq.md
Labels: Dev

#858 Somebud's Cat PCB
  projects/Somebud's Cat PCB/README.md
  projects/Somebud's Cat PCB/cart.png
  projects/Somebud's Cat PCB/gerber.zip
  projects/Somebud's Cat PCB/schematic.pdf
  projects/Somebud's Cat PCB/src/pcb.json
  projects/Somebud's Cat PCB/src/schematic.json
Labels: Submission

#857 Added new project: "openVac"
  projects/openVac/README.md
  projects/openVac/cart.png
  projects/openVac/gerber.zip
  projects/openVac/schematic.pdf
  projects/openVac/src/main-brush.kicad_sch
  projects/openVac/src/motors.kicad_sch
  projects/openVac/src/openVac-v0.1.kicad_pcb
  projects/openVac/src/openVac-v0.1.kicad_pro
  projects/openVac/src/openVac-v0.1.kicad_sch
  projects/openVac/src/sweep-brushes.kicad_sch
  projects/openVac/src/untitled.kicad_sch
  projects/openVac/src/vacuum.kicad_sch
Labels: Submission

#859 add "PROFESIONNAL_WEB_CARD" board
  projects/PROFESSIONAL_WEB_CARD/README.md
  projects/PROFESSIONAL_WEB_CARD/cart.png
  projects/PROFESSIONAL_WEB_CARD/gerber.zip
  projects/PROFESSIONAL_WEB_CARD/schematic.pdf
  projects/PROFESSIONAL_WEB_CARD/src/pcb.json
  projects/PROFESSIONAL_WEB_CARD/src/schematic.json
Labels: Submission

#861 Flight Computer V2
  projects/Flight Computer V2/README.md
  projects/Flight Computer V2/cart.png
  projects/Flight Computer V2/gerber.zip
  projects/Flight Computer V2/schematic.pdf
  projects/Flight Computer V2/src/pcb.json
  projects/Flight Computer V2/src/schematic.json
Labels: Submission

#810 PCB hacker card
  projects/SmartKid7799 PCB HackerCard/README.md
  projects/SmartKid7799 PCB HackerCard/cart.png
  projects/SmartKid7799 PCB HackerCard/gerber.zip
  projects/SmartKid7799 PCB HackerCard/schematic.pdf
  projects/SmartKid7799 PCB HackerCard/src/pcb.json
  projects/SmartKid7799 PCB HackerCard/src/sch.json
Labels: Submission

#870 7 input macropad
  projects/7_INPUT_MACROPAD/README.md
  projects/7_INPUT_MACROPAD/cart.png
  projects/7_INPUT_MACROPAD/gerber.zip
  projects/7_INPUT_MACROPAD/schematic.pdf
  projects/7_INPUT_MACROPAD/src/7_input_macropad.kicad_pcb
  projects/7_INPUT_MACROPAD/src/7_input_macropad.kicad_pro
  projects/7_INPUT_MACROPAD/src/7_input_macropad.kicad_sch
  projects/7_INPUT_MACROPAD/src/7_input_macropad.step
Labels: Submission

#868 box985
  projects/box985/README.md
  projects/box985/cart.png
  projects/box985/gerber.zip
  projects/box985/schematic.pdf
  projects/box985/src/box985.kicad_pcb
  projects/box985/src/box985.kicad_pro
  projects/box985/src/box985.kicad_sch
  projects/box985/src/box985.wrl
Labels: Submission

#876 usb-hub
  projects/KEVIN's usb-hub/README.md
  projects/KEVIN's usb-hub/cart.png
  projects/KEVIN's usb-hub/gerber.zip
  projects/KEVIN's usb-hub/schematic.pdf
  projects/KEVIN's usb-hub/src/PCB.json
  projects/KEVIN's usb-hub/src/schematic.json
Labels: Submission, no HCB needed

#877 Eddy Zhao's NFC Business Card Pull Request
  projects/Eddy's NFC/README.md
  projects/Eddy's NFC/cart.png
  projects/Eddy's NFC/gerber.zip
  projects/Eddy's NFC/schematic.pdf
  projects/Eddy's NFC/src/pcb.json
  projects/Eddy's NFC/src/schematic.json
Labels: Submission

#879 JPL.mp3
  projects/JPL.mp3/README.md
  projects/JPL.mp3/cart.png
  projects/JPL.mp3/gerber.zip
  projects/JPL.mp3/schematic.pdf
  projects/JPL.mp3/src/JPL.mp3
  projects/JPL.mp3/src/JPL_MP3 circuit.kicad_pcb
  projects/JPL.mp3/src/JPL_MP3 circuit.kicad_pro
  projects/JPL.mp3/src/JPL_MP3 circuit.kicad_sch
  projects/JPL.mp3/src/JPL_MP3 circuit.step
Labels: Submission

#880 Charger
  projects/Charger/README.md
  projects/Charger/cart.png
  projects/Charger/gerber.zip
  projects/Charger/schematic.pdf
  projects/Charger/src/New Project July 29 2024.json
  projects/Charger/src/PCB New Project 2024-07-29.json
Labels: Submission

#881 Otter's PCB Card
  projects/Otter's NFC Business Card/README.md
  projects/Otter's NFC Business Card/cart.png
  projects/Otter's NFC Business Card/gerber.zip
  projects/Otter's NFC Business Card/schematic.pdf
  projects/Otter's NFC Business Card/src/design.brd
  projects/Otter's NFC Business Card/src/design.sch
Labels: Submission

#874 TurtleUSBHubVersion2
  projects/Turtle_USB_Hub2/README.md
  projects/Turtle_USB_Hub2/cart.png
  projects/Turtle_USB_Hub2/gerber.zip
  projects/Turtle_USB_Hub2/schematic.pdf
  projects/Turtle_USB_Hub2/src/pcb.json
  projects/Turtle_USB_Hub2/src/schematic.json
Labels: Submission, no HCB needed

#873 merge lightwand
  projects/lightwand/README.md
  projects/lightwand/cart.png
  projects/lightwand/gerber.zip
  projects/lightwand/schematic.pdf
  projects/lightwand/src/lighthouse.kicad_pcb
  projects/lightwand/src/lighthouse.kicad_pro
  projects/lightwand/src/lighthouse.kicad_sch
Labels: Submission

#872 steam-macro-pad
  projects/steam-macro-pad/README.MD
  projects/steam-macro-pad/cart.png
  projects/steam-macro-pad/gerber.zip
  projects/steam-macro-pad/schematic.pdf
  projects/steam-macro-pad/src/pcb.json
  projects/steam-macro-pad/src/schematic.json
Labels: Submission

#864 OnBoard TheHackerDude1083
  projects/CardLEDV1/README.md
  projects/CardLEDV1/cart.png
  projects/CardLEDV1/gerber.zip
  projects/CardLEDV1/schematic.pdf
  projects/CardLEDV1/src/1-Schematic_New Project2.json
  projects/CardLEDV1/src/PCB_PCB_New-Project2_2024-07-23.json
Labels: Submission

#869 Hacker card
  projects/aryhackercard/README.md
  projects/aryhackercard/cart.png
  projects/aryhackercard/gerber.zip
  projects/aryhackercard/schematic.pdf
  projects/aryhackercard/src/pcb.json
  projects/aryhackercard/src/schematic.json
Labels: Submission

#884 FormED PCB PR
  projects/FormED 1.0/README.md
  projects/FormED 1.0/cart.png
  projects/FormED 1.0/gerber.zip
  projects/FormED 1.0/schematic.pdf
  projects/FormED 1.0/src/pcb.json
  projects/FormED 1.0/src/s
  projects/FormED 1.0/src/schematic.json
Labels: Submission

#887 Lightwand
  projects/lightwand/README.md
  projects/lightwand/cart.png
  projects/lightwand/gerber.zip
  projects/lightwand/schematic.pdf
  projects/lightwand/src/lighthouse.kicad_pcb
  projects/lightwand/src/lighthouse.kicad_pro
  projects/lightwand/src/lighthouse.kicad_sch
Labels: no HCB needed

#888 Nooz's PCB Card
  projects/NoozPCBCard/README.md
  projects/NoozPCBCard/cart.png
  projects/NoozPCBCard/gerber.zip
  projects/NoozPCBCard/schematic.pdf
  projects/NoozPCBCard/src/pcb.json
  projects/NoozPCBCard/src/schematic.json
Labels: Submission
