Repository hackclub/OnBoard, pull requests merged in 2024-06, with the labels that each got.

#571 Added files for "Game Scorecards"
  projects/game-scorecards/README.md
  projects/game-scorecards/cart.png
  projects/game-scorecards/gerber.zip
  projects/game-scorecards/schematic.pdf
  projects/game-scorecards/src/pcb.json
  projects/game-scorecards/src/sch.json
Labels: Submission, The Trail

#620 Drone FCU
  projects/Adam's Drone FCU/README.md
  projects/Adam's Drone FCU/cart.png
  projects/Adam's Drone FCU/gerber.zip
  projects/Adam's Drone FCU/schematic.pdf
  projects/Adam's Drone FCU/src/Kicad.kicad_dru
  projects/Adam's Drone FCU/src/Kicad.kicad_pcb
  projects/Adam's Drone FCU/src/Kicad.kicad_pro
  projects/Adam's Drone FCU/src/Kicad.kicad_sch
Labels: Submission

#631 Pat's NFC
  projects/Pat's NFC/README.md
  projects/Pat's NFC/cart.png
  projects/Pat's NFC/gerber.zip
  projects/Pat's NFC/schematic.pdf
  projects/Pat's NFC/src/PCB_PCB_PCBProjectCard_2024-06-02.json
  projects/Pat's NFC/src/SCH_PCBProjectCard_2024-06-02.json
Labels: Submission

#634 zeankun.dev's Pico2040 R4
  projects/Pico2040-Rev4/README.md
  projects/Pico2040-Rev4/cart.png
  projects/Pico2040-Rev4/gerber.zip
  projects/Pico2040-Rev4/schematic.pdf
  projects/Pico2040-Rev4/src/8-USON.pretty/8-USON-2X3.kicad_mod
  projects/Pico2040-Rev4/src/GD25Q16CEIGR--3DModel-STEP-56544.STEP
  projects/Pico2040-Rev4/src/Pico2040-Rev4.kicad_pcb
  projects/Pico2040-Rev4/src/Pico2040-Rev4.kicad_prl
  projects/Pico2040-Rev4/src/Pico2040-Rev4.kicad_pro
  projects/Pico2040-Rev4/src/Pico2040-Rev4.kicad_sch
  projects/Pico2040-Rev4/src/SMD-TH-Connector.pretty/Conn_01x12_2.54mm.kicad_mod
  projects/Pico2040-Rev4/src/SMD-TH-Connector.pretty/Conn_01x20_2.54mm.kicad_mod
  projects/Pico2040-Rev4/src/fabrication-toolkit-options.json
Labels: Submission

#624 Updated MUSICA to use a single-sided board
  projects/MUSICA/README.md
  projects/MUSICA/cart.png
  projects/MUSICA/gerber.zip
  projects/MUSICA/schematic.pdf
  projects/MUSICA/src/PCB_MUSICA.json
  projects/MUSICA/src/SCH_MUSICA.json
  projects/USB-HUB/BOM.csv
  projects/USB-HUB/README.md
  projects/USB-HUB/cart.png
  projects/USB-HUB/gerber.zip
  projects/weather monitor/schematic.pdf
Labels: no HCB needed, The Trail

#618 Add my Water Bottle Keychain project for The Trail
  projects/trail-water-bottle-keychain/README.md
  projects/trail-water-bottle-keychain/cart.png
  projects/trail-water-bottle-keychain/gerber.zip
  projects/trail-water-bottle-keychain/schematic.pdf
  projects/trail-water-bottle-keychain/src/pcb.json
  projects/trail-water-bottle-keychain/src/schematic.json
Labels: Submission, The Trail

#607 UV Watter Bottle (Trail)
  projects/UVWaterBottle/README.md
  projects/UVWaterBottle/cart.png
  projects/UVWaterBottle/gerber.zip
  projects/UVWaterBottle/schematic.json
  projects/UVWaterBottle/schematic.pdf
  projects/UVWaterBottle/src/pcb.json
  projects/UVWaterBottle/src/schematic.json
Labels: Submission, The Trail

#452 business card pcb!!!
  projects/batuhan card pcb/README.MD
  projects/batuhan card pcb/cart.png
  projects/batuhan card pcb/gerber.zip
  projects/batuhan card pcb/oldcart
  projects/batuhan card pcb/schematic.pdf
  projects/batuhan card pcb/src/PCB_PCB_BusinessCard_2024-04-14.json
  projects/batuhan card pcb/src/SCH_BusinessCard_2024-06-08.json
Labels: Submission

#609 Added Kai Pereira Hack Card!
  projects/KAI_BUSINESS_CARD/README.md
  projects/KAI_BUSINESS_CARD/cart.png
  projects/KAI_BUSINESS_CARD/gerber.zip
  projects/KAI_BUSINESS_CARD/schematic.pdf
  projects/KAI_BUSINESS_CARD/src/PCB.json
  projects/KAI_BUSINESS_CARD/src/SCHEMA.json
Labels: Submission

#668 add Gae Boy Camera
  projects/gae-boy-camera/README.md
  projects/gae-boy-camera/cart.png
  projects/gae-boy-camera/gerber.zip
  projects/gae-boy-camera/schematic.pdf
  projects/gae-boy-camera/src/2024-05-01_21-40-41.kicad_sym
  projects/gae-boy-camera/src/camera-parts.kicad_sym
  projects/gae-boy-camera/src/fp-info-cache
  projects/gae-boy-camera/src/fp-lib-table
  projects/gae-boy-camera/src/gae-boy-camera.kicad_dru
  projects/gae-boy-camera/src/gae-boy-camera.kicad_pcb
  projects/gae-boy-camera/src/gae-boy-camera.kicad_pro
  projects/gae-boy-camera/src/gae-boy-camera.kicad_sch
  projects/gae-boy-camera/src/lcsc.kicad_sym
  projects/gae-boy-camera/src/sym-lib-table
Labels: Submission, The Trail

#677 Add files via upload
  projects/Dhitik Usb Gadget/README.md
  projects/Dhitik Usb Gadget/cart.png
  projects/Dhitik Usb Gadget/gerber.zip
  projects/Dhitik Usb Gadget/schematic.pdf
  projects/Dhitik Usb Gadget/src/PCB_USB-GADGET-PCB.json
  projects/Dhitik Usb Gadget/src/SCH_DIY-PICO-USB-GADGET.json
Labels: Submission

#678 Add Krishna's USB Hub
  projects/Krishna's USB Hub/README.md
  projects/Krishna's USB Hub/cart.png
  projects/Krishna's USB Hub/gerber.zip
  projects/Krishna's USB Hub/schematic.pdf
  projects/Krishna's USB Hub/src/PCB_PCB_USB-hub_2024-05-28.json
  projects/Krishna's USB Hub/src/SCH_USB-hub_2024-05-28.json
Labels: Submission

#683 2nd PCB (no tutorial)
  projects/mx fightpad/README.md
  projects/mx fightpad/cart.png
  projects/mx fightpad/gerber.zip
  projects/mx fightpad/schematic.pdf
  projects/mx fightpad/src/PCB_PCB_fightpad_3_2024-06-17.json
  projects/mx fightpad/src/SCH_fightpad_2024-06-17 (1).json
Labels: Submission

#647 PCB Motor
  projects/PCB Motor/README.md
  projects/PCB Motor/cart.png
  projects/PCB Motor/gerber.zip
  projects/PCB Motor/schematic.pdf
  projects/PCB Motor/src/PCB_Motor.kicad_pcb
  projects/PCB Motor/src/PCB_Motor.kicad_sch
Labels: Submission

#690 Actually selecting PCB assembly this time, business card
  projects/charlescoolcards/README.md
  projects/charlescoolcards/cart.png
  projects/charlescoolcards/gerber.zip
  projects/charlescoolcards/schematic.pdf
  projects/charlescoolcards/src/PCB_PCB_business-card_2024-06-19.json
  projects/charlescoolcards/src/SCH_business-card_2024-06-18.json
Labels: Submission

#698 add FPC hacker card
  projects/noras-fpc-card/README.md
  projects/noras-fpc-card/cart.png
  projects/noras-fpc-card/gerber.zip
  projects/noras-fpc-card/schematic.pdf
  projects/noras-fpc-card/src/business-card.kicad_pcb
  projects/noras-fpc-card/src/business-card.kicad_pro
  projects/noras-fpc-card/src/business-card.kicad_sch
  projects/noras-fpc-card/src/fp-lib-table
  projects/noras-fpc-card/src/lcsc.3dshapes/XQFN-8_L1.6-W1.6-H0.5-P0.50.step
  projects/noras-fpc-card/src/lcsc.3dshapes/XQFN-8_L1.6-W1.6-H0.5-P0.50.wrl
  projects/noras-fpc-card/src/lcsc.kicad_sym
  projects/noras-fpc-card/src/lcsc.pretty/XQFN-8_L1.6-W1.6-P0.50-BL.kicad_mod
  projects/noras-fpc-card/src/nfc_ant.pretty/nfc_ant.kicad_mod
  projects/noras-fpc-card/src/sym-lib-table
Labels: Submission, no HCB needed

#689 add: phthallo's usb hub
  projects/phthallo-usb-hub/README.md
  projects/phthallo-usb-hub/cart.png
  projects/phthallo-usb-hub/gerber.zip
  projects/phthallo-usb-hub/schematic.pdf
  projects/phthallo-usb-hub/src/PCB_PCB_usbhubpcb2_2024-06-19.json
  projects/phthallo-usb-hub/src/SCH_usbhubpcb2_2024-06-19.json
Labels: Submission

#696 USB A -> C Hub
  projects/usbAtoC/README.md
  projects/usbAtoC/cart.png
  projects/usbAtoC/gerber.zip
  projects/usbAtoC/schematic.pdf
  projects/usbAtoC/src/PCB_PCB_usb-hub_2024-06-19.json
  projects/usbAtoC/src/SCH_usb-hub_2024-06-19.json
Labels: Submission

#726 PranavUSBhub
  projects/PranavUSBhub/README.md
  projects/PranavUSBhub/cart.png
  projects/PranavUSBhub/gerber.zip
  projects/PranavUSBhub/schematic.pdf
  projects/PranavUSBhub/src/design_pcb.json
  projects/PranavUSBhub/src/design_sch.json
Labels: Submission

#725 Arsh's Business (Hacker!) Card
  projects/TRENTAREV-Card/README.md
  projects/TRENTAREV-Card/cart.png
  projects/TRENTAREV-Card/gerber.zip
  projects/TRENTAREV-Card/schematic.pdf
  projects/TRENTAREV-Card/src/PCB_PCB_New-Project_2_2024-06-23.json
  projects/TRENTAREV-Card/src/SCH_New-Project_2024-06-23.json
Labels: Submission

#736 ragav_hacker_card
  projects/ragav_hacker_card/README.md
  projects/ragav_hacker_card/cart.png
  projects/ragav_hacker_card/gerber.zip
  projects/ragav_hacker_card/schematic.pdf
  projects/ragav_hacker_card/src/PCB.json
  projects/ragav_hacker_card/src/SCH.json
Labels: Submission

#679 Div's pi-day pcb!
  projects/3_14 Pi-day PCB/README.md
  projects/3_14 Pi-day PCB/cart.png
  projects/3_14 Pi-day PCB/gerber.zip
  projects/3_14 Pi-day PCB/schematic.pdf
  projects/3_14 Pi-day PCB/src/PCB_PCB_3-14-Pi-day-PCB_2_2024-06-02.json
  projects/3_14 Pi-day PCB/src/SCH_3-14-Pi-day-PCB_2024-06-02.json
  projects/Gerber_3-14-Pi-day-PCB_PCB_3-14-Pi-day-PCB_2_2024-06-02.zip
  projects/PCB_PCB_3-14-Pi-day-PCB_2_2024-06-02.json
  projects/SCH_3-14-Pi-day-PCB_2024-06-02.json
  projects/Schematic_3-14-Pi-day-PCB_2024-06-02.pdf
  projects/Screenshot 2024-06-14 153202.png
Labels: Submission

#737 second attempt, triple checked everything this time
  projects/falsonixsnumberpad/README.md
  projects/falsonixsnumberpad/cart.png
  projects/falsonixsnumberpad/gerber.zip
  projects/falsonixsnumberpad/schematic.pdf
  projects/falsonixsnumberpad/src/numpad_project.kicad_pcb
  projects/falsonixsnumberpad/src/numpad_project.kicad_pro
  projects/falsonixsnumberpad/src/numpad_project.kicad_sch
Labels: Submission
