Repository hackclub/OnBoard, pull requests merged in 2024-04, with the labels that each got.

#421 fix formatting consistency
  docs/ordering_from_JLCPCB.md
Labels: Dev

#431 Fix bot link view
  .github/workflows/gerbview.js
Labels: Dev

#430 Create Project
  projects/Angelina's ATtiny13 Star Wearable/README.md
  projects/Angelina's ATtiny13 Star Wearable/cart.png
  projects/Angelina's ATtiny13 Star Wearable/gerber.zip
  projects/Angelina's ATtiny13 Star Wearable/schematic.pdf
  projects/Angelina's ATtiny13 Star Wearable/src/StarNecklace.kicad_pcb
  projects/Angelina's ATtiny13 Star Wearable/src/StarNecklace.kicad_pro
  projects/Angelina's ATtiny13 Star Wearable/src/StarNecklace.kicad_sch
Labels: Submission

#424 Add nfc-card
  projects/nfc-card/README.md
  projects/nfc-card/cart.png
  projects/nfc-card/gerber.zip
  projects/nfc-card/schematic.pdf
  projects/nfc-card/src/PCB_PCB_nfc-card_2024-03-30.json
  projects/nfc-card/src/SCH_nfc-card_2024-03-30.json
Labels: Submission

#416 PixelCard PR
  projects/PixelCard/README.md
  projects/PixelCard/cart.png
  projects/PixelCard/gerber.zip
  projects/PixelCard/schematic.pdf
  projects/PixelCard/src/1-PCB_PCB_PixelCard.json
  projects/PixelCard/src/1-Schematic_PixelCard.json
  projects/PixelCard/src/README.txt
Labels: Submission

#401 Add "HACKER CARD" Board
  projects/Swastik's NFC card/README.md
  projects/Swastik's NFC card/cart.png
  projects/Swastik's NFC card/gerber.zip
  projects/Swastik's NFC card/schematic.pdf
  projects/Swastik's NFC card/src/PCB_PCB_Hacker-Card_2024-04-02.json
  projects/Swastik's NFC card/src/SCH_Hacker-Card_2024-03-24.json
Labels: Submission

#426 Oliver Judson cutdown
  projects/Cutdown_System/README.md
  projects/Cutdown_System/cart.png
  projects/Cutdown_System/gerber.zip
  projects/Cutdown_System/schematic.pdf
  projects/Cutdown_System/src/learnoliver.kicad_pcb
  projects/Cutdown_System/src/learnoliver.kicad_pro
  projects/Cutdown_System/src/learnoliver.kicad_sch
Labels: Submission

#434 Arthur's UAV Panel
  projects/Arthur's UAV Panel/README.md
  projects/Arthur's UAV Panel/cart.png
  projects/Arthur's UAV Panel/gerber.zip
  projects/Arthur's UAV Panel/schematic.pdf
  projects/Arthur's UAV Panel/src/left-side.kicad_pcb
  projects/Arthur's UAV Panel/src/left-side.kicad_pro
  projects/Arthur's UAV Panel/src/left-side.kicad_sch
Labels: Submission

#436 submission for pcb nfc card ❤️
  projects/Michaels PCB NFC CARD/Schematic.pdf
  projects/Michaels PCB NFC CARD/cart.png
  projects/Michaels PCB NFC CARD/gerber.zip
  projects/Michaels PCB NFC CARD/readme.md
  projects/Michaels PCB NFC CARD/src/BOM_nfc-cards_2024-04-07.csv
  projects/Michaels PCB NFC CARD/src/BackupProjects_logodzip18_personal_0_20240407.zip
  projects/Michaels PCB NFC CARD/src/PCB_PCB_nfc-cards_2024-04-07 (2).json
  projects/Michaels PCB NFC CARD/src/PickAndPlace_PCB_nfc-cards_2024-04-07.csv
  projects/Michaels PCB NFC CARD/src/download (1).png
  projects/Michaels PCB NFC CARD/src/gerber.zip
  projects/Michaels PCB NFC CARD/src/schematic.pdf
Labels: Submission

#438 Joseph's Business Card
  projects/Joseph Business Card/README.md
  projects/Joseph Business Card/cart.png
  projects/Joseph Business Card/gerber.zip
  projects/Joseph Business Card/schematic.pdf
  projects/Joseph Business Card/src/PCB_Card_2024-04-08.json
  projects/Joseph Business Card/src/SCH_Card_2024-04-08.json
Labels: Submission

#437 Hackers buisness card
  projects/hackercard_CodeSaksham/README.md
  projects/hackercard_CodeSaksham/cart.png
  projects/hackercard_CodeSaksham/gerber.zip
  projects/hackercard_CodeSaksham/schematic.pdf
  projects/hackercard_CodeSaksham/src/PCB_PCB_hack-card_2_2024-04-07.json
  projects/hackercard_CodeSaksham/src/SCH_hack-card_2024-04-07.json
Labels: Submission

#429 Hunter's PCB
  projects/Hunter's PCB/README.md
  projects/Hunter's PCB/cart.png
  projects/Hunter's PCB/gerber.zip
  projects/Hunter's PCB/schematic.pdf
  projects/Hunter's PCB/src/PCB_PCB_nfcBusCard_2024-03-30.json
  projects/Hunter's PCB/src/SCH_PCB-Hacker-Card_2024-03-30.json
Labels: Submission

#440 Business Card
  projects/business card/README.md
  projects/business card/cart.png
  projects/business card/gerber.zip
  projects/business card/schematic.pdf
  projects/business card/src/PCB_PCB_Business-card-2_2024-04-10.json
  projects/business card/src/SCH_Business-card-2_2024-04-10.json
Labels: Submission

#433 Akshat's business card
  projects/AkshatSharma/README.md
  projects/AkshatSharma/cart.png
  projects/AkshatSharma/gerber.zip
  projects/AkshatSharma/schematic.pdf
  projects/AkshatSharma/src/PCB_PCB_NFC-CARD_2024-04-05.json
  projects/AkshatSharma/src/SCH_NFC-CARD_2024-04-05.json
Labels: Submission

#449 Ayaan's Cards
  projects/Ayaan's Cards/README.md
  projects/Ayaan's Cards/cart.png
  projects/Ayaan's Cards/gerber.zip
  projects/Ayaan's Cards/schematic.pdf
  projects/Ayaan's Cards/src/PCB_PCB_New-Project_2024-04-14.json
  projects/Ayaan's Cards/src/design.json
Labels: Submission

#423 Create README.md
  projects/Noahsboard/README.md
  projects/Noahsboard/bom.csv
  projects/Noahsboard/cart.png
  projects/Noahsboard/gerber.zip
  projects/Noahsboard/pickandplace.csv
  projects/Noahsboard/schematic.pdf
  projects/Noahsboard/src/BOM_card_2024-03-29.csv
  projects/Noahsboard/src/PickAndPlace_PCB_card_2024-03-29.csv
Labels: Submission

#457 Fix channel name in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Dev

#446 Sang's W TOTK Key
  projects/Sang's W TOTK Key/README.md
  projects/Sang's W TOTK Key/cart.png
  projects/Sang's W TOTK Key/gerber.zip
  projects/Sang's W TOTK Key/schematic.pdf
  projects/Sang's W TOTK Key/src/PCB_totk.json
  projects/Sang's W TOTK Key/src/SCH_totk.json
Labels: Submission

#450 1lb Combat Robot Power Distribution Board
  projects/Ari's 1lb combat robot PD board/PCB.pdf
  projects/Ari's 1lb combat robot PD board/README.md
  projects/Ari's 1lb combat robot PD board/cart.png
  projects/Ari's 1lb combat robot PD board/gerber.zip
  projects/Ari's 1lb combat robot PD board/schematic.pdf
  projects/Ari's 1lb combat robot PD board/src/PCB_PD-Board-PCB_2024-04-13.json
  projects/Ari's 1lb combat robot PD board/src/SCH_PD-Board_2024-04-13.json
Labels: Submission, no HCB needed

#478 ESP8266 Business Card Shield
  projects/ESP8266-shield-nfc-card/README.md
  projects/ESP8266-shield-nfc-card/cart.png
  projects/ESP8266-shield-nfc-card/gerber.zip
  projects/ESP8266-shield-nfc-card/schematic.pdf
  projects/ESP8266-shield-nfc-card/src/pcb.json
  projects/ESP8266-shield-nfc-card/src/sch.json
Labels: Submission

#479 NeoHeart v2
  projects/neoheart/README.MD
  projects/neoheart/cart.png
  projects/neoheart/gerber.zip
  projects/neoheart/schematic.pdf
  projects/neoheart/src/neoheart_v2.kicad_pcb
  projects/neoheart/src/neoheart_v2.kicad_pro
  projects/neoheart/src/neoheart_v2.kicad_sch
Labels: Submission

#471 Andrew's NFC Card
  projects/Andrew's NFC Card/README.md
  projects/Andrew's NFC Card/cart.png
  projects/Andrew's NFC Card/gerber.zip
  projects/Andrew's NFC Card/schematic.pdf
  projects/Andrew's NFC Card/src/PCB_PCB_Andrew's-NFC-Card_2024-04-21.json
  projects/Andrew's NFC Card/src/SCH_Andrew's-NFC-Card_2024-04-21.json
Labels: Submission

#467 FletchVR
  projects/FletchVR/README.md
  projects/FletchVR/cart.png
  projects/FletchVR/gerber.zip
  projects/FletchVR/schematic.pdf
  projects/FletchVR/src/PCB_PCB_TestPCB_8_2024-04-18.json
  projects/FletchVR/src/SCH_TestPCB_2024-04-18.json
  projects/FletchVR/src/temp
Labels: Submission

#454 Mahanth's Card
  projects/MahanthsCard/README.md
  projects/MahanthsCard/cart.png
  projects/MahanthsCard/gerber.zip
  projects/MahanthsCard/schematic.pdf
  projects/MahanthsCard/src/PCB_PCB_Business-Card_2024-04-15.json
  projects/MahanthsCard/src/SCH_Business-Card_2024-04-15 (2).json
  projects/f
Labels: Submission

#480 555 Chaser Charles Zhang
  projects/555_LED_Chaser/README.md
  projects/555_LED_Chaser/cart.png
  projects/555_LED_Chaser/gerber.zip
  projects/555_LED_Chaser/schematic.pdf
  projects/555_LED_Chaser/src/PCB_PCB_555-Circuit_2_2024-04-23.json
  projects/555_LED_Chaser/src/SCH_555-Circuit_2024-04-23.json
Labels: Submission

#476 readme
  projects/type-a to type-c/README.md
  projects/type-a to type-c/cart.png
  projects/type-a to type-c/gerber.zip
  projects/type-a to type-c/schematic.pdf
  projects/type-a to type-c/src/PCB-typec.json
  projects/type-a to type-c/src/SCH-typeC.json
Labels: Submission, no HCB needed

#448 Elias Duckworth PCBHeater
  projects/PCBHeater/README.md
  projects/PCBHeater/cart.png
  projects/PCBHeater/gerber.zip
  projects/PCBHeater/schematic.pdf
  projects/PCBHeater/src/Elias'supercoolpcbheater.kicad_pcb
  projects/PCBHeater/src/Elias'supercoolpcbheater.kicad_pro
  projects/PCBHeater/src/Elias'supercoolpcbheater.kicad_sch
Labels: Submission

#453 PCB grant for Sign language gloves
  projects/Sign_Language_Gloves/README.md
  projects/Sign_Language_Gloves/cart.png
  projects/Sign_Language_Gloves/gerber.zip
  projects/Sign_Language_Gloves/schematic.pdf
  projects/Sign_Language_Gloves/src/PCB_PCB_mpu6050_2024-04-15.json
  projects/Sign_Language_Gloves/src/SCH_mpu6050_2024-04-15.json
Labels: Submission

#482 Submission
  projects/David's Electronic Whistle/README.md
  projects/David's Electronic Whistle/cart.png
  projects/David's Electronic Whistle/gerber.zip
  projects/David's Electronic Whistle/schematic.pdf
  projects/David's Electronic Whistle/src/pcb.json
  projects/David's Electronic Whistle/src/schematic.json
Labels: Submission

#488 555Circuit
  projects/555Circuit/README.md
  projects/555Circuit/cart.png
  projects/555Circuit/gerber.zip
  projects/555Circuit/schematic.pdf
  projects/555Circuit/src/PCB_555Circuit.json
  projects/555Circuit/src/SCH_555Circuit.json
Labels: Submission

#489 Lucas Han 555 LED Chaser
  projects/Lucas Han LED Chaser/README.md
  projects/Lucas Han LED Chaser/cart.png
  projects/Lucas Han LED Chaser/gerber.zip
  projects/Lucas Han LED Chaser/schematic.pdf
  projects/Lucas Han LED Chaser/src/PCB_PCB_555-LED-Chaser_2_2024-04-24.json
  projects/Lucas Han LED Chaser/src/SCH_555-LED-Chaser_2024-04-24.json
Labels: Submission

#493 Jenny LI 555 Timer
  projects/jennyli555ledchaser/README.md
  projects/jennyli555ledchaser/cart.png
  projects/jennyli555ledchaser/gerber.zip
  projects/jennyli555ledchaser/schematic.pdf
  projects/jennyli555ledchaser/src/designPCB.json
  projects/jennyli555ledchaser/src/designschematic.json
Labels: Submission

#490 Mike Lukash 555 Clocker
  projects/ML555Clocker/README.md
  projects/ML555Clocker/cart.png
  projects/ML555Clocker/gerber.zip
  projects/ML555Clocker/schematic.pdf
  projects/ML555Clocker/src/PCB_PCB_555Clock_2_2024-04-25.json
  projects/ML555Clocker/src/SCH_555Clock_2024-04-25.json
Labels: Submission

#501 Perneet Bhathal 555 LED Chaser
  projects/555_led_heart_pb/README.md
  projects/555_led_heart_pb/cart.png
  projects/555_led_heart_pb/gerber.zip
  projects/555_led_heart_pb/schematic.pdf
  projects/555_led_heart_pb/src/PCB_PCB_555-Circuit_2024-04-26.json
  projects/555_led_heart_pb/src/SCH_555-Circuit_2024-04-23.json
Labels: Submission

#506 Jake's BATMAN 555 timer
  projects/Jake's BATMAN 555 timer/README.md
  projects/Jake's BATMAN 555 timer/cart.png
  projects/Jake's BATMAN 555 timer/gerber.zip
  projects/Jake's BATMAN 555 timer/schematic.pdf
  projects/Jake's BATMAN 555 timer/src/PCB_PCB_Sigma-Technologies-BATMAN_2024-04-26.json
  projects/Jake's BATMAN 555 timer/src/SCH_Sigma-Alert_2024-04-26.json
Labels: Submission

#508 Andrew's Luigi Circuit
  projects/Andrew's Luigi Circuit/README.md
  projects/Andrew's Luigi Circuit/cart.png
  projects/Andrew's Luigi Circuit/gerber.zip
  projects/Andrew's Luigi Circuit/schematic.pdf
  projects/Andrew's Luigi Circuit/src/PCB_PCB_555-Circuit_2024-04-26.json
  projects/Andrew's Luigi Circuit/src/SCH_555-Circuit_2024-04-26.json
Labels: SD Workshop

#507 Eitan Project Request
  projects/555Timerproject/README.md
  projects/555Timerproject/cart.png
  projects/555Timerproject/gerber.zip
  projects/555Timerproject/schematic.pdf
  projects/555Timerproject/src/PCB_PCB_555-LED-Chaser_2_2024-04-26.json
  projects/555Timerproject/src/SCH_555-LED-Chaser_2024-04-26.json
Labels: Submission, SD Workshop

#505 Dimi555LEDchaser
  projects/Dimi555LEDchaser/README.md
  projects/Dimi555LEDchaser/cart.png
  projects/Dimi555LEDchaser/gerber.zip
  projects/Dimi555LEDchaser/schematic.pdf
  projects/Dimi555LEDchaser/src/PCB_PCB_pcb555_2024-04-26.json
  projects/Dimi555LEDchaser/src/SCH_pcb555_2024-04-26.json
Labels: Submission, SD Workshop

#497 Brian Lee - board request
  projects/BrianLeeLEDChaser/README.md
  projects/BrianLeeLEDChaser/cart.png
  projects/BrianLeeLEDChaser/gerber.zip
  projects/BrianLeeLEDChaser/schematic.pdf
  projects/BrianLeeLEDChaser/src/PCB_PCB_555-Circuit_2024-04-25.json
  projects/BrianLeeLEDChaser/src/SCH_555-Circuit_2024-04-25.json
Labels: SD Workshop

#496 Jonathan-PCB
  projects/Jonathan-PCB/README.md
  projects/Jonathan-PCB/cart.png
  projects/Jonathan-PCB/gerber.zip
  projects/Jonathan-PCB/schematic.pdf
  projects/Jonathan-PCB/src/design.json
  projects/Jonathan-PCB/src/design_schematic.json
Labels: Submission, SD Workshop

#491 WilliamYuan Clocker PCB Request
  projects/WilliamYuanClocker/README.md
  projects/WilliamYuanClocker/cart.png
  projects/WilliamYuanClocker/gerber.zip
  projects/WilliamYuanClocker/schematic.pdf
  projects/WilliamYuanClocker/src/PCB_PCB_555-led-chaser_2024-04-25.json
  projects/WilliamYuanClocker/src/SCH_555-led-chaser_2024-04-25.json
Labels: SD Workshop

#516 1933y-555andSBC
  projects/1933y-555chaser/README.md
  projects/1933y-555chaser/cart.png
  projects/1933y-555chaser/gerber.zip
  projects/1933y-555chaser/schematic.pdf
  projects/1933y-555chaser/src/PCB.json
  projects/1933y-555chaser/src/SCH.json
Labels: Submission, SD Workshop

#515 QuLedChaser Project
  projects/QuLedChaser/README.md
  projects/QuLedChaser/cart.png
  projects/QuLedChaser/gerber.zip
  projects/QuLedChaser/schematic.pdf
  projects/QuLedChaser/src/PCB_PCB_555circuit_2024-04-28.json
  projects/QuLedChaser/src/SCH_555circuit_2024-04-28.json
Labels: Submission, SD Workshop

#513 Ethan Song Pull Request for 555 LED Chaser board
  projects/EthanSongMauroProject/README.md
  projects/EthanSongMauroProject/cart.png
  projects/EthanSongMauroProject/gerber.zip
  projects/EthanSongMauroProject/schematic.pdf
  projects/EthanSongMauroProject/src/PCB_PCB_PCB_mauro_circuit_2024-04-28.json
  projects/EthanSongMauroProject/src/SCH_PCB_mauro_circuit_2024-04-28.json
Labels: Submission, SD Workshop

#512 README.md
  projects/smileyface/README.md
  projects/smileyface/cart.png
  projects/smileyface/gerber.zip
  projects/smileyface/schematic.pdf
  projects/smileyface/src/PCB_PCB_555-project_2_2024-04-27.json
  projects/smileyface/src/SCH_555-project_2024-04-27.json
Labels: Submission, SD Workshop

#474 MiniMorse
  projects/MiniMorse/README.md
  projects/MiniMorse/cart.png
  projects/MiniMorse/gerber.zip
  projects/MiniMorse/lcsc_cart.png
  projects/MiniMorse/schematic.pdf
  projects/MiniMorse/src/MiniMorse.kicad_pcb
  projects/MiniMorse/src/MiniMorse.kicad_pro
  projects/MiniMorse/src/MiniMorse.kicad_sch
Labels: Submission

#468 Blaze's USB-C Hub
  projects/blaze's_usb_c_hub/README.MD
  projects/blaze's_usb_c_hub/bom.csv
  projects/blaze's_usb_c_hub/cart.png
  projects/blaze's_usb_c_hub/gerber.zip
  projects/blaze's_usb_c_hub/pickandplace.csv
  projects/blaze's_usb_c_hub/schematic.pdf
  projects/blaze's_usb_c_hub/src/PCB_PCB_ASUS-TUF-A16-USB-HUB_2_2024-04-18.json
  projects/blaze's_usb_c_hub/src/SCH_ASUS-TUF-A16-USB-HUB_2024-04-18.json
Labels: Submission

#503 Selina's 555 PCB
  projects/selinapan1/README.md
  projects/selinapan1/cart.png
  projects/selinapan1/gerber.zip
  projects/selinapan1/schematic.pdf
  projects/selinapan1/src/design.json
  projects/selinapan1/src/pcbdesignjson.json
Labels: Submission, SD Workshop

#522 USB C Breakout Board
  projects/USB C Breakout Board/README.md
  projects/USB C Breakout Board/cart.png
  projects/USB C Breakout Board/gerber.zip
  projects/USB C Breakout Board/schematic.pdf
  projects/USB C Breakout Board/src/PCB_PCB_breakout_2024-04-23 (1).json
  projects/USB C Breakout Board/src/SCH_breakout_2024-04-23.json
Labels: Submission, no HCB needed

#509 Stuart_Gizmo_Gadget
  projects/Stuart_Gizmo_Gadget/README.md
  projects/Stuart_Gizmo_Gadget/cart.png
  projects/Stuart_Gizmo_Gadget/gerber.zip
  projects/Stuart_Gizmo_Gadget/schematic.pdf
  projects/Stuart_Gizmo_Gadget/src/PCB_PCB_New-Project_6_2024-04-26.json
  projects/Stuart_Gizmo_Gadget/src/SCH_New-Project_2024-04-26.json
Labels: Submission, SD Workshop
