Repository hackclub/OnBoard, pull requests merged in 2024-10, with the labels that each got.

#1133 Showcase Website Update
  showcase/src/app.html
  showcase/src/routes/+page.svelte
Labels: Dev

#1139 Launch of Trick or Trace
  .github/PULL_REQUEST_TEMPLATE.md
  showcase/README.md
  showcase/src/app.html
  showcase/src/routes/+page.svelte
  showcase/static/README.md
Labels: Dev

#1115 5Vconverter
  projects/5Vconvertors/README.md
  projects/5Vconvertors/cart.png
  projects/5Vconvertors/gerber.zip
  projects/5Vconvertors/schematic.pdf
  projects/5Vconvertors/src/prova1.kicad_pcb
  projects/5Vconvertors/src/prova1.kicad_pro
  projects/5Vconvertors/src/prova1.kicad_sch
  projects/5Vconvertors/src/prova1.step
Labels: Submission

#1125 Ansh Card
  projects/Ansh_NFC/README.md
  projects/Ansh_NFC/cart.png
  projects/Ansh_NFC/gerber.zip
  projects/Ansh_NFC/schematic.pdf
  projects/Ansh_NFC/src/file
  projects/Ansh_NFC/src/pcb.json
  projects/Ansh_NFC/src/schematic.json
Labels: Submission

#1122 feat: add woagboard
  projects/onboard-live-Woagboard/BOM.csv
  projects/onboard-live-Woagboard/CPL.csv
  projects/onboard-live-Woagboard/README.md
  projects/onboard-live-Woagboard/cart.png
  projects/onboard-live-Woagboard/gerber.zip
  projects/onboard-live-Woagboard/schematic.pdf
  projects/onboard-live-Woagboard/src/Library.pretty/EVQ-P7C.kicad_mod
  projects/onboard-live-Woagboard/src/Library.pretty/Q13FC13500004.kicad_mod
  projects/onboard-live-Woagboard/src/Library.pretty/SW_choc_v1_HS_No_LED.kicad_mod
  projects/onboard-live-Woagboard/src/Library.pretty/USBLC6-2SC6-MS.kicad_mod
  projects/onboard-live-Woagboard/src/Models/EVQ-P7C01P--3DModel-STEP-269445.STEP
  projects/onboard-live-Woagboard/src/Models/USBLC6-2SC6.step
  projects/onboard-live-Woagboard/src/woagboard.kicad_pcb
  projects/onboard-live-Woagboard/src/woagboard.kicad_prl
  projects/onboard-live-Woagboard/src/woagboard.kicad_pro
  projects/onboard-live-Woagboard/src/woagboard.kicad_sch
  projects/onboard-live-Woagboard/src/woagboard.xml
Labels: Submission, OnBoard Live

#1138 rc_car_ver4
  projects/rc_car_ver4/README.md
  projects/rc_car_ver4/cart.png
  projects/rc_car_ver4/gerber.zip
  projects/rc_car_ver4/schematic.pdf
  projects/rc_car_ver4/src/pcb.json
  projects/rc_car_ver4/src/schematic.json
Labels: Submission

#1158 Introduce revised Fillout Verification Form & Open Submissions for Trick or Trace
  .github/PULL_REQUEST_TEMPLATE.md
  meta/nginx.conf
  showcase/src/app.html
  showcase/src/routes/+page.svelte
Labels: Dev

#1145 My first PCB!
  projects/luteron6'sHackCard/README.md
  projects/luteron6'sHackCard/cart.png
  projects/luteron6'sHackCard/gerber.zip
  projects/luteron6'sHackCard/schematic.pdf
  projects/luteron6'sHackCard/src/PCB_Layout_2024-10-03.json
  projects/luteron6'sHackCard/src/SCH_Hacker-Card_2024-10-03.json
Labels: Submission

#1146 Occula Zero Control Board
  projects/Occula Zero Control Board/README.md
  projects/Occula Zero Control Board/cart.png
  projects/Occula Zero Control Board/gerber.zip
  projects/Occula Zero Control Board/schematic.pdf
  projects/Occula Zero Control Board/src/pcb.json
  projects/Occula Zero Control Board/src/schematic.json
Labels: Submission

#1151 Nathaniel Esp32 Motor Driver
  projects/ESP32_Motor_Driver/README.md
  projects/ESP32_Motor_Driver/cart.png
  projects/ESP32_Motor_Driver/gerber.zip
  projects/ESP32_Motor_Driver/schematic.pdf
  projects/ESP32_Motor_Driver/src/pcb.json
  projects/ESP32_Motor_Driver/src/schematic.json
Labels: Submission

#1123 Sasha_PCB
  projects/Sashas_card/README.md
  projects/Sashas_card/cart.png
  projects/Sashas_card/gerber.zip
  projects/Sashas_card/schematic.pdf
  projects/Sashas_card/src/pcb.json
  projects/Sashas_card/src/schematic.json
Labels: Submission

#1156 Jordan C card
  projects/JordanC/README.md
  projects/JordanC/cart.png
  projects/JordanC/gerber.zip
  projects/JordanC/schematic.pdf
  projects/JordanC/src/pcb.json
  projects/JordanC/src/schematic.json
Labels: Submission

#1167 Keaton PCB
  projects/KeatonPCB/README.md
  projects/KeatonPCB/cart.png
  projects/KeatonPCB/gerber.zip
  projects/KeatonPCB/schematic.pdf
  projects/KeatonPCB/src/pcb.json
  projects/KeatonPCB/src/schematic.json
  projects/KeatonPCB/src/temp
Labels: Submission

#1168 RayanDojob PCB
  projects/dojob_kalifa/README.md
  projects/dojob_kalifa/cart.png
  projects/dojob_kalifa/gerber.zip
  projects/dojob_kalifa/schematic.pdf
  projects/dojob_kalifa/src/pcb.json
  projects/dojob_kalifa/src/schematic.json
  projects/dojob_kalifa/src/temp
Labels: Submission

#1162 buck-regulator
  projects/Buck-Regulator/README.md
  projects/Buck-Regulator/cart.png
  projects/Buck-Regulator/gerber.zip
  projects/Buck-Regulator/schematic.pdf
  projects/Buck-Regulator/src/Screenshot.png
  projects/Buck-Regulator/src/buck.kicad_pcb
  projects/Buck-Regulator/src/buck.kicad_pro
  projects/Buck-Regulator/src/buck.kicad_sch
Labels: Submission

#1170 PCB
  projects/newPCB/README.md
  projects/newPCB/cart.png
  projects/newPCB/gerber.zip
  projects/newPCB/schematic.pdf
  projects/newPCB/src/PCB_PCB_NFC-card_2024-10-09.json
  projects/newPCB/src/SCH_NFC-card_2024-10-09.json
Labels: Submission

#1172 Create README.md
  projects/FirstProject/README.md
  projects/FirstProject/cart.png
  projects/FirstProject/gerber.zip
  projects/FirstProject/schematic.pdf
  projects/FirstProject/src/pcb.json
  projects/FirstProject/src/schematic.json
Labels: Submission

#1177 Brianna Card
  projects/brianna_card/README.md
  projects/brianna_card/cart.png
  projects/brianna_card/gerber.zip
  projects/brianna_card/schematic.pdf
  projects/brianna_card/src/pcb.json
  projects/brianna_card/src/schematic.json
Labels: Submission

#1181 MichaelNFC
  projects/MichaelNFC/README.md
  projects/MichaelNFC/cart.png
  projects/MichaelNFC/gerber.zip
  projects/MichaelNFC/schematic.pdf
  projects/MichaelNFC/src/pcb.json
  projects/MichaelNFC/src/schematic.json
Labels: Submission

#1154 Add Akash's USB-A HUB Project
  projects/Akash's PCB DESIGN/README.md
  projects/Akash's PCB DESIGN/cart.png
  projects/Akash's PCB DESIGN/gerber.zip
  projects/Akash's PCB DESIGN/schematic.pdf
  projects/Akash's PCB DESIGN/src/PCB_PCB_USB-HUB_2_2024-10-05.json
  projects/Akash's PCB DESIGN/src/SCH_USB-HUB_2024-10-05.json
Labels: Submission

#1166 Add noobikey project
  projects/noobikey/README.md
  projects/noobikey/cart.png
  projects/noobikey/gerber.zip
  projects/noobikey/schematic.pdf
  projects/noobikey/src/usbkeythings.kicad_pcb
  projects/noobikey/src/usbkeythings.kicad_pro
  projects/noobikey/src/usbkeythings.kicad_sch
  projects/noobikey/src/usbkeythings.wrl
Labels: Submission

#1183 Sammyanfc
  projects/Sammyanfc/README.md
  projects/Sammyanfc/cart.png
  projects/Sammyanfc/gerber.zip
  projects/Sammyanfc/schematic.pdf
  projects/Sammyanfc/src/pcb.json
  projects/Sammyanfc/src/schematic.json
Labels: Submission

#1185 KristenNFC
  projects/KristenNFC/README.md
  projects/KristenNFC/cart.png
  projects/KristenNFC/gerber.zip
  projects/KristenNFC/schematic.pdf
  projects/KristenNFC/src/pcb.json
  projects/KristenNFC/src/schematic.json
Labels: Submission

#1190 JerryNFC
  projects/JerryNFC/README.md
  projects/JerryNFC/cart.png
  projects/JerryNFC/gerber.zip
  projects/JerryNFC/schematic.pdf
  projects/JerryNFC/src/pcb.json
  projects/JerryNFC/src/schematic.json
Labels: Submission

#1192 Rukshiya NFC
  projects/Rukshiya NFC/README.md
  projects/Rukshiya NFC/cart.png
  projects/Rukshiya NFC/gerber.zip
  projects/Rukshiya NFC/schematic.pdf
  projects/Rukshiya NFC/src/pcb.json
  projects/Rukshiya NFC/src/schematic.json
Labels: Submission

#1196 MathuooshPCB
  projects/Math27aki/README.md
  projects/Math27aki/cart.png
  projects/Math27aki/gerber.zip
  projects/Math27aki/schematic.pdf
  projects/Math27aki/src/pcb.json
  projects/Math27aki/src/schematic.json
Labels: Submission

#1194 MathushiganNFC
  projects/MathushiganNFC/README.md
  projects/MathushiganNFC/cart.png
  projects/MathushiganNFC/gerber.zip
  projects/MathushiganNFC/schematic.pdf
  projects/MathushiganNFC/src/pcb.json
  projects/MathushiganNFC/src/schematic.json
Labels: Submission

#1199 PatrickNFC
  projects/PatrickNFC/README.md
  projects/PatrickNFC/cart.png
  projects/PatrickNFC/gerber.zip
  projects/PatrickNFC/schematic.pdf
  projects/PatrickNFC/src/pcb.json
  projects/PatrickNFC/src/schematic.json
Labels: Submission

#1200 EdmundNFC
  projects/EdmundNFC/README.md
  projects/EdmundNFC/cart.png
  projects/EdmundNFC/gerber.zip
  projects/EdmundNFC/schematic.pdf
  projects/EdmundNFC/src/pcb.json
  projects/EdmundNFC/src/schematic.json
Labels: Submission

#1202 Viswathiha's PCB
  projects/ViswathihaNFC/README.md
  projects/ViswathihaNFC/cart.png
  projects/ViswathihaNFC/gerber.zip
  projects/ViswathihaNFC/schematic.pdf
  projects/ViswathihaNFC/src/PCB_PCB_nfc-card-viswathiha_2024-10-10.json
  projects/ViswathihaNFC/src/SCH_nfc-card-viswathiha_2024-10-10.json
Labels: Submission

#1206 Create README.md
  projects/FranticAmberisGogo/README.md
  projects/FranticAmberisGogo/cart.png
  projects/FranticAmberisGogo/gerber.zip
  projects/FranticAmberisGogo/schematic.pdf
  projects/FranticAmberisGogo/src/pcb.json
  projects/FranticAmberisGogo/src/schematic.json
Labels: Submission

#1209 Ari Sachdev PCB
  projects/Ari S. PCB/README.md
  projects/Ari S. PCB/cart.png
  projects/Ari S. PCB/gerber.zip
  projects/Ari S. PCB/schematic.pdf
  projects/Ari S. PCB/src/pcb.json
  projects/Ari S. PCB/src/schematic.json
Labels: Submission

#1175 begonya
  projects/begonya/README.md
  projects/begonya/cart.png
  projects/begonya/gerber.zip
  projects/begonya/schematic.pdf
  projects/begonya/src/PCB_PCB_PCBproject_2024-10-10.json
  projects/begonya/src/SCH_PCBproject_2024-10-10.json
Labels: Submission

#1182 AdamNFC
  projects/AdamNFC/README.md
  projects/AdamNFC/cart.png
  projects/AdamNFC/gerber.zip
  projects/AdamNFC/schematic.pdf
  projects/AdamNFC/src/pcb.json
  projects/AdamNFC/src/schematic.json
Labels: Submission

#1171 Nilaan Suri NFC Card
  projects/NilaanS_NFC_Card/README.md
  projects/NilaanS_NFC_Card/cart.png
  projects/NilaanS_NFC_Card/gerber.zip
  projects/NilaanS_NFC_Card/schematic.pdf
  projects/NilaanS_NFC_Card/src/PCB_PCB_NFC-Card-Nilaan_2024-10-09.json
  projects/NilaanS_NFC_Card/src/SCH_NFC-Card-Nilaan_2024-10-09.json
Labels: Submission

#1203 Michael's PCB
  projects/Michael's Project/README.md
  projects/Michael's Project/cart.png
  projects/Michael's Project/gerber.zip
  projects/Michael's Project/schematic.pdf
  projects/Michael's Project/src/pcb.json
  projects/Michael's Project/src/schematic.json
Labels: Submission

#1187 DilachikaNFC
  projects/DilachikaNFC/README.md
  projects/DilachikaNFC/cart.png
  projects/DilachikaNFC/gerber.zip
  projects/DilachikaNFC/schematic.pdf
  projects/DilachikaNFC/src/PCB_PCB_NFC-Card_2024-10-10.json
  projects/DilachikaNFC/src/schematic.json
Labels: Submission

#1147 Add "spookyghost" to get me moolah
  projects/SpookyGhost/README.md
  projects/SpookyGhost/cart.png
  projects/SpookyGhost/gerber.zip
  projects/SpookyGhost/schematic.pdf
  projects/SpookyGhost/src/pcb.json
  projects/SpookyGhost/src/schematic.json
Labels: Submission, Trick or Trace

#1212 ANMOL_HACKERCARD
  projects/ANMOL_HACKERCARD/README.md
  projects/ANMOL_HACKERCARD/cart.png
  projects/ANMOL_HACKERCARD/gerber.zip
  projects/ANMOL_HACKERCARD/schematic.pdf
  projects/ANMOL_HACKERCARD/src/pcb.json
  projects/ANMOL_HACKERCARD/src/schematic.json
Labels: Submission

#1176 Sannihith's NFC Card
  projects/Sannihith's NFC Card/README.md
  projects/Sannihith's NFC Card/cart.png
  projects/Sannihith's NFC Card/gerber.zip
  projects/Sannihith's NFC Card/schematic.pdf
  projects/Sannihith's NFC Card/src/pcb.json
  projects/Sannihith's NFC Card/src/schematic.json
Labels: Submission

#1215 Pull request
  projects/projectname/README.md
  projects/projectname/cart.png
  projects/projectname/gerber.zip
  projects/projectname/schematic.pdf
  projects/projectname/src/pbc.json
  projects/projectname/src/schematic.json
Labels: Submission

#1218 Bad piggies business card!
  projects/BAD_PIGGIES_BUSINESS_CARD/README.md
  projects/BAD_PIGGIES_BUSINESS_CARD/cart.png
  projects/BAD_PIGGIES_BUSINESS_CARD/gerber.zip
  projects/BAD_PIGGIES_BUSINESS_CARD/schematic.pdf
  projects/BAD_PIGGIES_BUSINESS_CARD/src/pcb.json
  projects/BAD_PIGGIES_BUSINESS_CARD/src/schematic.json
Labels: Submission

#1220 Finally_PCB_Card2
  projects/finallyPCB_card/README.md
  projects/finallyPCB_card/cart.png
  projects/finallyPCB_card/gerber.zip
  projects/finallyPCB_card/schematic.pdf
  projects/finallyPCB_card/src/PCB_PCB_FinallyPCB_CARD_2024-10-10.json
  projects/finallyPCB_card/src/SCH_FinallyPCB_CARD_2024-10-10.json
Labels: Submission

#1211 Changes to components and PCBA quantities ( resolved conflict )
  projects/rc_car_ver4/README.md
  projects/rc_car_ver4/cart.png
Labels: Submission

#1155 trick or trace event, spooky card
  projects/shambhavi's spooky card/README.md
  projects/shambhavi's spooky card/cart.png
  projects/shambhavi's spooky card/gerber.zip
  projects/shambhavi's spooky card/schematic.pdf
  projects/shambhavi's spooky card/src/pcb.json
  projects/shambhavi's spooky card/src/schematic.json
Labels: Submission, Trick or Trace

#1160 Shuffl+
  projects/shuffl/cart.png
  projects/shuffl/gerber.zip
  projects/shuffl/readme.md
  projects/shuffl/schematic.pdf
  projects/shuffl/src/pcb.json
  projects/shuffl/src/schematic.json
Labels: Submission, Trick or Trace

#1225 michael38ncf
  projects/michael38nfc/README.md
  projects/michael38nfc/cart.png
  projects/michael38nfc/gerber.zip
  projects/michael38nfc/schematic.pdf
  projects/michael38nfc/src/PCB_PCB_NFC-card-Michael_2024-10-10.json
  projects/michael38nfc/src/SCH_NFC-card-Michael_2024-10-10.json
Labels: Submission

#1136 BLUE_HACK CARD
  projects/BLUE_HACKCARD/BOM.csv
  projects/BLUE_HACKCARD/PICKANDPLACE.csv
  projects/BLUE_HACKCARD/README.md
  projects/BLUE_HACKCARD/cart.png
  projects/BLUE_HACKCARD/gerber.zip
  projects/BLUE_HACKCARD/schematic.pdf
  projects/BLUE_HACKCARD/src/PCB.json
  projects/BLUE_HACKCARD/src/SCHEMATICS.json
Labels: Submission

#1219 FIX: Remove wording of Hack Club Bank and rewrite a bit to make it better
  docs/faq.md
Labels: Dev

#1207 USB hub
  projects/MittalUSBhub/README.md
  projects/MittalUSBhub/cart.png
  projects/MittalUSBhub/gerber.zip
  projects/MittalUSBhub/schematic.pdf
  projects/MittalUSBhub/src/PCB_PCB_USB_hub_2024-10-12.json
  projects/MittalUSBhub/src/SCH_USB_hub_2024-10-12.json
Labels: Submission

#1213 !!!USB HUB with USB-C!!!
  projects/!!!Shaunak's-Usb-c-hub!!!/README.md
  projects/!!!Shaunak's-Usb-c-hub!!!/cart.png
  projects/!!!Shaunak's-Usb-c-hub!!!/gerber.zip
  projects/!!!Shaunak's-Usb-c-hub!!!/schematic.pdf
  projects/!!!Shaunak's-Usb-c-hub!!!/src/pcb.json
  projects/!!!Shaunak's-Usb-c-hub!!!/src/schematic.json
Labels: Submission, Trick or Trace

#1195 cameronnfc
  projects/cameronnfc/README.md
  projects/cameronnfc/cart.png
  projects/cameronnfc/gerber.zip
  projects/cameronnfc/schematic.pdf
  projects/cameronnfc/src/pcb.json
  projects/cameronnfc/src/schematic.json
Labels: Submission

#1163 Usb Converter
  projects/Type C to Type A Adapter!/cart.png
  projects/Type C to Type A Adapter!/gerber.zip
  projects/Type C to Type A Adapter!/readme.md
  projects/Type C to Type A Adapter!/schematic.pdf
  projects/Type C to Type A Adapter!/src/PCB_PCB_halloween-prokect_2024-10-07.json
  projects/Type C to Type A Adapter!/src/SCH_halloween-prokect_2024-10-07.json
Labels: Submission, Trick or Trace

#1198 Sigma Project
  projects/Sigma Project/README.md
  projects/Sigma Project/cart.png
  projects/Sigma Project/gerber.zip
  projects/Sigma Project/schematic.pdf
  projects/Sigma Project/src/pcb.json
  projects/Sigma Project/src/schematic.json
Labels: Submission

#1186 ZainNFC
  projects/ZainNFC/README.md
  projects/ZainNFC/cart.png
  projects/ZainNFC/gerber.zip
  projects/ZainNFC/schematic.pdf
  projects/ZainNFC/src/pcb.json
  projects/ZainNFC/src/schematic.json
Labels: Submission

#1208 Pumkin
  projects/snipeur060/cart.png
  projects/snipeur060/gerber.zip
  projects/snipeur060/readme.md
  projects/snipeur060/schematic.pdf
  projects/snipeur060/src/0
  projects/snipeur060/src/PCB_halloween-Board1-PCB1.pcbdoc_2024-10-11 (1).json
  projects/snipeur060/src/SCH_lhal_2024-10-11.json
Labels: Submission, Trick or Trace

#1193 Abinisha NFC
  projects/Abinisha NFC/README.md
  projects/Abinisha NFC/cart.png
  projects/Abinisha NFC/gerber.zip
  projects/Abinisha NFC/schematic.pdf
  projects/Abinisha NFC/src/pcb.json
  projects/Abinisha NFC/src/schematic.json
Labels: Submission

#1178 USB to UART
  projects/usb-UART/README.md
  projects/usb-UART/cart.png
  projects/usb-UART/gerber.zip
  projects/usb-UART/schematic.pdf
  projects/usb-UART/src/usb-to-uart.kicad_pcb
  projects/usb-UART/src/usb-to-uart.kicad_pro
  projects/usb-UART/src/usb-to-uart.kicad_sch
  projects/usb-UART/src/usb-to-uart.wrl
Labels: Submission, Stalled, Trick or Trace

#1234 Calin's PCB
  projects/carrrrrd
  projects/catdiy
  projects/cpcb/README.md
  projects/cpcb/cart.png
  projects/cpcb/gerber.zip
  projects/cpcb/schematic.pdf
  projects/cpcb/src/PCB_PCB_NFC-card_2024-10-18.json
  projects/cpcb/src/SCH_NFC-card_2024-10-18.json
  projects/mydiy
Labels: Submission

#1232 Arduino_recevier
  projects/Arduino_Reciever/README.md
  projects/Arduino_Reciever/cart.png
  projects/Arduino_Reciever/gerber.zip
  projects/Arduino_Reciever/schematic.pdf
  projects/Arduino_Reciever/src/pcb.json
  projects/Arduino_Reciever/src/schematic.json
  projects/TDA7265/cart.png
  projects/TDA7265/gerber.zip
  projects/TDA7265/schematic.pdf
  projects/TDA7265/src/pcb.json
  projects/TDA7265/src/schematic.json
Labels: Submission

#1226 Spookydoro
  projects/Spookydoro/README.md
  projects/Spookydoro/cart.png
  projects/Spookydoro/gerber.zip
  projects/Spookydoro/schematic.pdf
  projects/Spookydoro/src/pcb.json
  projects/Spookydoro/src/schematic.json
Labels: Submission, Trick or Trace

#1229 Ian's NFC Card
  projects/NFC Card/README.md
  projects/NFC Card/cart.png
  projects/NFC Card/gerber.zip
  projects/NFC Card/schematic.pdf
  projects/NFC Card/src/PCB_PCB_NFC-Card_2024-10-16.json
  projects/NFC Card/src/SCH_NFC-Card_2024-10-16.json
Labels: Submission

#1258 Trick or Trace Voting
  showcase/package.json
  showcase/pnpm-lock.yaml
  showcase/src/lib/components/Slack.svelte
  showcase/src/routes/+page.svelte
  showcase/src/routes/api/submissions/+server.ts
  showcase/src/routes/api/vote/+server.ts
  showcase/src/routes/oauth/slack/+server.ts
  showcase/src/routes/showcase/+page.svelte
  showcase/vite.config.ts
Labels: Dev

#1223 Simon says skull
  projects/simonsaysskull/README.md
  projects/simonsaysskull/cart.png
  projects/simonsaysskull/gerber.zip
  projects/simonsaysskull/schematic.pdf
  projects/simonsaysskull/src/a
  projects/simonsaysskull/src/simon-says-skull.kicad_pcb
  projects/simonsaysskull/src/simon-says-skull.kicad_pro
  projects/simonsaysskull/src/simon-says-skull.kicad_sch
  projects/simonsaysskull/src/simon-says-skull.step
Labels: Submission, Trick or Trace

#1230 Yoda USB Hub
  projects/yoda_usbhub/README.md
  projects/yoda_usbhub/cart.png
  projects/yoda_usbhub/gerber.zip
  projects/yoda_usbhub/schematic.pdf
  projects/yoda_usbhub/src/pcb.json
  projects/yoda_usbhub/src/schematic.json
Labels: Submission, Trick or Trace

#1227 RC PLANE!
  projects/RC plane/Readme.md
  projects/RC plane/cart.png
  projects/RC plane/gerber.zip
  projects/RC plane/schematic.pdf
  projects/RC plane/src/pcb.json
  projects/RC plane/src/sch.json
Labels: Submission, Trick or Trace

#1237 Ghost keychain
  projects/Trick-or-Trace ghost keychain/cart.png
  projects/Trick-or-Trace ghost keychain/gerber.zip
  projects/Trick-or-Trace ghost keychain/readme.md
  projects/Trick-or-Trace ghost keychain/schematic.pdf
  projects/Trick-or-Trace ghost keychain/src/PCB_PCB_Ghost_2024-10-19.json
  projects/Trick-or-Trace ghost keychain/src/SCH_Ghost_2024-10-19.json
Labels: Submission, Trick or Trace

#1264 Hallodweeno Project
  projects/Hallodweeno/README.md
  projects/Hallodweeno/cart with coupon.png
  projects/Hallodweeno/cart.png
  projects/Hallodweeno/gerber.zip
  projects/Hallodweeno/imgs/BOTTOM SIDE PREVIEW.png
  projects/Hallodweeno/imgs/TOP SIDE PREVIEW.png
  projects/Hallodweeno/schematic.pdf
  projects/Hallodweeno/src/pcb.json
  projects/Hallodweeno/src/schematic.json
Labels: Submission, Trick or Trace

#1179 my project joyd
  projects/joyd-nfc/README.md
  projects/joyd-nfc/cart.png
  projects/joyd-nfc/gerber.zip
  projects/joyd-nfc/schematic.pdf
  projects/joyd-nfc/src/pcb.json
  projects/joyd-nfc/src/schematic.json
Labels: Submission

#1243 Pull request
  projects/ChristinaNFC/README.md
  projects/ChristinaNFC/cart.png
  projects/ChristinaNFC/gerber.zip
  projects/ChristinaNFC/schematic.pdf
  projects/ChristinaNFC/src/PCB_PCB_NFC-CARD-Christina_2024-10-21.json
  projects/ChristinaNFC/src/SCH_NFC-CARD-Christina_2024-10-21.json
Labels: Submission

#1265 Icarus - Trick and Trace submission
  projects/Icarus/README.md
  projects/Icarus/bom.csv
  projects/Icarus/cart.png
  projects/Icarus/gerber.zip
  projects/Icarus/schematic.pdf
  projects/Icarus/src/PCB_PCB_2024-10-24 2.json
  projects/Icarus/src/SCH_Icarus-v1_2024-10-24 2.json
Labels: Submission, Trick or Trace

#1271 just simply updated a previous pr i made a couple of days ago for trick or trace
  projects/IR_thermometer/gerber.zip
  projects/IR_thermometer/model.wrl
Labels: Submission

#1266 Pull request for grant
  projects/Julian's PCB/README.md
  projects/Julian's PCB/cart.png
  projects/Julian's PCB/gerber.zip
  projects/Julian's PCB/schematic.pdf
  projects/Julian's PCB/src/PCB_PCB_NFC-Card_2024-10-23.json
  projects/Julian's PCB/src/SCH_NFC-Card_2024-10-23.json
Labels: Submission

#1272 USB Monster
  projects/Hunters-usb-monster/cart.png
  projects/Hunters-usb-monster/gerber.zip
  projects/Hunters-usb-monster/readme.md
  projects/Hunters-usb-monster/schematic.pdf
  projects/Hunters-usb-monster/src/PCB_PCB_Type-c-Hub_2024-10-24.json
  projects/Hunters-usb-monster/src/SCH_Type-c-Hub_2024-10-24.json
  projects/Hunters-usb-monster/src/n/a.md
Labels: Submission

#1278 Christmas Tree PCB
  projects/Andrew's Christmas Tree/README.md
  projects/Andrew's Christmas Tree/cart.png
  projects/Andrew's Christmas Tree/gerber.zip
  projects/Andrew's Christmas Tree/schematic.pdf
  projects/Andrew's Christmas Tree/src/design.json
  projects/Andrew's Christmas Tree/src/schematic.json
Labels: Submission

#1277 JaraPCB
  projects/JaraPCB/README.md
  projects/JaraPCB/cart.png
  projects/JaraPCB/gerber.zip
  projects/JaraPCB/schematic.pdf
  projects/JaraPCB/src/L298N.kicad_pcb
  projects/JaraPCB/src/L298N.kicad_pro
  projects/JaraPCB/src/L298N.kicad_sch
  projects/JaraPCB/src/L298N.wrl
Labels: Submission

#1235 RGB_Controller-for-diwali
  projects/rgb_strip_controller/cart.png
  projects/rgb_strip_controller/gerber.zip
  projects/rgb_strip_controller/readme.md
  projects/rgb_strip_controller/schematic.pdf
  projects/rgb_strip_controller/src/rgbcontroller.kicad_pcb
  projects/rgb_strip_controller/src/rgbcontroller.kicad_prl
  projects/rgb_strip_controller/src/rgbcontroller.kicad_pro
  projects/rgb_strip_controller/src/rgbcontroller.kicad_sch
Labels: Submission, OnBoard Live

#1302 E3NG Lightstick
  projects/E3NGLightstick/README.md
  projects/E3NGLightstick/cart.png
  projects/E3NGLightstick/gerber.zip
  projects/E3NGLightstick/schematic.pdf
  projects/E3NGLightstick/src/E3NGLEDstick.kicad_pcb
  projects/E3NGLightstick/src/E3NGLEDstick.kicad_sch
Labels: Submission
