Repository hackclub/OnBoard, pull requests merged in 2024-01, with the labels that each got.

#291 PolyUSB
  projects/PolyUSB/README.md
  projects/PolyUSB/cart.png
  projects/PolyUSB/gerber.zip
  projects/PolyUSB/schematic.pdf
  projects/PolyUSB/src/polyusb.kicad_pcb
  projects/PolyUSB/src/polyusb.kicad_pro
  projects/PolyUSB/src/polyusb.kicad_sch
Labels: Submission, no HCB needed

#288 Aiden'sCompSwitchControllerPCB
  projects/AidensCompSwitch/README.md
  projects/AidensCompSwitch/cart.png
  projects/AidensCompSwitch/gerber.zip
  projects/AidensCompSwitch/schematic.pdf
  projects/AidensCompSwitch/src/PCB_PCB_VEXSwitch_2023-12-28.json
  projects/AidensCompSwitch/src/SCH_VEXSwitch_2024-01-02.json
Labels: Submission

#290 Saran W's PCB Pull Request
  projects/saranPCBBoard/README.md
  projects/saranPCBBoard/cart.png
  projects/saranPCBBoard/gerber.zip
  projects/saranPCBBoard/schematic.pdf
  projects/saranPCBBoard/src/1-PCB_PCB_pcbhackerboard.json
  projects/saranPCBBoard/src/1-Schematic_pcbhackerboard.json
  projects/saranPCBBoard/src/README.md
Labels: Submission

#294 Aryavrat's PCB creation
  projects/Aryavrat Mishra's PCB Card/README.md
  projects/Aryavrat Mishra's PCB Card/cart.png
  projects/Aryavrat Mishra's PCB Card/gerber.zip
  projects/Aryavrat Mishra's PCB Card/schematic.pdf
  projects/Aryavrat Mishra's PCB Card/src/PCB_PCB_Hack Club project_2024-01-01.json
  projects/Aryavrat Mishra's PCB Card/src/PCB_PCB_Hack Club project_2024-01-01.pdf
  projects/Aryavrat Mishra's PCB Card/src/SCH_New Project_2024-01-01.json
Labels: Submission

#295 Grant request
  projects/ST7735S-Breakout/README.md
  projects/ST7735S-Breakout/cart.png
  projects/ST7735S-Breakout/gerber.zip
  projects/ST7735S-Breakout/schematic.pdf
  projects/ST7735S-Breakout/src/PCB_PCB_ST7735S Breakout_2024-01-01.json
  projects/ST7735S-Breakout/src/SCH_OnboardRobot_2024-01-02.json
Labels: Submission

#302 Pupnik Midi Keyboard with Dogs!
  projects/pupnik/README.md
  projects/pupnik/cart.png
  projects/pupnik/gerber.zip
  projects/pupnik/schematic.pdf
  projects/pupnik/src/Altium_pupnik_2023-12-26_01-16-22_2024-01-03.zip
  projects/pupnik/src/README.md
Labels: Submission

#297 Create README.md
  projects/SpencerL_Hacker_Card/README.md
  projects/SpencerL_Hacker_Card/bom.csv
  projects/SpencerL_Hacker_Card/cart.png
  projects/SpencerL_Hacker_Card/gerber.zip
  projects/SpencerL_Hacker_Card/pickandplace.csv
  projects/SpencerL_Hacker_Card/schematic.pdf
  projects/SpencerL_Hacker_Card/src/PCB_PCB_New Project_2024-01-06.json
  projects/SpencerL_Hacker_Card/src/SCH_New Project_2024-01-06.json
Labels: Submission

#303 Manufacturing
  projects/karthicks nfc card/README.md
  projects/karthicks nfc card/bom.csv
  projects/karthicks nfc card/cart.png
  projects/karthicks nfc card/gerber.zip
  projects/karthicks nfc card/pickandplace.csv
  projects/karthicks nfc card/src/PCB.json
  projects/karthicks nfc card/src/schematic.json
Labels: Submission

#305 Create project_count.sh
  meta/project_count.sh
Labels: Dev

#310 USB hub v1
  projects/Arthur's USB hub v1/README.md
  projects/Arthur's USB hub v1/cart.png
  projects/Arthur's USB hub v1/gerber.zip
  projects/Arthur's USB hub v1/schematic.pdf
  projects/Arthur's USB hub v1/src/PCB_PCB_usb-hub-v1_2024-01-11.json
  projects/Arthur's USB hub v1/src/SCH_usb-hub-v1_2024-01-11.json
Labels: Submission, no HCB needed

#301 NFC Card
  projects/USB project/README.md
  projects/USB project/bom.csv
  projects/USB project/cart.png
  projects/USB project/gerber.zip
  projects/USB project/pickandplace.csv
  projects/USB project/schematic.pdf
  projects/USB project/src/1-PCB_PCB_USB project.json
  projects/USB project/src/1-Schematic_USB project.json
Labels: Submission

#316 update the wrong files
  projects/Mehul's card/bom.csv
  projects/Mehul's card/gerber.zip
  projects/Mehul's card/picknplace.csv
  projects/Mehul's card/schematic.pdf
Labels: no HCB needed

#318 Add image to my submission (Alex P's NFC Card)
  projects/Alex P's NFC Card/README.md
Labels: no HCB needed

#315 Made a project!
  projects/Krrish's Simple Card/README.md
  projects/Krrish's Simple Card/cart.png
  projects/Krrish's Simple Card/gerber.zip
  projects/Krrish's Simple Card/schematic.pdf
  projects/Krrish's Simple Card/src/carddesign.json
  projects/Krrish's Simple Card/src/schematicdesign.json
Labels: Submission

#312 Hall-Effect Sensor Plate
  projects/Hall-Effect Sensor Plate/README.md
  projects/Hall-Effect Sensor Plate/cart.png
  projects/Hall-Effect Sensor Plate/gerber.zip
  projects/Hall-Effect Sensor Plate/schematic.pdf
  projects/Hall-Effect Sensor Plate/src/SCH_test2_2024-01-14.json
  projects/Hall-Effect Sensor Plate/src/SRC_Hall-Effect Sensor_Plate.json
Labels: Submission

#309 OnBoard
  projects/FRC-NFC-CARDS/README.md
  projects/FRC-NFC-CARDS/cart.png
  projects/FRC-NFC-CARDS/gerber.zip
  projects/FRC-NFC-CARDS/schematic.pdf
  projects/FRC-NFC-CARDS/src/1-PCB_PCB_Hack Club 2.json
  projects/FRC-NFC-CARDS/src/1-Schematic_Hack Club 2.json
Labels: Submission

#317 Kai NFC Card
  projects/KaiNFCCard27/README.md
  projects/KaiNFCCard27/cart.png
  projects/KaiNFCCard27/gerber.zip
  projects/KaiNFCCard27/schematic.pdf
  projects/KaiNFCCard27/src/PCB_PCB_NFC Business Card_2024-01-20.json
  projects/KaiNFCCard27/src/SCH_NFC Business Card_2024-01-20.json
Labels: Submission

#322 Ari's Gadget Geocache PCB
  projects/Ari's Gadget Geocache PCB/PCB.pdf
  projects/Ari's Gadget Geocache PCB/README.md
  projects/Ari's Gadget Geocache PCB/cart.png
  projects/Ari's Gadget Geocache PCB/gerber.zip
  projects/Ari's Gadget Geocache PCB/schematic.pdf
  projects/Ari's Gadget Geocache PCB/src/PCB_PCB_Gadget Geocache_2024-01-21.json
  projects/Ari's Gadget Geocache PCB/src/SCH_Gadget Geocache_2024-01-20.json
Labels: Submission

#320 Orpheus Leap - The OnBoard Review Bot
  .github/workflows/gerbview.js
  .github/workflows/pull_request_gerbview.yml
  projects/16KeyKeyboardPico/README.md
  projects/BlackCardNfcPcb/README.md
  projects/Personal_card/README.md
  projects/Touch Capacitive Piano/README.md
  projects/pourcup/README.md
  projects/rouguecrow-picopad/README.md
Labels: Dev

#327 Silly mistake in bot
  .github/workflows/pull_request_gerbview.yml
Labels: Dev

#307 Update requisite_check GH action to more recent node version
  .github/workflows/requisite_check.yml
Labels: Dev

#325 HLPCB
  projects/HLPCB/README.md
  projects/HLPCB/cart.png
  projects/HLPCB/gerber.zip
  projects/HLPCB/schematic.pdf
  projects/HLPCB/src/PCB_PCB_First_2024-01-22 (1).json
  projects/HLPCB/src/SCH_First_2024-01-22 (1).json
Labels: Submission
