Repository hackclub/OnBoard, pull requests merged in 2024-05, with the labels that each got.

#504 555 circuit
  projects/555_circuit/README.md
  projects/555_circuit/cart.png
  projects/555_circuit/gerber.zip
  projects/555_circuit/ignore.pdf
  projects/555_circuit/schematic.pdf
  projects/555_circuit/src/PCB_PCB_555-circuit_2024-04-25.json
  projects/555_circuit/src/SCH_555-circuit_2024-04-25.json
Labels: Submission, SD Workshop

#494 teemo pcb
  projects/teemo-pcb/README.md
  projects/teemo-pcb/cart.png
  projects/teemo-pcb/gerber.zip
  projects/teemo-pcb/schematic.pdf
  projects/teemo-pcb/src/PCB_teemo_pcb.json
  projects/teemo-pcb/src/SCH_teemo_pcb.json
Labels: Submission, SD Workshop

#520 Arnav555Chaser
  projects/Arnav555Chaser/README.md
  projects/Arnav555Chaser/cart.png
  projects/Arnav555Chaser/gerber.zip
  projects/Arnav555Chaser/schematic.pdf
  projects/Arnav555Chaser/src/PCB_PCB_555CircuitWorking_2_2024-04-29.json
  projects/Arnav555Chaser/src/SCH_555CircuitWorking_2024-04-29.json
Labels: Submission, SD Workshop

#521 Crazy Circuit Grant
  projects/CrazyCircuit/README.md
  projects/CrazyCircuit/cart.png
  projects/CrazyCircuit/gerber.zip
  projects/CrazyCircuit/schematic.pdf
  projects/CrazyCircuit/src/PCB_PCB_Crazy-Circuit_2_2024-04-29.json
  projects/CrazyCircuit/src/SCH_Crazy-Circuit_2024-04-29.json
Labels: Submission, SD Workshop

#519 Kyle okun pcb
  projects/KyleOkunPCB/README.md
  projects/KyleOkunPCB/cart.png
  projects/KyleOkunPCB/gerber.zip
  projects/KyleOkunPCB/schematic.pdf
  projects/KyleOkunPCB/src/PCB_PCB_PCBChaser_2_2024-04-29.json
  projects/KyleOkunPCB/src/SCH_PCBChaser_2024-04-29.json
Labels: Submission, SD Workshop

#523 PikachuChaserFirstProj
  projects/PikachuChaser/README.md
  projects/PikachuChaser/cart.png
  projects/PikachuChaser/gerber.zip
  projects/PikachuChaser/schematic.pdf
  projects/PikachuChaser/src/PCB_PCB_LEDChaser555_USBC_2layer_2024-04-30.json
  projects/PikachuChaser/src/SCH_LEDChaser555_2024-04-30.json
Labels: Submission, SD Workshop

#500 MICHAEL"
  projects/MCKEYBOARD/README.md
  projects/MCKEYBOARD/cart.png
  projects/MCKEYBOARD/gerber.zip
  projects/MCKEYBOARD/schematic.pdf
  projects/MCKEYBOARD/src/MCKEYBOARD.kicad_pcb
  projects/MCKEYBOARD/src/MCKEYBOARD.kicad_pro
  projects/MCKEYBOARD/src/MCKEYBOARD.kicad_sch
Labels: Submission

#524 Create README.nd
  projects/Amir's USB Hub/README.md
  projects/Amir's USB Hub/cart.png
  projects/Amir's USB Hub/gerber.zip
  projects/Amir's USB Hub/schematic.pdf
  projects/Amir's USB Hub/src/PCB_PCB_usb-hub_2_2024-05-01 (1).json
  projects/Amir's USB Hub/src/SCH_usb-hub_2024-05-01.json
Labels: Submission

#511 Arash's Usb Hub
  projects/Arash's USB Hub/README.md
  projects/Arash's USB Hub/cart.png
  projects/Arash's USB Hub/gerber.zip
  projects/Arash's USB Hub/schematic.pdf
  projects/Arash's USB Hub/src/pcb.json
  projects/Arash's USB Hub/src/schematics.json
Labels: Submission

#531 Scooter's USB HUB
  projects/USB-HUB/BOM.csv
  projects/USB-HUB/Parts_USB_HUB.csv
  projects/USB-HUB/README.md
  projects/USB-HUB/cart.png
  projects/USB-HUB/gerber.zip
  projects/USB-HUB/schematic.pdf
  projects/USB-HUB/src/PCB_USB_HUB.json
  projects/USB-HUB/src/SHC_USB_HUB.json
Labels: Submission

#534 RP2040 Motor Controller
  projects/Brayden's RP2040 Motor Controller/README.md
  projects/Brayden's RP2040 Motor Controller/cart.png
  projects/Brayden's RP2040 Motor Controller/gerber.zip
  projects/Brayden's RP2040 Motor Controller/schematic.pdf
  projects/Brayden's RP2040 Motor Controller/src/pcb.json
  projects/Brayden's RP2040 Motor Controller/src/sch.json
Labels: Submission

#525 Macropad
  projects/AAAAMACRO/README.md
  projects/AAAAMACRO/cart.png
  projects/AAAAMACRO/gerber.zip
  projects/AAAAMACRO/schematic.pdf
  projects/AAAAMACRO/src/MacroPad1.kicad_pcb
  projects/AAAAMACRO/src/MacroPad1.kicad_pro
  projects/AAAAMACRO/src/MacroPad1.kicad_sch
Labels: Submission

#527 Create README.md
  projects/bikeLightRGB/README.md
  projects/bikeLightRGB/cart.png
  projects/bikeLightRGB/gerber.zip
  projects/bikeLightRGB/schematic.pdf
  projects/bikeLightRGB/src/PCB_PCB_lights_2_2024-05-02.json
  projects/bikeLightRGB/src/SCH_lights_2024-05-02.json
Labels: Submission, no HCB needed

#535 TechN3o PR submit
  projects/Desk contRoller/README.md
  projects/Desk contRoller/cart.png
  projects/Desk contRoller/gerber.zip
  projects/Desk contRoller/schematic.pdf
  projects/Desk contRoller/src/controller_pcb.json
  projects/Desk contRoller/src/controller_schematic.json
  projects/Desk contRoller/v1look.png
  projects/Desk contRoller/v1look2.jpg
  projects/Desk contRoller/v1look3.jpg
  projects/Desk contRoller/v1look4.jpg
Labels: Submission

#536 add Incremental Podometer
  projects/IncrementalPodometer/README.md
  projects/IncrementalPodometer/cart.png
  projects/IncrementalPodometer/gerber.zip
  projects/IncrementalPodometer/schematic.pdf
  projects/IncrementalPodometer/src/design.json
  projects/IncrementalPodometer/src/pcb.json
Labels: Submission

#541 scg-nfc-card project request
  projects/scg-nfc-card/README.md
  projects/scg-nfc-card/cart.png
  projects/scg-nfc-card/gerber.zip
  projects/scg-nfc-card/schematic.pdf
  projects/scg-nfc-card/src/PCB_tab.json
  projects/scg-nfc-card/src/schematic_tab.json
Labels: Submission

#540 Arash's DIY Arduino UNO
  projects/Arash's diy UNO/README.md
  projects/Arash's diy UNO/cart.png
  projects/Arash's diy UNO/gerber.zip
  projects/Arash's diy UNO/schematic.pdf
  projects/Arash's diy UNO/src/pcb.json
  projects/Arash's diy UNO/src/schematic.json
Labels: Submission

#533 Pull pcb-trophy project into repositor
  projects/pcb-trophy/README.md
  projects/pcb-trophy/cart.png
  projects/pcb-trophy/gerber.zip
  projects/pcb-trophy/schematic.pdf
  projects/pcb-trophy/src/board.fbrd
  projects/pcb-trophy/src/schema.fsch
Labels: Submission

#547 Shaan_HackerCard
  projects/Shaan_HackerCard/README.md
  projects/Shaan_HackerCard/cart.jpg
  projects/Shaan_HackerCard/gerber.zip
  projects/Shaan_HackerCard/schematic.pdf
  projects/Shaan_HackerCard/src/PCB_PCB_New-Project_2024-05-10.json
  projects/Shaan_HackerCard/src/SCH_New-Project_2024-05-10.json
Labels: Submission

#548 Angelaisthr usbhub
  projects/Angelaisthr usb hub/README.md
  projects/Angelaisthr usb hub/cart.png
  projects/Angelaisthr usb hub/gerber.zip
  projects/Angelaisthr usb hub/schematic.pdf
  projects/Angelaisthr usb hub/src/PCB_PCB_usb-hug-4_2024-05-10.json
  projects/Angelaisthr usb hub/src/SCH_usb-hug-4_2024-05-10.json
Labels: Submission

#555 Amir Z's Macros Keyboard
  projects/Amir Z's Macros Keyboard/README.md
  projects/Amir Z's Macros Keyboard/cart.png
  projects/Amir Z's Macros Keyboard/gerber.zip
  projects/Amir Z's Macros Keyboard/schematic.pdf
  projects/Amir Z's Macros Keyboard/src/PCB_PCB_Macros-Keyboard_2024-05-12.json
  projects/Amir Z's Macros Keyboard/src/SCH_Macros-Keyboard_2024-05-12.json
Labels: Submission, no HCB needed

#557 Aaryav's Linux Board
  projects/Aaryav's Linux Console/README.md
  projects/Aaryav's Linux Console/cart.png
  projects/Aaryav's Linux Console/gerber.zip
  projects/Aaryav's Linux Console/schematic.pdf
  projects/Aaryav's Linux Console/src/Linux Console PCB.json
  projects/Aaryav's Linux Console/src/Linux Console Schematics.json
Labels: Submission

#442 PILOT v2 and v3
  projects/PILOT V2/README.MD
  projects/PILOT V2/cart.png
  projects/PILOT V2/gerber.zip
  projects/PILOT V2/schematic.pdf
  projects/PILOT V2/src/Electronic Dropper.kicad_pcb
  projects/PILOT V2/src/Electronic Dropper.kicad_prl
  projects/PILOT V2/src/Electronic Dropper.kicad_pro
  projects/PILOT V2/src/Electronic Dropper.kicad_sch
  projects/PILOT V3/README.MD
  projects/PILOT V3/cart.png
  projects/PILOT V3/gerber.zip
  projects/PILOT V3/schematic.pdf
  projects/PILOT V3/src/Electronic Dropper.kicad_pcb
  projects/PILOT V3/src/Electronic Dropper.kicad_pro
  projects/PILOT V3/src/Electronic Dropper.kicad_sch
Labels: Submission, no HCB needed

#499 Carthy - HackerCard
  projects/Lawrence's HackerCard/README.md
  projects/Lawrence's HackerCard/cart.png
  projects/Lawrence's HackerCard/gerber.zip
  projects/Lawrence's HackerCard/schematic.pdf
  projects/Lawrence's HackerCard/src/a
  projects/Lawrence's HackerCard/src/design.json
  projects/Lawrence's HackerCard/src/sch.json
Labels: Submission

#560 Night Vision Camera
  projects/NightVisionCamera/ReadMe.md
  projects/NightVisionCamera/cart.png
  projects/NightVisionCamera/gerber.zip
  projects/NightVisionCamera/schematic.pdf
  projects/NightVisionCamera/src/PCB_PCB_Trail-Camera_2024-05-15.json
  projects/NightVisionCamera/src/SCH_Trail-Camera_2024-05-14.json
Labels: Submission

#552 Add "LightUp" board
  projects/LightUp/README.md
  projects/LightUp/cart.png
  projects/LightUp/gerber.zip
  projects/LightUp/schematic.pdf
  projects/LightUp/src/PCB_PCB_HackPack_2024-05-12.json
  projects/LightUp/src/SCH_HackPack_2024-05-12.json
Labels: Submission

#559 Bluetonium Canister
  projects/BluetoniumCanister/README.md
  projects/BluetoniumCanister/cart.png
  projects/BluetoniumCanister/gerber.zip
  projects/BluetoniumCanister/schematic.pdf
  projects/BluetoniumCanister/src/PCB_PCB_Bluetonium-canister_2024-05-14.json
  projects/BluetoniumCanister/src/SCH_Bluetonium-canister_2024-05-14.json
Labels: Submission

#561 agniv metal detector
  projects/agniv metal detector/README.md
  projects/agniv metal detector/cart.png
  projects/agniv metal detector/gerber.zip
  projects/agniv metal detector/schematic.pdf
  projects/agniv metal detector/src/design.json
  projects/agniv metal detector/src/schema.json
Labels: Submission

#564 Vikki's PCB
  projects/Vikki's PCB/README.md
  projects/Vikki's PCB/cart.png
  projects/Vikki's PCB/gerber.zip
  projects/Vikki's PCB/schematic.pdf
  projects/Vikki's PCB/src/PCB_PCB_Hack-club-Card_2024-05-15.json
  projects/Vikki's PCB/src/SCH_Hack-club-Card_2024-05-15.json
Labels: Submission

#565 Deep's Pico Board
  projects/Deep's Pico Board/README.md
  projects/Deep's Pico Board/cart.png
  projects/Deep's Pico Board/gerber.zip
  projects/Deep's Pico Board/schematic.pdf
  projects/Deep's Pico Board/src/pcb.json
  projects/Deep's Pico Board/src/schematics.json
Labels: Submission

#576 Dhruv Linux Board
  projects/Dhruv Linux PC/README.md
  projects/Dhruv Linux PC/cart.png
  projects/Dhruv Linux PC/gerber.zip
  projects/Dhruv Linux PC/schematic.pdf
  projects/Dhruv Linux PC/src/pcb.json
  projects/Dhruv Linux PC/src/schematics.json
Labels: Submission

#580 PiLoraHat for Forest Monitoring
  projects/PiLoraHat/README.md
  projects/PiLoraHat/cart.png
  projects/PiLoraHat/gerber.zip
  projects/PiLoraHat/schematic.pdf
  projects/PiLoraHat/src/PCB_PCB_loraHat_2024-05-19.json
  projects/PiLoraHat/src/SCH_loraHat_2024-05-19.json
Labels: Submission

#574 mtg life counter
  projects/mtg_life_counter/README.md
  projects/mtg_life_counter/cart.png
  projects/mtg_life_counter/gerber.zip
  projects/mtg_life_counter/schematic.pdf
  projects/mtg_life_counter/src/PCB_PCB_Life-Counter_2024-05-18.json
  projects/mtg_life_counter/src/SCH_Life-Counter_2024-05-18.json
Labels: Submission, no HCB needed

#582 Ivan Business Card
  projects/IvanBusinessCard/README.md
  projects/IvanBusinessCard/cart.png
  projects/IvanBusinessCard/gerber.zip
  projects/IvanBusinessCard/schematic.pdf
  projects/IvanBusinessCard/src/PCB.json
  projects/IvanBusinessCard/src/SCH.json
Labels: Submission

#563 Add STAYAW to projects
  projects/STAYAW/README.md
  projects/STAYAW/cart.png
  projects/STAYAW/gerber.zip
  projects/STAYAW/schematic.pdf
  projects/STAYAW/src/PCB_STAYAW_0.3_2024-05-22.json
  projects/STAYAW/src/SCH_STAYAW_0.3_2024-05-22.json
Labels: Submission, The Trail

#570 HandCrankGenerator (with Trail)
  projects/HandCrankGenerator/README.md
  projects/HandCrankGenerator/cart.png
  projects/HandCrankGenerator/gerber.zip
  projects/HandCrankGenerator/schematic.pdf
  projects/HandCrankGenerator/src/PCB.json
  projects/HandCrankGenerator/src/SCH.json
Labels: Submission, The Trail

#599 Update VENDORS.md
  docs/VENDORS.md
Labels: Dev

#584 Add Water Quality Checker
  projects/Water Quality Checker/README.md
  projects/Water Quality Checker/cart.png
  projects/Water Quality Checker/gerber.zip
  projects/Water Quality Checker/schematic.pdf
  projects/Water Quality Checker/src/design.brd
  projects/Water Quality Checker/src/design.sch
Labels: Submission, The Trail

#587 LoRa Meshenger The Trail
  projects/LoRa Meshenger/README.md
  projects/LoRa Meshenger/cart.png
  projects/LoRa Meshenger/gerber.zip
  projects/LoRa Meshenger/schematic.pdf
  projects/LoRa Meshenger/src/PCB_PCB_The-Trail-Radio_2024-05-21.json
  projects/LoRa Meshenger/src/SCH_The-Trail-Radio_2024-05-21.json
Labels: Submission, no HCB needed, The Trail

#579 Add "RainDetector" Board
  projects/RainDetector/README.md
  projects/RainDetector/cart.png
  projects/RainDetector/gerber.zip
  projects/RainDetector/schematic.pdf
  projects/RainDetector/src/PCB.json
  projects/RainDetector/src/SCH.json
Labels: Submission, The Trail

#581 Tariq's STM32F103DevBoard
  projects/!Template/TEMPLATE.md
  projects/STM32F103DevBoard/README.md
  projects/STM32F103DevBoard/cart.png
  projects/STM32F103DevBoard/gerber.zip
  projects/STM32F103DevBoard/schematic.pdf
  projects/STM32F103DevBoard/src/STMF103C8T6 Dev Board.kicad_pcb
  projects/STM32F103DevBoard/src/STMF103C8T6 Dev Board.kicad_pro
  projects/STM32F103DevBoard/src/STMF103C8T6 Dev Board.kicad_sch
Labels: Submission

#578 Wled-Esp32-Controller
  projects/Wled_Led_Esp32_Controller/README.md
  projects/Wled_Led_Esp32_Controller/cart.png
  projects/Wled_Led_Esp32_Controller/gerber.zip
  projects/Wled_Led_Esp32_Controller/schematic.pdf
  projects/Wled_Led_Esp32_Controller/src/designpcb.json
  projects/Wled_Led_Esp32_Controller/src/designschematic.json
Labels: Submission

#600 Krishnendu's AVR Candle
  projects/Krishnendu's AVR Candle/README.md
  projects/Krishnendu's AVR Candle/cart.png
  projects/Krishnendu's AVR Candle/gerber.zip
  projects/Krishnendu's AVR Candle/schematic.pdf
  projects/Krishnendu's AVR Candle/src/PCB_candlepcb.json
  projects/Krishnendu's AVR Candle/src/SCH_krish's-candle.json
Labels: Submission

#613 create Mobile Power Station Charger
  projects/mobile_power_station_charger/README.md
  projects/mobile_power_station_charger/cart.png
  projects/mobile_power_station_charger/gerber.zip
  projects/mobile_power_station_charger/schematic.pdf
  projects/mobile_power_station_charger/src/battery-bus.kicad_pcb
  projects/mobile_power_station_charger/src/battery-bus.kicad_pro
  projects/mobile_power_station_charger/src/battery-bus.kicad_sch
Labels: Submission, The Trail

#610 Added Orph-Light
  projects/Orph-Light/README.md
  projects/Orph-Light/cart.png
  projects/Orph-Light/gerber.zip
  projects/Orph-Light/schematic.pdf
  projects/Orph-Light/src/PCB_PCB_trail_2024-05-24.json
  projects/Orph-Light/src/SCH_trail_2024-05-24.json
  projects/Orph-Light/src/text.md
Labels: Submission, The Trail

#601 MUSICA
  projects/MUSICA/README.md
  projects/MUSICA/cart.png
  projects/MUSICA/gerber.zip
  projects/MUSICA/schematic.pdf
  projects/MUSICA/src/PCB_MUSICA.json
  projects/MUSICA/src/SCH_MUSICA.json
Labels: Submission, The Trail

#575 Add "Weather monitor" board
  projects/weather monitor/Gerber_Weather-sensor_PCB_Weather-sensor_9_2024-05-18.zip
  projects/weather monitor/PCB_PCB_Weather-sensor_9_2024-05-18.json
  projects/weather monitor/README.md
  projects/weather monitor/SCH_Weather-sensor_2024-05-18.json
  projects/weather monitor/Schematic.pdf
  projects/weather monitor/Schematic_Weather-sensor_2024-05-18.pdf
  projects/weather monitor/Screenshot 2024-05-18 232425.png
  projects/weather monitor/cart.png
  projects/weather monitor/gerber.zip
  projects/weather monitor/schematic.pdf
  projects/weather monitor/src/PCB_PCB_Weather-sensor_10_2024-05-27.json
  projects/weather monitor/src/PCB_PCB_Weather-sensor_9_2024-05-18.json
  projects/weather monitor/src/SCH_Weather-sensor_2024-05-18.json
  projects/weather monitor/src/SCH_Weather-sensor_2024-05-27.json
Labels: Submission, The Trail

#598 Blackbox Hub
  projects/BLACKBOX_HUB/README.md
  projects/BLACKBOX_HUB/cart.png
  projects/BLACKBOX_HUB/cart2.png
  projects/BLACKBOX_HUB/gerber.zip
  projects/BLACKBOX_HUB/schematic.pdf
  projects/BLACKBOX_HUB/src/PCB_PCB_BlackboxHub_2024-05-23.json
  projects/BLACKBOX_HUB/src/SCH_BlackboxHub_2024-05-23.json
Labels: The Trail

#611 jackie's pcb
  projects/jackie's_pcb/README.md
  projects/jackie's_pcb/cart.png
  projects/jackie's_pcb/gerber.zip
  projects/jackie's_pcb/schematic.pdf
  projects/jackie's_pcb/src/PCB_PCB_TrailCheaper_4_2024-05-27.json
  projects/jackie's_pcb/src/SCH_TrailCheaper_2024-05-27.json
Labels: The Trail

#628 nfc-cat-card
  projects/nfc-card-card/README.md
  projects/nfc-card-card/cart.png
  projects/nfc-card-card/gerber.zip
  projects/nfc-card-card/schematic.pdf
  projects/nfc-card-card/src/PCB_PCB_pls-work-pls-work-pls-work-pls-work_2024-05-29.json
  projects/nfc-card-card/src/SCH_pls-work-pls-work-pls-work-pls-work_2024-05-29.json
Labels: Submission

#597 create Mobile Power Station 8S module
  projects/Mobile Power Station/README.md
  projects/Mobile Power Station/back/gerber.zip
  projects/Mobile Power Station/back/schematic.pdf
  projects/Mobile Power Station/back/src/bms-back.kicad_pcb
  projects/Mobile Power Station/back/src/bms-back.kicad_pro
  projects/Mobile Power Station/back/src/bms-back.kicad_sch
  projects/Mobile Power Station/bms/gerber.zip
  projects/Mobile Power Station/bms/schematic.pdf
  projects/Mobile Power Station/bms/src/bms_v2.kicad_pcb
  projects/Mobile Power Station/bms/src/bms_v2.kicad_pro
  projects/Mobile Power Station/bms/src/bms_v2.kicad_sch
  projects/Mobile Power Station/cart.png
  projects/Mobile Power Station/mid/gerber.zip
  projects/Mobile Power Station/mid/schematic.pdf
  projects/Mobile Power Station/mid/src/bms-mid.kicad_pcb
  projects/Mobile Power Station/mid/src/bms-mid.kicad_pro
  projects/Mobile Power Station/mid/src/bms-mid.kicad_sch
Labels: Submission, The Trail

#615 Laser Tag ( Trail)
  projects/Trail-Laser-Tag/README.md
  projects/Trail-Laser-Tag/cart-final.png
  projects/Trail-Laser-Tag/cart.png
  projects/Trail-Laser-Tag/gerber.zip
  projects/Trail-Laser-Tag/schematic.pdf
  projects/Trail-Laser-Tag/src/DevIos-LaserTag/DevIos-LaserTag.kicad_pcb
  projects/Trail-Laser-Tag/src/DevIos-LaserTag/DevIos-LaserTag.kicad_pro
  projects/Trail-Laser-Tag/src/DevIos-LaserTag/DevIos-LaserTag.kicad_sch
  projects/Trail-Laser-Tag/src/DevIos-Sensor/DevIos-Sensor.kicad_pcb
  projects/Trail-Laser-Tag/src/DevIos-Sensor/DevIos-Sensor.kicad_pro
  projects/Trail-Laser-Tag/src/DevIos-Sensor/DevIos-Sensor.kicad_sch
Labels: The Trail

#627 AutoStirrer • The Trail
  projects/AutoStirrer/README.md
  projects/AutoStirrer/cart.png
  projects/AutoStirrer/gerber.zip
  projects/AutoStirrer/schematic.pdf
  projects/AutoStirrer/src/design_pcb.json
  projects/AutoStirrer/src/design_sch.json
Labels: Submission, The Trail

#451 Create README.md
  projects/Juan G's NFC card/BOM_NFC-card_2024-04-13.csv
  projects/Juan G's NFC card/PickAndPlace_PCB_NFC-card_2024-04-13.csv
  projects/Juan G's NFC card/README.md
  projects/Juan G's NFC card/cart.png
  projects/Juan G's NFC card/gerber.zip
  projects/Juan G's NFC card/schematic.pdf
  projects/Juan G's NFC card/src/PCB_PCB_NFC-card_2024-04-22.json
  projects/Juan G's NFC card/src/SCH_NFC-card_2024-04-22.json
Labels: Submission

#608 Update VENDORS.md
  docs/VENDORS.md
Labels: Dev

#588 Add "flaurafauna_cam" board
  projects/flaurafauna_cam/README.md
  projects/flaurafauna_cam/cart.png
  projects/flaurafauna_cam/gerber.zip
  projects/flaurafauna_cam/schematic.pdf
  projects/flaurafauna_cam/src/PCB_PCB_cam2_2024-05-20.json
  projects/flaurafauna_cam/src/PCB_PCB_cam2_2024-05-20.pdf
  projects/flaurafauna_cam/src/SCH_cam2_2024-05-21.json
Labels: Submission, The Trail

#626 Add files via upload
  projects/Reyansh LED Matrix/README.md
  projects/Reyansh LED Matrix/cart.png
  projects/Reyansh LED Matrix/gerber.zip
  projects/Reyansh LED Matrix/schematic.pdf
  projects/Reyansh LED Matrix/src/printed circuit board.json
  projects/Reyansh LED Matrix/src/schematics.json
Labels: Submission

#604 WLED Controller grant
  projects/WLED Controller/README.md
  projects/WLED Controller/cart.png
  projects/WLED Controller/gerber.zip
  projects/WLED Controller/schematic.pdf
  projects/WLED Controller/src/esp32_wled_controller.kicad_pcb
  projects/WLED Controller/src/esp32_wled_controller.kicad_pro
  projects/WLED Controller/src/esp32_wled_controller.kicad_sch
Labels: Submission

#636 Submission for grant
  projects/nimitrobot/README.md
  projects/nimitrobot/cart.png
  projects/nimitrobot/gerber.zip
  projects/nimitrobot/schematic.pdf
  projects/nimitrobot/src/PCB.json
  projects/nimitrobot/src/SCH.json
Labels: Submission

#633 Akash Board
  projects/Akash's F1C200 Board/README.md
  projects/Akash's F1C200 Board/cart.png
  projects/Akash's F1C200 Board/coupon applicable.png
  projects/Akash's F1C200 Board/gerber.zip
  projects/Akash's F1C200 Board/schematic.pdf
  projects/Akash's F1C200 Board/src/PCB_PCB_f1c200-board_2024-05-28.json
  projects/Akash's F1C200 Board/src/SCH_f1c200-board_2024-05-28.json
Labels: Submission
