Repository hackclub/OnBoard, pull requests merged in 2024-09, with the labels that each got.

#1050 USB Hub
  projects/bochk0 usb hub/README.md
  projects/bochk0 usb hub/cart.png
  projects/bochk0 usb hub/gerber.zip
  projects/bochk0 usb hub/schematic.pdf
  projects/bochk0 usb hub/src/PCB_PCB_USB-HUB_2024-08-30_2024-08-30.json
  projects/bochk0 usb hub/src/SCH_USB-HUB_2024-08-30.json
Labels: Submission

#1052 Aayan Rahman's NFC Business Card
  projects/AayanRahman-NFC-Card/README.md
  projects/AayanRahman-NFC-Card/cart.png
  projects/AayanRahman-NFC-Card/gerber.zip
  projects/AayanRahman-NFC-Card/schematic.pdf
  projects/AayanRahman-NFC-Card/src/PCB_PCB_Hacker-Card_2_2024-08-31.json
  projects/AayanRahman-NFC-Card/src/SCH_Hacker-Card_2024-08-31.json
Labels: Submission

#1054 Add "XyloTap Controller" Board
  projects/XyloTap Controller/cart.png
  projects/XyloTap Controller/gerber.zip
  projects/XyloTap Controller/readme.md
  projects/XyloTap Controller/schematic.pdf
  projects/XyloTap Controller/src/Controller PCB.json
  projects/XyloTap Controller/src/Controller.json
Labels: Submission

#1044 Adding files
  projects/Stomper/README.md
  projects/Stomper/cart.png
  projects/Stomper/gerber.zip
  projects/Stomper/schematic.pdf
  projects/Stomper/src/StepperMotorDriver.kicad_pcb
Labels: Submission

#1011 Fatuma's NFC Card
  projects/Fatuma_GitHub_Card/HowItLooks.png
  projects/Fatuma_GitHub_Card/README.md
  projects/Fatuma_GitHub_Card/cart.png
  projects/Fatuma_GitHub_Card/gerber.zip
  projects/Fatuma_GitHub_Card/schematic.pdf
  projects/Fatuma_GitHub_Card/src/pcb.json
  projects/Fatuma_GitHub_Card/src/schematics.json
Labels: Submission

#1062 LianaNCFCard
  projects/LianaNCFCard/README.md
  projects/LianaNCFCard/cart.png
  projects/LianaNCFCard/gerber.zip
  projects/LianaNCFCard/schematic.pdf
  projects/LianaNCFCard/src/pcb.json
  projects/LianaNCFCard/src/schematic.json
Labels: Submission

#1045 Add "Gautham's NFC Card" board
  projects/Gautham's NFC Card/README.md
  projects/Gautham's NFC Card/cart.png
  projects/Gautham's NFC Card/gerber.zip
  projects/Gautham's NFC Card/schematic.pdf
  projects/Gautham's NFC Card/src/PCB_PCB_HackerCard_2024-08-30.json
  projects/Gautham's NFC Card/src/SCH_HackerCard_2024-08-30.json
Labels: Submission

#1058 Upload my PCB for grant
  projects/Om_HackerCard/README.md
  projects/Om_HackerCard/cart.png
  projects/Om_HackerCard/gerber.zip
  projects/Om_HackerCard/schematic.pdf
  projects/Om_HackerCard/src/pcb.json
  projects/Om_HackerCard/src/schematic.json
Labels: Submission

#991 LED heart
  projects/Heart with leds/README.md
  projects/Heart with leds/cart.png
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-B_Cu.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-B_Mask.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-B_Paste.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-B_Silkscreen.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-Edge_Cuts.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-F_Cu.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-F_Mask.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-F_Paste.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-F_Silkscreen.gbr
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-NPTH.drl
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-PTH.drl
  projects/Heart with leds/gerber files/CORAZON LEDS CON FADE-job.gbrjob
  projects/Heart with leds/gerber files/archivos gerber.zip
  projects/Heart with leds/schematic.pdf
  projects/Heart with leds/src/CORAZON LEDS CON FADE.kicad_pcb
  projects/Heart with leds/src/CORAZON LEDS CON FADE.kicad_pro
  projects/Heart with leds/src/corazon con leds123.kicad_sch
Labels: Submission

#1048 Hive PCB grant
  projects/Hive/README.md
  projects/Hive/cart.png
  projects/Hive/gerber.zip
  projects/Hive/schematic.pdf
  projects/Hive/src/pcb.json
  projects/Hive/src/schematic.json
Labels: Submission

#1056 Emma Hacker Card Board
  projects/Emma Hacker Card/README.md
  projects/Emma Hacker Card/cart.png
  projects/Emma Hacker Card/gerber.zip
  projects/Emma Hacker Card/schematic.pdf
  projects/Emma Hacker Card/src/PCB_PCB_Hacker-Card-First_2024-08-30.json
  projects/Emma Hacker Card/src/SCH_Hacker-Card-First_2024-08-30.json
Labels: Submission

#1066 Add "Raspi Control" Board
  projects/raspiControl/README.md
  projects/raspiControl/cart.png
  projects/raspiControl/cart2.png
  projects/raspiControl/gerber.zip
  projects/raspiControl/schematic.pdf
  projects/raspiControl/src/PCB_PCB_climber-dog_2024-09-03 (1).json
  projects/raspiControl/src/PCB_PCB_climber-dog_2024-09-03.json
  projects/raspiControl/src/SCH_climber-dog_2024-09-03.json
Labels: Submission

#1063 gamingsystemno2
  projects/gamingsystemno2/README.md
  projects/gamingsystemno2/cart.png
  projects/gamingsystemno2/gerber.zip
  projects/gamingsystemno2/schematic.pdf
  projects/gamingsystemno2/src/pcb.json
  projects/gamingsystemno2/src/schematic.json
Labels: Submission

#1077 My project
  projects/HybridController/README.md
  projects/HybridController/cart.png
  projects/HybridController/gerber.zip
  projects/HybridController/schematic.pdf
  projects/HybridController/src/Main project.kicad_pcb
  projects/HybridController/src/Main project.kicad_sch
Labels: Submission

#1084 Add project to repo
  projects/kake's nfc card/README.md
  projects/kake's nfc card/cart.png
  projects/kake's nfc card/gerber.zip
  projects/kake's nfc card/schematic.pdf
  projects/kake's nfc card/src/BackupProjects_ethanzhou100_personal_0_20240909.kicad_pcb
  projects/kake's nfc card/src/BackupProjects_ethanzhou100_personal_0_20240909.kicad_pro
  projects/kake's nfc card/src/BackupProjects_ethanzhou100_personal_0_20240909.kicad_sch
Labels: Submission

#1067 Add "businesscardformom" board
  projects/businesscardformom/README.md
  projects/businesscardformom/cart.png
  projects/businesscardformom/gerber.zip
  projects/businesscardformom/schematic.pdf
  projects/businesscardformom/src/pcb.json
  projects/businesscardformom/src/schematic.json
Labels: Submission

#1092 Fixed Mobile Overflow Issue
  showcase/package-lock.json
  showcase/package.json
  showcase/src/lib/components/App.svelte
  showcase/src/lib/components/Scene.svelte
  showcase/src/lib/components/models/pcb.svelte
  showcase/src/routes/+page.svelte
Labels: Dev

#1093 Driving robot project
  projects/driving robot/README.md
  projects/driving robot/cart.png
  projects/driving robot/gerber.zip
  projects/driving robot/schematic.pdf
  projects/driving robot/src/_autosave-RobotV1.kicad_pcb
  projects/driving robot/src/_autosave-RobotV1.kicad_pro
  projects/driving robot/src/_autosave-RobotV1.kicad_sch
Labels: Submission

#1091 Added Blackberry Project project
  projects/BBQ10_KeyboardBreakoutBoard/README.md
  projects/BBQ10_KeyboardBreakoutBoard/cart.png
  projects/BBQ10_KeyboardBreakoutBoard/gerber.zip
  projects/BBQ10_KeyboardBreakoutBoard/schematic.pdf
  projects/BBQ10_KeyboardBreakoutBoard/src/pcb.json
  projects/BBQ10_KeyboardBreakoutBoard/src/schematic.json
Labels: Submission

#1008 Pizzalover's NFC Card
  projects/opott's hacker card/cart.png
  projects/pizzaCard/README.md
  projects/pizzaCard/cart.png
  projects/pizzaCard/gerber.zip
  projects/pizzaCard/schematic.pdf
  projects/pizzaCard/src/pcb.json
  projects/pizzaCard/src/schematic.json
Labels: Submission

#1088 Pull Request
  projects/CardPCB/README.md
  projects/CardPCB/cart.png
  projects/CardPCB/gerber.zip
  projects/CardPCB/schematic.pdf
  projects/CardPCB/src/pcb.json
  projects/CardPCB/src/schematic.json
Labels: Submission

#1072 Add Hackboard
  projects/Hackboard/README.md
  projects/Hackboard/cart.png
  projects/Hackboard/gerber.zip
  projects/Hackboard/schematic.pdf
  projects/Hackboard/src/Hackboard.kicad_pcb
  projects/Hackboard/src/Hackboard.kicad_pro
  projects/Hackboard/src/Hackboard.kicad_sch
Labels: Submission, OnBoard Live

#1075 add medicard
  projects/medicard/README.md
  projects/medicard/cart.png
  projects/medicard/gerber.zip
  projects/medicard/schematic.pdf
  projects/medicard/src/pcb.json
  projects/medicard/src/schematic.pdf
Labels: Submission

#1100 changes to text
  showcase/src/lib/components/App.svelte
  showcase/src/lib/components/stickers.svelte
  showcase/src/routes/+page.svelte
  showcase/static/background-fall-original.jpg
  showcase/static/background-fall.png
Labels: Submission, Invalid

#1103 :rat: The Rat Machine
  projects/The Rat Machine/README.md
  projects/The Rat Machine/cart.png
  projects/The Rat Machine/gerber.zip
  projects/The Rat Machine/schematic.pdf
  projects/The Rat Machine/src/pcb.json
  projects/The Rat Machine/src/schematic.json
Labels: Submission

#1108 +Prob a nfc card(nutt)
  projects/+ Prob a nfc card(nutt)/README.md
  projects/+ Prob a nfc card(nutt)/cart.png
  projects/+ Prob a nfc card(nutt)/gerber.zip
  projects/+ Prob a nfc card(nutt)/schematic.pdf
  projects/+ Prob a nfc card(nutt)/src/Schematic.json
  projects/+ Prob a nfc card(nutt)/src/pcb.json
Labels: Submission

#1104 ESP32 Motion Tracker
  projects/ESP32_Motion_Tracker/README.MD
  projects/ESP32_Motion_Tracker/cart.png
  projects/ESP32_Motion_Tracker/gerber.zip
  projects/ESP32_Motion_Tracker/schematic.pdf
  projects/ESP32_Motion_Tracker/src/pcb.json
  projects/ESP32_Motion_Tracker/src/schematic.json
Labels: Submission

#1109 Add "businesscardformom2" board
  projects/businesscardformom2/README.md
  projects/businesscardformom2/cart.png
  projects/businesscardformom2/gerber.zip
  projects/businesscardformom2/schematic.pdf
  projects/businesscardformom2/src/pcb.json
  projects/businesscardformom2/src/schematic.json
Labels: Submission

#1111 Mitang's Hacker Card
  projects/Mitang's-Hack-Card/README.md
  projects/Mitang's-Hack-Card/cart.png
  projects/Mitang's-Hack-Card/gerber.zip
  projects/Mitang's-Hack-Card/schematic.pdf
  projects/Mitang's-Hack-Card/src/pcb.json
  projects/Mitang's-Hack-Card/src/schematic.json
Labels: Submission

#1124 Ryan Hoang Card
  projects/Ryan_NFC/README.md
  projects/Ryan_NFC/cart.png
  projects/Ryan_NFC/gerber.zip
  projects/Ryan_NFC/schematic.pdf
  projects/Ryan_NFC/src/pcb.json
  projects/Ryan_NFC/src/schematic.json
Labels: Submission
