Repository hackclub/OnBoard, pull requests merged in 2024-03, with the labels that each got.

#356 Micro keyboard
  projects/macro-keyboard/Gerber_keyboard_PCB_keyboard_2_2024-02-24 (1).zip
  projects/macro-keyboard/README.md
  projects/macro-keyboard/Schematic_keyboard_2024-02-28.pdf
  projects/macro-keyboard/cart1.png
  projects/macro-keyboard/src1/PCB_PCB_keyboard_2_2024-02-28.json
  projects/macro-keyboard/src1/SCH_keyboard_2024-02-28.json
Labels: Submission, no HCB needed

#366 Shayan's Buisness Card
  projects/Buisness_card_SM/Gerber_New-Project_PCB_New-Project_3_2024-03-04.zip
  projects/Buisness_card_SM/PCB_PCB_New-Project_3_2024-03-05.json
  projects/Buisness_card_SM/cart.png
  projects/Buisness_card_SM/readme.md
  projects/Buisness_card_SM/schematic.pdf
  projects/Buisness_card_SM/src/PCB_PCB_New-Project_3_2024-03-05.json
  projects/Buisness_card_SM/src/readme.md
Labels: Submission

#368 Review bot upgrade to file checking
  .github/workflows/gerbview.js
  .github/workflows/pull_request_gerbview.yml
Labels: Dev

#369 Updates to feedback bot
  .github/workflows/gerbview.js
  .github/workflows/requisite_check.yml
Labels: Dev

#364 adding ingredients to recipe page
  examples/site/index.html
Labels: Dev

#370 Create GH pages Action
  .github/workflows/static.yml
Labels: Dev

#363 Juan Zarco's PCB Business Card
  projects/JuanZ_PCB_Card/README.md
  projects/JuanZ_PCB_Card/cart.png
  projects/JuanZ_PCB_Card/gerber.zip
  projects/JuanZ_PCB_Card/schematic.pdf
  projects/JuanZ_PCB_Card/src/1-PCB_PCB_PCB Hacker Card.json
  projects/JuanZ_PCB_Card/src/1-Schematic_PCB Hacker Card.json
  projects/JuanZ_PCB_Card/src/2-PCB_PCB_PCB Hacker Card_2.json
  projects/JuanZ_PCB_Card/src/3-PCB_PCB_PCB Hacker Card_2.json
Labels: Submission

#375 RP2040-Zero Macropad
  projects/KoKoOo-RP2040-MacroPad/README.md
  projects/KoKoOo-RP2040-MacroPad/cart.png
  projects/KoKoOo-RP2040-MacroPad/gerber.zip
  projects/KoKoOo-RP2040-MacroPad/production/RP2040-Macropad/bom.csv
  projects/KoKoOo-RP2040-MacroPad/production/RP2040-Macropad/designators.csv
  projects/KoKoOo-RP2040-MacroPad/production/RP2040-Macropad/netlist.ipc
  projects/KoKoOo-RP2040-MacroPad/production/RP2040-Macropad/positions.csv
  projects/KoKoOo-RP2040-MacroPad/schematic.pdf
  projects/KoKoOo-RP2040-MacroPad/src/RP2040-Macropad.kicad_pcb
  projects/KoKoOo-RP2040-MacroPad/src/RP2040-Macropad.kicad_pro
  projects/KoKoOo-RP2040-MacroPad/src/RP2040-Macropad.kicad_sch
Labels: Submission

#382 Pat's onboard project
  projects/Pat's_Onboard_Card/README.md
  projects/Pat's_Onboard_Card/cart.png
  projects/Pat's_Onboard_Card/gerber.zip
  projects/Pat's_Onboard_Card/schematic.pdf
  projects/Pat's_Onboard_Card/src/BOM_Hackclubtut_2024-03-08.csv
  projects/Pat's_Onboard_Card/src/PCB_PCB_Hackclubtut_2_2024-03-08.json
  projects/Pat's_Onboard_Card/src/PickAndPlace_PCB_Hackclubtut_2_2024-03-08.csv
  projects/Pat's_Onboard_Card/src/SCH_Hackclubtut_2024-03-08.json
Labels: Submission

#383 Delete OnBoard Stats.md
  OnBoard Stats.md
Labels: Dev

#379 Jacob Bryant's NFC Card
  projects/Jake's NFC Card/README.md
  projects/Jake's NFC Card/cart.png
  projects/Jake's NFC Card/gerber.zip
  projects/Jake's NFC Card/pickandplace.csv
  projects/Jake's NFC Card/schematic.pdf
  projects/Jake's NFC Card/src/PCB_PCB_HackerCard_2024-03-12.json
  projects/Jake's NFC Card/src/SCH_HackerCard_2024-03-12.json
Labels: Submission

#386 rayhanadev - NFC Card
  projects/rayhanadev-nfc_card/README.md
  projects/rayhanadev-nfc_card/cart.png
  projects/rayhanadev-nfc_card/gerber.zip
  projects/rayhanadev-nfc_card/schematic.pdf
  projects/rayhanadev-nfc_card/src/PCB_nfc_card.json
  projects/rayhanadev-nfc_card/src/SCH_nfc_card.json
Labels: Submission

#390 Sai's NFC PCB Hacker Card
  Gerber_NFC-Buisness-Card_PCB_NFC-Buisness-Card_2_2024-03-13.zip
  PCB_PCB_NFC-Buisness-Card_2_2024-03-13.json
  SCH_NFC-Buisness-Card_2024-03-13.json
  Screenshot 2024-03-13 113057.png
  projects/SaiAvula_PCBHackerCard/README.md
  projects/SaiAvula_PCBHackerCard/cart.png
  projects/SaiAvula_PCBHackerCard/gerber.zip
  projects/SaiAvula_PCBHackerCard/schematic.pdf
  projects/SaiAvula_PCBHackerCard/src/PCB_PCB_NFC-Buisness-Card_2_2024-03-13.json
  projects/SaiAvula_PCBHackerCard/src/SCH_NFC-Buisness-Card_2024-03-13.json
Labels: Submission

#391 My Project
  projects/Cassidy C's NFC Card PCB/README.md
  projects/Cassidy C's NFC Card PCB/cart+shipping.png
  projects/Cassidy C's NFC Card PCB/cart.png
  projects/Cassidy C's NFC Card PCB/gerber.zip
  projects/Cassidy C's NFC Card PCB/schematic.pdf
  projects/Cassidy C's NFC Card PCB/src/1-PCB_PCB_hackcard.json
  projects/Cassidy C's NFC Card PCB/src/1-Schematic_hackcard.json
Labels: Submission

#395 PILOT
  projects/PILOT/README.md
  projects/PILOT/cart.png
  projects/PILOT/gerber.zip
  projects/PILOT/schematic.pdf
  projects/PILOT/src/BOM and others/bom.csv
  projects/PILOT/src/BOM and others/designators.csv
  projects/PILOT/src/BOM and others/netlist.ipc
  projects/PILOT/src/BOM and others/positions.csv
  projects/PILOT/src/Electronic Dropper.kicad_pcb
  projects/PILOT/src/Electronic Dropper.kicad_pro
  projects/PILOT/src/Electronic Dropper.kicad_sch
Labels: Submission

#397 accidentally added files to root
  Gerber_NFC-Buisness-Card_PCB_NFC-Buisness-Card_2_2024-03-13.zip
  PCB_PCB_NFC-Buisness-Card_2_2024-03-13.json
  SCH_NFC-Buisness-Card_2024-03-13.json
  Screenshot 2024-03-13 113057.png
Labels: Dev

#384 Jose's NFC Business Card
  projects/Jose's NFC Business Card/README.md
  projects/Jose's NFC Business Card/cart.png
  projects/Jose's NFC Business Card/gerber.zip
  projects/Jose's NFC Business Card/schematic.pdf
  projects/Jose's NFC Business Card/src/Autorouter.dsn
  projects/Jose's NFC Business Card/src/PCB_PCB_NFC-Business-Card_2024-03-18.json
  projects/Jose's NFC Business Card/src/PickAndPlace.csv
  projects/Jose's NFC Business Card/src/SCH_NFC-Business-Card_2024-03-18.json
Labels: Submission

#405 Request for "Rocket Airbrake Avionic PCB"
  Gerber.zip
  Schematic.pdf
  projects/Rocket Airbrake Avionic PCB/README.md
  projects/Rocket Airbrake Avionic PCB/cart.png
  projects/Rocket Airbrake Avionic PCB/gerber.zip
  projects/Rocket Airbrake Avionic PCB/schematic.pdf
  projects/Rocket Airbrake Avionic PCB/src/PCB_PCB_RocketTests_2024-03-19.json
  projects/Rocket Airbrake Avionic PCB/src/SCH_IntegratedAvionics Mk. 1_2024-03-19.json
Labels: Submission

#411 Josh's Screen Badge
  projects/Josh's Screen Badge/BOM.csv
  projects/Josh's Screen Badge/PickAndPlace.csv
  projects/Josh's Screen Badge/README.md
  projects/Josh's Screen Badge/cart.png
  projects/Josh's Screen Badge/gerber.zip
  projects/Josh's Screen Badge/schematic.pdf
  projects/Josh's Screen Badge/src/SCH_Design.json
  projects/Josh's Screen Badge/src/design.json
Labels: Submission

#412 Fix typo in VENDORS.md
  docs/VENDORS.md
Labels: Dev

#410 Vansh's USB Hub
  projects/USB HUB/BOM.csv
  projects/USB HUB/README.md
  projects/USB HUB/cart.png
  projects/USB HUB/gerber.zip
  projects/USB HUB/picknplace.csv
  projects/USB HUB/schematic.pdf
  projects/USB HUB/src/PCB_PCB_USB-Hub.json
  projects/USB HUB/src/SCH_USB-Hub.json
Labels: Submission

#417 Make schematic.pdf checking clearer
  .github/workflows/gerbview.js
Labels: Dev

#419 Missing newline in bot
  .github/workflows/gerbview.js
Labels: Dev

#420 improve source file checking in bot
  .github/workflows/gerbview.js
Labels: Dev

#413 Pi Day Pie PCB
  projects/Pi Day Pie Keychain/README.md
  projects/Pi Day Pie Keychain/cart.png
  projects/Pi Day Pie Keychain/gerber.zip
  projects/Pi Day Pie Keychain/schematic.pdf
  projects/Pi Day Pie Keychain/src/PCB_PCB_pie-day-pcb_2_2024-03-29.json
  projects/Pi Day Pie Keychain/src/SCH_pie-day-pcb_2024-03-29.json
Labels: Submission
