Repository hackclub/OnBoard, pull requests merged in 2025-01, with the labels that each got.

#1387 Adding PCB card to projects list
  projects/AJ-swag-NFC-card/README.md
  projects/AJ-swag-NFC-card/cart.png
  projects/AJ-swag-NFC-card/gerber.zip
  projects/AJ-swag-NFC-card/schematic.pdf
  projects/AJ-swag-NFC-card/src/pcb.json
  projects/AJ-swag-NFC-card/src/schematic.json
Labels: Submission

#1398 Diffused RGB Panel
  projects/Diffused RGB Panel/README.md
  projects/Diffused RGB Panel/cart.png
  projects/Diffused RGB Panel/gerber.zip
  projects/Diffused RGB Panel/schematic.pdf
  projects/Diffused RGB Panel/src/lightsculpture.kicad_pcb
  projects/Diffused RGB Panel/src/lightsculpture.kicad_pro
  projects/Diffused RGB Panel/src/lightsculpture.kicad_sch
Labels: Submission

#1382 Create README.md
  projects/DynamicWhiteHat'sNFC/README.md
  projects/DynamicWhiteHat'sNFC/cart.png
  projects/DynamicWhiteHat'sNFC/gerber.zip
  projects/DynamicWhiteHat'sNFC/schematic.pdf
  projects/DynamicWhiteHat'sNFC/src/pcb.json
  projects/DynamicWhiteHat'sNFC/src/schematic.json
Labels: Submission

#1400 My NFC Card
  projects/mo8codes_nfc_card/README.md
  projects/mo8codes_nfc_card/cart.png
  projects/mo8codes_nfc_card/gerber.zip
  projects/mo8codes_nfc_card/schematic.pdf
  projects/mo8codes_nfc_card/src/pcb_easyeda.json
  projects/mo8codes_nfc_card/src/schematic_easyeda.json
Labels: Submission

#1375 upload files
  projects/Duck NFC card/README.md
  projects/Duck NFC card/cart.png
  projects/Duck NFC card/gerber.zip
  projects/Duck NFC card/schematic.pdf
  projects/Duck NFC card/src/pcb.json
  projects/Duck NFC card/src/schematic.json
Labels: Submission

#1403 Add "myterriblenfccard"
  projects/myterriblenfccard/README.md
  projects/myterriblenfccard/cart.png
  projects/myterriblenfccard/gerber.zip
  projects/myterriblenfccard/schematic.pdf
  projects/myterriblenfccard/src/pcb.json
  projects/myterriblenfccard/src/schematic.json
Labels: Submission

#1404 Add "Hallowed"
  projects/Hallowed/README.md
  projects/Hallowed/cart.png
  projects/Hallowed/gerber.zip
  projects/Hallowed/schematic.pdf
  projects/Hallowed/src/PCB_PCB_Hollowed_2025-01-09.json
  projects/Hallowed/src/SCH_Hollowed_2025-01-09.json
Labels: Submission

#1407 Annoucement of Hacky Holidays into main README
  .github/labeler.yml
  README.md
Labels: Dev

#1410 Anson's NFC Card
  projects/Anson's NFC Card/README.md
  projects/Anson's NFC Card/cart.png
  projects/Anson's NFC Card/gerber.zip
  projects/Anson's NFC Card/schematic.pdf
  projects/Anson's NFC Card/src/PCB_PCB_NFC-Business-Card_2025-01-12.json
  projects/Anson's NFC Card/src/SCH_NFC-Business-Card_2025-01-12.json
Labels: Submission

#1411 feat: add wolf's hacker board
  projects/Wolf's hacker board/README.md
  projects/Wolf's hacker board/cart.png
  projects/Wolf's hacker board/gerber.zip
  projects/Wolf's hacker board/schematic.pdf
  projects/Wolf's hacker board/src/PCB.efoo
  projects/Wolf's hacker board/src/PCB.json
  projects/Wolf's hacker board/src/ProPrj_Hackclub-NFC-Card_2025-01-11.epro
  projects/Wolf's hacker board/src/schematic.esch
  projects/Wolf's hacker board/src/schematic.json
Labels: Submission

#1409 Pico MMU Control Board
  projects/Pico MMU Control Board/README.md
  projects/Pico MMU Control Board/cart.png
  projects/Pico MMU Control Board/gerber.zip
  projects/Pico MMU Control Board/schematic.pdf
  projects/Pico MMU Control Board/src/PicoMMUBoard.kicad_pcb
  projects/Pico MMU Control Board/src/PicoMMUBoard.kicad_pro
  projects/Pico MMU Control Board/src/PicoMMUBoard.kicad_sch
Labels: Submission

#1413 Instructions for submitting to Hacky Holidays
  .github/PULL_REQUEST_TEMPLATE.md
  projects/!Template/TEMPLATE.md
Labels: Submission, Dev

#1418 Add Adam's Hacker Card
  projects/adam_hacker_card/README.md
  projects/adam_hacker_card/cart.png
  projects/adam_hacker_card/gerber.zip
  projects/adam_hacker_card/schematic.pdf
  projects/adam_hacker_card/src/pcb.json
  projects/adam_hacker_card/src/schematic.json
Labels: Submission

#1406 urmom business card
  projects/urmom/README.md
  projects/urmom/cart.png
  projects/urmom/gerber.zip
  projects/urmom/schematic.pdf
  projects/urmom/src/PCB_PCB_urmom_2025-01-09.json
  projects/urmom/src/SCH_urmom_2025-01-09.json
Labels: Submission

#1239 MyHELLOWEENCARD
  projects/Riston_buinesscard/README.md
  projects/Riston_buinesscard/cart.png
  projects/Riston_buinesscard/gerber.zip
  projects/Riston_buinesscard/schematic.pdf
  projects/Riston_buinesscard/src/PCB.json
  projects/Riston_buinesscard/src/schematic.json
Labels: Submission, Trick or Trace

#1394 MinoDabs NFC Card
  projects/MinoDabs NFC Card/README.md
  projects/MinoDabs NFC Card/cart.png
  projects/MinoDabs NFC Card/gerber.zip
  projects/MinoDabs NFC Card/schematic.pdf
  projects/MinoDabs NFC Card/src/Schematic.json
  projects/MinoDabs NFC Card/src/pcb.json
Labels: Submission

#1423 Remove Legacy form & Disable Stale items
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/organize.temp
Labels: Dev

#1414 ESP1
  projects/ESP1/README.md
  projects/ESP1/cart.png
  projects/ESP1/gerber.zip
  projects/ESP1/schematic.pdf
  projects/ESP1/src/pcb.json
  projects/ESP1/src/schematic.json
Labels: Submission

#1408 Pull Request
  projects/SopSax/README.md
  projects/SopSax/cart.png
  projects/SopSax/gerber.zip
  projects/SopSax/schematic.pdf
  projects/SopSax/src/left.kicad_pcb
  projects/SopSax/src/left.kicad_pro
  projects/SopSax/src/left.kicad_sch
Labels: Submission

#1385 [Hacky Holidays] Snowglobe
  projects/Shuchir - Snowglobe/README.md
  projects/Shuchir - Snowglobe/cart.png
  projects/Shuchir - Snowglobe/gerber.zip
  projects/Shuchir - Snowglobe/schematic.pdf
  projects/Shuchir - Snowglobe/src/bom.csv
  projects/Shuchir - Snowglobe/src/positions.csv
  projects/Shuchir - Snowglobe/src/snowglobe.kicad_pcb
  projects/Shuchir - Snowglobe/src/snowglobe.kicad_pro
  projects/Shuchir - Snowglobe/src/snowglobe.kicad_sch
  projects/Shuchir - Snowglobe/src/snowglobe.wrl
Labels: Submission, Hacky Holidays

#1396 [Hacky Holidays] The Pixel Clock
  projects/the-pixel-clock/LICENSE
  projects/the-pixel-clock/README.md
  projects/the-pixel-clock/cart.png
  projects/the-pixel-clock/firmware/.gitignore
  projects/the-pixel-clock/firmware/Makefile
  projects/the-pixel-clock/firmware/main.c
  projects/the-pixel-clock/firmware/pitches.h
  projects/the-pixel-clock/firmware/programs.h
  projects/the-pixel-clock/gerber.zip
  projects/the-pixel-clock/schematic.pdf
  projects/the-pixel-clock/src/fp-lib-table
  projects/the-pixel-clock/src/hacky-holidays.kicad_pcb
  projects/the-pixel-clock/src/hacky-holidays.kicad_prl
  projects/the-pixel-clock/src/hacky-holidays.kicad_pro
  projects/the-pixel-clock/src/hacky-holidays.kicad_sch
  projects/the-pixel-clock/src/libraries/custom-footprints.pretty/qrcode.kicad_mod
  projects/the-pixel-clock/src/libraries/lcsc-imports.kicad_sym
  projects/the-pixel-clock/src/libraries/lcsc-imports.pretty/SW-TH_K3-1260D-L1.kicad_mod
  projects/the-pixel-clock/src/libraries/lcsc-imports.pretty/USB-C_UC09-0B16F00P11.kicad_mod
  projects/the-pixel-clock/src/libraries/wch.kicad_sym
  projects/the-pixel-clock/src/libraries/wch.lib
  projects/the-pixel-clock/src/production/bom.csv
  projects/the-pixel-clock/src/production/designators.csv
  projects/the-pixel-clock/src/production/hacky-holidays.zip
  projects/the-pixel-clock/src/production/netlist.ipc
  projects/the-pixel-clock/src/production/positions.csv
  projects/the-pixel-clock/src/sym-lib-table
Labels: Submission, Hacky Holidays

#1377 Create README.md
  projects/hacky-holiday/README.md
  projects/hacky-holiday/cart.png
  projects/hacky-holiday/gerber.zip
  projects/hacky-holiday/schematic.pdf
  projects/hacky-holiday/src/PCB_PCB_Christmas-Tree-1_6_2024-12-28.json
  projects/hacky-holiday/src/SCH_Christmas-Tree-1_2024-12-28.json
Labels: Submission, Hacky Holidays

#1401 Music Reactive LEDs
  projects/Music Reactive LEDs/README.md
  projects/Music Reactive LEDs/cart.png
  projects/Music Reactive LEDs/gerber.zip
  projects/Music Reactive LEDs/schematic.pdf
  projects/Music Reactive LEDs/src/Music Reactive board.kicad_pcb
  projects/Music Reactive LEDs/src/Music Reactive board.kicad_pro
  projects/Music Reactive LEDs/src/Music Reactive board.kicad_sch
  projects/Music Reactive LEDs/src/bom.csv
  projects/Music Reactive LEDs/src/positions.csv
Labels: Submission, Hacky Holidays

#1381 Hacky Holidays-tag
  projects/Hacky-holidays-Yashas Singh/README.md
  projects/Hacky-holidays-Yashas Singh/Schematic.pdf
  projects/Hacky-holidays-Yashas Singh/cart.png
  projects/Hacky-holidays-Yashas Singh/gerber.zip
  projects/Hacky-holidays-Yashas Singh/src/BOM_emg-sensor_2024-12-08 (2).csv
  projects/Hacky-holidays-Yashas Singh/src/PickAndPlace_PCB_emg-sensor_2024-12-08 (2).csv
  projects/Hacky-holidays-Yashas Singh/src/pcb.json
  projects/Hacky-holidays-Yashas Singh/src/schematic.json
Labels: Submission, Hacky Holidays
