Repository hackclub/OnBoard, pull requests merged in 2025-03, with the labels that each got.

#1496 Pathfinder
  projects/Pathfinder/README.md
  projects/Pathfinder/cart.png
  projects/Pathfinder/cartdiscount.png
  projects/Pathfinder/gerber.zip
  projects/Pathfinder/schematic.pdf
  projects/Pathfinder/src/BOM.xls
  projects/Pathfinder/src/PathfinderPCB.kicad_pcb
  projects/Pathfinder/src/PathfinderPCB.kicad_pro
  projects/Pathfinder/src/PathfinderPCB.kicad_sch
  projects/Pathfinder/src/PathfinderPCB.wrl
  projects/Pathfinder/src/Positions.xls
Labels: Submission

#1412 CADMacroPadV2
  projects/CadMacroPad/README.md
  projects/CadMacroPad/cart.png
  projects/CadMacroPad/gerber.zip
  projects/CadMacroPad/schematic.pdf
  projects/CadMacroPad/src/PCB_PCB_CadMacroBoard_2024-11-26.json
  projects/CadMacroPad/src/SCH_CadMacroBoard_2024-11-26.json
Labels: Submission

#1422 NFC Hacker card
  projects/omar_nfc_card/BOM.csv
  projects/omar_nfc_card/PAP.csv
  projects/omar_nfc_card/cart.png
  projects/omar_nfc_card/gerber.zip
  projects/omar_nfc_card/readme.md
  projects/omar_nfc_card/schematic.pdf
  projects/omar_nfc_card/src/PCB.json
  projects/omar_nfc_card/src/Schematic.json
Labels: Submission

#1488 create Alex_card
  projects/Alex_card/README.md
  projects/Alex_card/cart.png
  projects/Alex_card/gerber.zip
  projects/Alex_card/schematic.pdf
  projects/Alex_card/src/BOM_Onboard-Card_2025-02-03.csv
  projects/Alex_card/src/PCB_PCB_Onboard-Card_2025-02-03.json
  projects/Alex_card/src/PickAndPlace_PCB_Onboard-Card_2025-02-03.csv
  projects/Alex_card/src/SCH_Onboard-Card_2025-02-03.json
Labels: Submission

#1509 Fix project names
  projects/1henryspcbcard/README.md
  projects/1henryspcbcard/gerber.zip
  projects/1henryspcbcard/schematic.pdf
  projects/1henryspcbcard/src/pcb.json
  projects/1henryspcbcard/src/schematics.json
  projects/Akul-HC_NFC_CARD/cart.png
  projects/Akul-HC_NFC_CARD/gerber.zip
  projects/Akul-HC_NFC_CARD/readme.md
  projects/Akul-HC_NFC_CARD/schematic.pdf
  projects/Akul-HC_NFC_CARD/src/pcb.json
  projects/Akul-HC_NFC_CARD/src/schematic.json
  projects/Carl-HCM_PCB_CARD/README.md
  projects/Carl-HCM_PCB_CARD/cart.png
  projects/Carl-HCM_PCB_CARD/gerber.zip
  projects/Carl-HCM_PCB_CARD/schematic.pdf
  projects/Carl-HCM_PCB_CARD/src/pcb.json
  projects/Carl-HCM_PCB_CARD/src/schematic.json
  projects/Prob a nfc card(nutt)/README.md
  projects/Prob a nfc card(nutt)/cart.png
  projects/Prob a nfc card(nutt)/gerber.zip
  projects/Prob a nfc card(nutt)/schematic.pdf
  projects/Prob a nfc card(nutt)/src/Schematic.json
  projects/Prob a nfc card(nutt)/src/pcb.json
  projects/Shaunak's-Usb-c-hub/README.md
  projects/Shaunak's-Usb-c-hub/cart.png
  projects/Shaunak's-Usb-c-hub/gerber.zip
  projects/Shaunak's-Usb-c-hub/schematic.pdf
  projects/Shaunak's-Usb-c-hub/src/pcb.json
  projects/Shaunak's-Usb-c-hub/src/schematic.json
  projects/ZZZ Hollow Zero Card
  projects/davidgoliath-nfc-card/README.md
  projects/davidgoliath-nfc-card/cart.PNG
  projects/davidgoliath-nfc-card/cart.png
  projects/davidgoliath-nfc-card/gerber.zip
  projects/davidgoliath-nfc-card/schematic.pdf
  projects/davidgoliath-nfc-card/src/pcb.json
  projects/davidgoliath-nfc-card/src/schematic.json
  projects/henryusbhub/README.md
  projects/henryusbhub/cart.png
  projects/henryusbhub/gerber.zip
  projects/henryusbhub/schematic.pdf
  projects/henryusbhub/src/pcb.json
  projects/henryusbhub/src/placeholder
  projects/henryusbhub/src/schematic.json
Labels: Dev

#1505 Changed RC Transmitter Order
  projects/RC Transmitter/cart.png
Labels: Dev

#1492 Scaledfish's Hacker Card
  projects/SclaedfishsHackerCard/README.md
  projects/SclaedfishsHackerCard/cart.png
  projects/SclaedfishsHackerCard/gerber.zip
  projects/SclaedfishsHackerCard/schematic.pdf
  projects/SclaedfishsHackerCard/src/pcb.json
  projects/SclaedfishsHackerCard/src/schematic.json
Labels: Submission

#1497 OptiScan-X AI Analysis Tool
  projects/OptiScan-X/README.md
  projects/OptiScan-X/cart.png
  projects/OptiScan-X/gerber.zip
  projects/OptiScan-X/schematic.pdf
  projects/OptiScan-X/src/PCB_ESP32-S3_Project_2025-03-01.json
  projects/OptiScan-X/src/SCH_ESP32-S3_Project_2025-03-01.json
Labels: Submission

#1522 HCJK-CARD Pull Request
  projects/HCJK_CARD/README.md
  projects/HCJK_CARD/cart.png
  projects/HCJK_CARD/gerber.zip
  projects/HCJK_CARD/schematic.pdf
  projects/HCJK_CARD/src/pcb.json
  projects/HCJK_CARD/src/schematic.json
Labels: Submission

#1518 Addition of my Hacker Card to OnBoard
  projects/Rocco_Hacker_Card/README.md
  projects/Rocco_Hacker_Card/cart.png
  projects/Rocco_Hacker_Card/gerber.zip
  projects/Rocco_Hacker_Card/schematic.pdf
  projects/Rocco_Hacker_Card/src/3dmodel.obj
  projects/Rocco_Hacker_Card/src/pcb.json
  projects/Rocco_Hacker_Card/src/schematic.json
Labels: Submission

#1534 fish-led-chaser
  projects/fish-led-chaser/Readme.md
  projects/fish-led-chaser/cart.png
  projects/fish-led-chaser/gerber.zip
  projects/fish-led-chaser/schematic.pdf
  projects/fish-led-chaser/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/fish-led-chaser/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1457 create xmas-tree-ornament !
  projects/xmas-tree-ornament/cart.png
  projects/xmas-tree-ornament/firmware.ino
  projects/xmas-tree-ornament/gerber.zip
  projects/xmas-tree-ornament/readme.md
  projects/xmas-tree-ornament/schematic.pdf
  projects/xmas-tree-ornament/src/xmas_tree.kicad_pcb
  projects/xmas-tree-ornament/src/xmas_tree.kicad_pro
  projects/xmas-tree-ornament/src/xmas_tree.kicad_sch
Labels: Submission, Hacky Holidays

#1552 Update template README to use correct gerber filename
  projects/!Template/README.md
Labels: Dev

#1550 Added my project
  projects/Sisyphus LineFollower/ReadMe.md
  projects/Sisyphus LineFollower/cart.png
  projects/Sisyphus LineFollower/gerber.zip
  projects/Sisyphus LineFollower/schematic.pdf
  projects/Sisyphus LineFollower/src/Sisyphus.epro
Labels: Submission

#1535 Roxtar - PCB
  projects/Roxtar-PCB/Readme.md
  projects/Roxtar-PCB/cart.png
  projects/Roxtar-PCB/gerber.zip
  projects/Roxtar-PCB/schematic.pdf
  projects/Roxtar-PCB/src/PCB.json
  projects/Roxtar-PCB/src/SCH.json
Labels: Submission, CCA

#1536 BitcoinPCB
  projects/BitcoinPCB/Readme.md
  projects/BitcoinPCB/cart.png
  projects/BitcoinPCB/gerber.zip
  projects/BitcoinPCB/schematic.pdf
  projects/BitcoinPCB/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/BitcoinPCB/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1532 ~`~led~`~pcb~`~
  projects/~`~led~`~pcb~`~/README.md
  projects/~`~led~`~pcb~`~/cart.png
  projects/~`~led~`~pcb~`~/gerber.zip
  projects/~`~led~`~pcb~`~/schematic.pdf
  projects/~`~led~`~pcb~`~/src/PCB_PCB_led-chaser_2025-03-19.json
  projects/~`~led~`~pcb~`~/src/SCH_led-chaser_2025-03-19.json
Labels: Submission, CCA

#1539 India Flag LED Chaser PCB
  projects/India Flag LED Chaser/Readme.md
  projects/India Flag LED Chaser/cart.png
  projects/India Flag LED Chaser/gerber.zip
  projects/India Flag LED Chaser/schematic.pdf
  projects/India Flag LED Chaser/src/PCB_PCB_555-Circuit_2025-03-19.json
  projects/India Flag LED Chaser/src/SCH_555-Circuit_2025-03-19.json
Labels: Submission, CCA

#1554 Lizard board
  projects/Lizard board/Readme.md
  projects/Lizard board/cart.png
  projects/Lizard board/gerber.zip
  projects/Lizard board/schematic.pdf
  projects/Lizard board/src/PCB_PCB_555-circuit_2025-03-12.json
  projects/Lizard board/src/SCH_555-circuit_2025-03-19.json
  projects/Lizard board/update cart.PNG
Labels: Submission

#1555 Tigran's PCB Project
  projects/Tigran's PCB Project/README.md
  projects/Tigran's PCB Project/cart.png
  projects/Tigran's PCB Project/gerber.zip
  projects/Tigran's PCB Project/schematic.pdf
  projects/Tigran's PCB Project/src/PCB_PCB_555-Circuit_2025-03-19.json
  projects/Tigran's PCB Project/src/SCH_555-Circuit_2025-03-19.json
Labels: Submission

#1529 Satwik MCB
  projects/MadridCB
  projects/Satwik MCB/Readme.md
  projects/Satwik MCB/cart.png
  projects/Satwik MCB/gerber.zip
  projects/Satwik MCB/schematic.pdf
  projects/Satwik MCB/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/Satwik MCB/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1557 RISC-BOX
  projects/Risc-Box/README.md
  projects/Risc-Box/cart.png
  projects/Risc-Box/gerber.zip
  projects/Risc-Box/schematic.pdf
  projects/Risc-Box/src/ch32v003.kicad_pcb
  projects/Risc-Box/src/ch32v003.kicad_pro
  projects/Risc-Box/src/ch32v003.kicad_sch
Labels: Submission

#1558 Channing NFC
  projects/Channing_NFC/README.md
  projects/Channing_NFC/cart.png
  projects/Channing_NFC/gerber.zip
  projects/Channing_NFC/schematic.pdf
  projects/Channing_NFC/src/pcb.json
  projects/Channing_NFC/src/schematic.json
Labels: Submission

#1533 ChristmasTreeBoard
  projects/ChristmasTreeBoard/PCB_PCB_555-Circuit_2025-03-12.json
  projects/ChristmasTreeBoard/Readme.md
  projects/ChristmasTreeBoard/SCH_555-Circuit_2025-03-12.json
  projects/ChristmasTreeBoard/cart.png
  projects/ChristmasTreeBoard/gerber.zip
  projects/ChristmasTreeBoard/schematic.pdf
  projects/OnBoardChristmasTree
Labels: Submission, CCA

#1525 AeroFusionLogo
  projects/AerofusionLogo/Readme.md
  projects/AerofusionLogo/cart.png
  projects/AerofusionLogo/gerber.zip
  projects/AerofusionLogo/schematic.pdf
  projects/AerofusionLogo/src/PCB_PCB_555-Circuit-Aluminum_2025-03-19.json
  projects/AerofusionLogo/src/SCH_555-Circuit_2025-03-19.json
Labels: Submission, CCA

#1524 LEDchaserProject
  projects/LEDchaserProject/Readme.md
  projects/LEDchaserProject/Src/pcb.json
  projects/LEDchaserProject/Src/sch.json
  projects/LEDchaserProject/cart.png
  projects/LEDchaserProject/gerber.zip
  projects/LEDchaserProject/schematic.pdf
Labels: Submission, CCA

#1528 bombardirocrocodilo
  projects/Crocodilo/Readme.md
  projects/Crocodilo/cart.png
  projects/Crocodilo/gerber.zip
  projects/Crocodilo/schematic.pdf
  projects/Crocodilo/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/Crocodilo/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1523 JCBoard
  projects/kkrt/Readme.md
  projects/kkrt/cart.png
  projects/kkrt/gerber.zip
  projects/kkrt/schematic.pdf
  projects/kkrt/src/PCB_PCB_555-Circuit_2_2025-03-12 (2).json
  projects/kkrt/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1562 ESP32 Drone
  projects/ESP Drone/README.md
  projects/ESP Drone/cart.png
  projects/ESP Drone/gerber.zip
  projects/ESP Drone/schematic.pdf
  projects/ESP Drone/src/ESP drone.kicad_pcb
  projects/ESP Drone/src/ESP drone.kicad_pro
  projects/ESP Drone/src/ESP drone.kicad_sch
Labels: Submission

#1563 Zac's JCTestboard
  projects/JCTestboard/Readme.md
  projects/JCTestboard/cart.png
  projects/JCTestboard/gerber.zip
  projects/JCTestboard/schematic.pdf
  projects/JCTestboard/src/PCB_PCB_555-circuit_2025-03-11.json
  projects/JCTestboard/src/SCH_555-circuit_2025-03-11.json
Labels: Submission, CCA

#1541 Wave-Board-Creation
  projects/Wave-Board/Readme.md
  projects/Wave-Board/cart.png
  projects/Wave-Board/gerber.zip
  projects/Wave-Board/schematic.pdf
  projects/Wave-Board/src/pcb.json
  projects/Wave-Board/src/sch.json
Labels: Submission, CCA

#1565 duykhanh09103 hacker card!
  projects/duykhanh09103_hacker_card/bom.csv
  projects/duykhanh09103_hacker_card/cart.png
  projects/duykhanh09103_hacker_card/gerber.zip
  projects/duykhanh09103_hacker_card/positions.csv
  projects/duykhanh09103_hacker_card/readme.md
  projects/duykhanh09103_hacker_card/schematic.pdf
  projects/duykhanh09103_hacker_card/src/hackercard.kicad_pcb
  projects/duykhanh09103_hacker_card/src/hackercard.kicad_pro
  projects/duykhanh09103_hacker_card/src/hackercard.kicad_sch
Labels: Submission

#1567 Fix vendors.md link in README.md
  README.md
Labels: Dev

#1568 rev2
  projects/rev2/README.md
  projects/rev2/cart.png
  projects/rev2/gerber.zip
  projects/rev2/schematic.pdf
  projects/rev2/src/bom.csv
  projects/rev2/src/daughter_board.kicad_pcb
  projects/rev2/src/daughter_board.kicad_pro
  projects/rev2/src/positions.csv
Labels: Submission

#1549 USB Hub for class
  projects/JaumeCardona_USB_HUB/Readme.md
  projects/JaumeCardona_USB_HUB/cart.png
  projects/JaumeCardona_USB_HUB/gerber.zip
  projects/JaumeCardona_USB_HUB/schematic.pdf
  projects/JaumeCardona_USB_HUB/src/PCB_PCB_USB_HUB1_2025-02-07.json
  projects/JaumeCardona_USB_HUB/src/SCH_USB_HUB1_2025-02-07.json
Labels: Submission

#1566 TremorWatch
  projects/TremorWatch/README.md
  projects/TremorWatch/cart.png
  projects/TremorWatch/gerber.zip
  projects/TremorWatch/schematic.pdf
  projects/TremorWatch/src/TremorWatch.kicad_pcb
  projects/TremorWatch/src/TremorWatch.kicad_pro
  projects/TremorWatch/src/TremorWatch.kicad_sch
Labels: Submission

#1527 Terraboard
  projects/Terraboard/Readme.md
  projects/Terraboard/cart.png
  projects/Terraboard/gerber.zip
  projects/Terraboard/schematic.pdf
  projects/Terraboard/src/PCB_PCB_555-circut_2025-03-24.json
  projects/Terraboard/src/SCH_555-circut_2025-03-21.json
Labels: Submission, CCA

#1586 BearCircuitProject
  projects/BearCircuitProject/Readme.md
  projects/BearCircuitProject/cart.png
  projects/BearCircuitProject/gerber.zip
  projects/BearCircuitProject/schematic.pdf
  projects/BearCircuitProject/src/PCB_PCB_555-Circuit_2025-03-21.json
  projects/BearCircuitProject/src/SCH_555-Circuit_2025-03-21.json
Labels: Submission, CCA

#1564 Baseball LED chaser
  projects/baseball-LED-chaser/Readme.md
  projects/baseball-LED-chaser/cart.png
  projects/baseball-LED-chaser/gerber.zip
  projects/baseball-LED-chaser/schematic.pdf
  projects/baseball-LED-chaser/src/PCB_PCB_555-circuit_2025-03-24.json
  projects/baseball-LED-chaser/src/SCH_555-circuit_2025-03-24.json
Labels: Submission, CCA

#1574 .
  projects/Admin-USBMoro/README.md
  projects/Admin-USBMoro/cart.png
  projects/Admin-USBMoro/gerber.zip
  projects/Admin-USBMoro/schematic.pdf
  projects/Admin-USBMoro/src/BOM_Placa-MME_2025-02-16.csv
  projects/Admin-USBMoro/src/PCB_PCB_Placa-MME_2025-02-16.json
  projects/Admin-USBMoro/src/SCH_Placa-MME_2025-02-16.json
Labels: Submission, Pegoku USB hub Workshop

#1576 iker PCB
  projects/Iker-USB HUB/README.md
  projects/Iker-USB HUB/cart.png
  projects/Iker-USB HUB/gerber.zip
  projects/Iker-USB HUB/schematic.pdf
  projects/Iker-USB HUB/src/BOM_USB-Iker-Delicado_2025-02-14.csv
  projects/Iker-USB HUB/src/PCB_PCB_USB-Iker-Delicado_2025-02-14.json
  projects/Iker-USB HUB/src/SCH_USB-Iker-Delicado_2025-02-14.json
Labels: Submission, Pegoku USB hub Workshop

#1587 Revaluation Board 2
  projects/huricane-v1/README.md
  projects/huricane-v1/cart.png
  projects/huricane-v1/gerber.zip
  projects/huricane-v1/schematic.pdf
  projects/huricane-v1/src/layout_board.kicad_pcb
  projects/huricane-v1/src/layout_board.kicad_pro
Labels: Submission

#1530 BoardOfDavid
  projects/BoardOfDavid/Readme.md
  projects/BoardOfDavid/cart.png
  projects/BoardOfDavid/gerber.zip
  projects/BoardOfDavid/schematic.pdf
  projects/BoardOfDavid/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/BoardOfDavid/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1531 Bunny-PCB
  projects/Bunny-PCB/Readme.md
  projects/Bunny-PCB/cart.png
  projects/Bunny-PCB/gerber.zip
  projects/Bunny-PCB/schematic.pdf
  projects/Bunny-PCB/src/PCB_PCB_555-Circuit_2025-03-12.json
  projects/Bunny-PCB/src/SCH_555-Circuit_2025-03-12.json
Labels: Submission, CCA

#1538 Matthew_Coward's_Pull_Request_For_Grant
  projects/MC Blade Grant Request/Readme.md
  projects/MC Blade Grant Request/cart.png
  projects/MC Blade Grant Request/gerber.zip
  projects/MC Blade Grant Request/schematic.pdf
  projects/MC Blade Grant Request/src/PCB_PCB_555-pickaxe_2_2025-03-12.json
  projects/MC Blade Grant Request/src/SCH_555-pickaxe_2025-03-12.json
Labels: Submission, CCA

#1542 RGTestBoard
  projects/RGengitiTestBoard/Readme.md
  projects/RGengitiTestBoard/cart.png
  projects/RGengitiTestBoard/gerber.zip
  projects/RGengitiTestBoard/schematic.pdf
  projects/RGengitiTestBoard/src/PCB_PCB_roni555_2025-03-13.json
  projects/RGengitiTestBoard/src/SCH_roni555_2025-03-13.json
Labels: Submission, CCA

#1537 TheoPCB
  projects/JCBTestBoardTheo/Readme.md
  projects/JCBTestBoardTheo/cart.png
  projects/JCBTestBoardTheo/gerber.zip
  projects/JCBTestBoardTheo/schematic.pdf
  projects/JCBTestBoardTheo/src/PCB_mapleleaf_2025-03-11.json
  projects/JCBTestBoardTheo/src/SCH_555-Circuit_2025-03-11.json
Labels: CCA

#1580 Lucas pcb
  projects/Lucas-USB-Hub/LUCAS PERELLÓ BAGUR-20250320T104534Z-001.zip
  projects/Lucas-USB-Hub/README.md
  projects/Lucas-USB-Hub/cart.png
  projects/Lucas-USB-Hub/gerber.zip
  projects/Lucas-USB-Hub/schematic.pdf
  projects/Lucas-USB-Hub/src/BOM_UD-05-PCB-design-Lucas-Perello_2025-02-13.csv
  projects/Lucas-USB-Hub/src/PCB_PCB_UD-05-PCB-design-Lucas-Perello_2_2025-02-13.json
  projects/Lucas-USB-Hub/src/SCH_UD-05-PCB-design-Lucas-Perello_2025-02-13.json
Labels: Submission, Pegoku USB hub Workshop

#1584 Bruno PCB
  projects/Bruno-USBHub/README.md
  projects/Bruno-USBHub/cart.png
  projects/Bruno-USBHub/gerber.zip
  projects/Bruno-USBHub/schematic.pdf
  projects/Bruno-USBHub/src/BOM_Placa-PCB_2025-02-13.csv
  projects/Bruno-USBHub/src/PCB_PCB_Placa-PCB_2025-02-13.json
  projects/Bruno-USBHub/src/SCH_Placa-PCB_2025-02-13.json
Labels: Submission, Pegoku USB hub Workshop

#1579 Marc PCB
  projects/Marc-USBHub/MARC CALDAS GARRIDO/BOM_New-Project_2025-02-20.csv
  projects/Marc-USBHub/MARC CALDAS GARRIDO/PickAndPlace_PCB_New-Project_2025-02-20.csv
  projects/Marc-USBHub/MARC CALDAS GARRIDO/README.md
  projects/Marc-USBHub/MARC CALDAS GARRIDO/cart.png
  projects/Marc-USBHub/MARC CALDAS GARRIDO/gerber.zip
  projects/Marc-USBHub/MARC CALDAS GARRIDO/readme.md.docx
  projects/Marc-USBHub/MARC CALDAS GARRIDO/schematic.pdf
  projects/Marc-USBHub/MARC CALDAS GARRIDO/src/pcb.json
  projects/Marc-USBHub/MARC CALDAS GARRIDO/src/schematic.json
Labels: Submission, Pegoku USB hub Workshop

#1578 Antonio PCB
  projects/Antonio-USB HUB/BOM_proyecto-mme_Antonio-Martinez_2025-03-06.csv
  projects/Antonio-USB HUB/README.md
  projects/Antonio-USB HUB/cart.png
  projects/Antonio-USB HUB/gerber.zip
  projects/Antonio-USB HUB/schematic.pdf
  projects/Antonio-USB HUB/src/PCB_PCB_proyecto-mme_Antonio-Martinez_2025-03-06.json
  projects/Antonio-USB HUB/src/SCH_proyecto-mme_Antonio-Martinez_2025-03-06.json
Labels: Submission, Pegoku USB hub Workshop

#1577 Brais PCB
  projects/Brais - USB HUB/BOM_HUB-CLASE_2025-02-13.csv
  projects/Brais - USB HUB/README.md
  projects/Brais - USB HUB/cart.png
  projects/Brais - USB HUB/gerber.zip
  projects/Brais - USB HUB/schematic.pdf
  projects/Brais - USB HUB/src/PCB_PCB_HUB-CLASE_2025-02-13.json
  projects/Brais - USB HUB/src/SCH_HUB-CLASE_2025-02-13.json
Labels: Submission, Pegoku USB hub Workshop

#1575 Alejandra PCB
  projects/Alejandra-USBHub/ALEJANDRA MOYA ZAMORA-20250320T104146Z-001.zip
  projects/Alejandra-USBHub/BOM_Hub-UDB_2025-02-07.csv
  projects/Alejandra-USBHub/README.md
  projects/Alejandra-USBHub/cart.png
  projects/Alejandra-USBHub/gerber.zip
  projects/Alejandra-USBHub/schematic.pdf
  projects/Alejandra-USBHub/src/PCB_PCB_Hub-UDB_2025-02-06.json
  projects/Alejandra-USBHub/src/SCH_Hub-UDB_2025-02-06.json
Labels: Submission, Pegoku USB hub Workshop
