Repository hackclub/OnBoard, pull requests merged in 2025-05, with the labels that each got.

#1738 Onboard ended
  README.md
Labels: Dev

#1739 fix
  README.md
Labels: Dev

#1740 fix (#1739)
  README.md
Labels: Dev

#1745 Create README.md
  projects/Neha NFC Card/README.md
  projects/Neha NFC Card/cart.png
  projects/Neha NFC Card/gerber.zip
  projects/Neha NFC Card/schematic.pdf
  projects/Neha NFC Card/src/.gitkeep
  projects/Neha NFC Card/src/pcb.json
  projects/Neha NFC Card/src/schematic.json
Labels: Submission

#1733 ODOMETER!!!!!!!!
  projects/Odometer/Gerber_PCB1_2025-04-28.zip
  projects/Odometer/README.md
  projects/Odometer/cart.png
  projects/Odometer/gerber.zip
  projects/Odometer/schematic.pdf
  projects/Odometer/src/SCH.ODO_2025-04-28 (1).json
  projects/Odometer/src/SCH_ODO_2025-04-28.json
  projects/Odometer/src/scrPCB_ODO-Board1-PCB1.pcbdoc_2025-04-28.json
Labels: Submission

#1744 Add Icepi zero
  projects/onboard-live-icepi-zero/LICENSE
  projects/onboard-live-icepi-zero/README.md
  projects/onboard-live-icepi-zero/cart.png
  projects/onboard-live-icepi-zero/gerber.zip
  projects/onboard-live-icepi-zero/schematic.pdf
  projects/onboard-live-icepi-zero/src/ecp5.kicad_sch
  projects/onboard-live-icepi-zero/src/fabrication-toolkit-options.json
  projects/onboard-live-icepi-zero/src/flash.kicad_sch
  projects/onboard-live-icepi-zero/src/fp-info-cache
  projects/onboard-live-icepi-zero/src/fp-lib-table
  projects/onboard-live-icepi-zero/src/fpga.kicad_sch
  projects/onboard-live-icepi-zero/src/gpio.kicad_sch
  projects/onboard-live-icepi-zero/src/icepi-zero.kicad_dru
  projects/onboard-live-icepi-zero/src/icepi-zero.kicad_pcb
  projects/onboard-live-icepi-zero/src/icepi-zero.kicad_prl
  projects/onboard-live-icepi-zero/src/icepi-zero.kicad_pro
  projects/onboard-live-icepi-zero/src/icepi-zero.kicad_sch
  projects/onboard-live-icepi-zero/src/power.kicad_sch
  projects/onboard-live-icepi-zero/src/sdram.kicad_sch
  projects/onboard-live-icepi-zero/src/sym-lib-table
  projects/onboard-live-icepi-zero/src/untitled.kicad_sch
  projects/onboard-live-icepi-zero/src/usb.kicad_sch
  projects/onboard-live-icepi-zero/src/wifi.kicad_sch
Labels: Submission, OnBoard Live

#1729 Business Card Thingy
  projects/Artys Business Card/README.md
  projects/Artys Business Card/cart.png
  projects/Artys Business Card/gerber.zip
  projects/Artys Business Card/schematic.pdf
  projects/Artys Business Card/src/dummy
  projects/Artys Business Card/src/pcb.json
  projects/Artys Business Card/src/schematic.json
Labels: Submission

#1748 Smart Ring
  projects/ChiragSmartRing/README.md
  projects/ChiragSmartRing/cart.png
  projects/ChiragSmartRing/gerber.zip
  projects/ChiragSmartRing/schematic.pdf
  projects/ChiragSmartRing/src/smart_ringfinal_layout.kicad_pcb
  projects/ChiragSmartRing/src/smart_ringfinal_schematic.kicad_sch
Labels: Submission

#1731 Herculus Bat C HUB
  projects/Herculus_C_HUB/cart.png
  projects/Herculus_C_HUB/gerber.zip
  projects/Herculus_C_HUB/readme.md
  projects/Herculus_C_HUB/schematic.pdf
  projects/Herculus_C_HUB/src/OBJ_PCB_USB_HUB_5_2025-04-28.zip
  projects/Herculus_C_HUB/src/PCB_PCB_USB_HUB_5_2025-04-28.json
  projects/Herculus_C_HUB/src/SCH_USB_HUB_2025-04-28.json
Labels: Submission

#1742 Miku NFC Key Chain
  projects/miku-nfc/README.md
  projects/miku-nfc/cart.png
  projects/miku-nfc/gerber.zip
  projects/miku-nfc/schematic.pdf
  projects/miku-nfc/src/pcb.json
  projects/miku-nfc/src/schematic.json
Labels: Submission

#1730 submit esp-streamer
  projects/esp-streamer/README.md
  projects/esp-streamer/cart.png
  projects/esp-streamer/gerber.zip
  projects/esp-streamer/schematic.pdf
  projects/esp-streamer/src/3D.zip
  projects/esp-streamer/src/esp-streamer-pcb.epro
  projects/esp-streamer/src/esp-streamer-schematics.epro
  projects/esp-streamer/src/file
Labels: Submission

#1735 Ultra USB Hub
  projects/ultra_usb_hub/README.md
  projects/ultra_usb_hub/cart.png
  projects/ultra_usb_hub/gerber.zip
  projects/ultra_usb_hub/schematic.pdf
  projects/ultra_usb_hub/src/pcb.json
  projects/ultra_usb_hub/src/schematic.json
Labels: Submission
