Repository hackclub/OnBoard, pull requests merged in 2025-04, with the labels that each got.

#1594 PRANAVHACKERCARD
  projects/PRANAVHACKERCARD/README.md
  projects/PRANAVHACKERCARD/cart.png
  projects/PRANAVHACKERCARD/gerber.zip
  projects/PRANAVHACKERCARD/schematic.pdf
  projects/PRANAVHACKERCARD/src/pcb.json
  projects/PRANAVHACKERCARD/src/schematic.json
Labels: Submission

#1598 Samannoy's NFC Card
  projects/Samannoy's_Card/README.md
  projects/Samannoy's_Card/cart.png
  projects/Samannoy's_Card/gerber.zip
  projects/Samannoy's_Card/schematic.pdf
  projects/Samannoy's_Card/src/pcb.json
  projects/Samannoy's_Card/src/schematic.json
Labels: Submission

#1592 Electronic Trash Onboard Grant SahilD 2.0
  projects/trash_sahil/README.md
  projects/trash_sahil/cart.png
  projects/trash_sahil/gerber.zip
  projects/trash_sahil/schematic.pdf
  projects/trash_sahil/src/pcb.json
  projects/trash_sahil/src/schematic.json
Labels: Submission, no HCB needed

#1596 Create README.md
  projects/ASTRO - Home Automation/README.md
  projects/ASTRO - Home Automation/cart.png
  projects/ASTRO - Home Automation/gerber.zip
  projects/ASTRO - Home Automation/schematic.pdf
  projects/ASTRO - Home Automation/src/PCB_Astro_2025-03-31.json
  projects/ASTRO - Home Automation/src/SCH_HOME-AUTOMATION_2025-03-31.json
Labels: Submission

#1570 Eneko PCB
  projects/Eneko_USB/BOM_usb-eneko_2025-03-20.csv
  projects/Eneko_USB/PCB_PCB_usb-eneko_2025-03-20.pdf
  projects/Eneko_USB/README.md
  projects/Eneko_USB/cart.png
  projects/Eneko_USB/gerber.zip
  projects/Eneko_USB/schematic.pdf
  projects/Eneko_USB/src/PCB_PCB_usb-eneko_2025-04-03.json
  projects/Eneko_USB/src/SCH_usb-eneko_2025-04-03.json
Labels: Submission, Pegoku USB hub Workshop

#1548 oscar pcb
  projects/USB-HUB-OSCAR-BORRAS/README.md
  projects/USB-HUB-OSCAR-BORRAS/Readme.docx
  projects/USB-HUB-OSCAR-BORRAS/cart.png
  projects/USB-HUB-OSCAR-BORRAS/gerber.zip
  projects/USB-HUB-OSCAR-BORRAS/schematic.pdf
  projects/USB-HUB-OSCAR-BORRAS/src/PCB_PCB_PCB-1_2025-02-13.json
  projects/USB-HUB-OSCAR-BORRAS/src/SCH_PCB-1_2025-02-13.json
Labels: Submission, Pegoku USB hub Workshop

#1603 Ivan M usb hub
  projects/Ivan_Muñoz_Hub_USB/README.md
  projects/Ivan_Muñoz_Hub_USB/cart.png
  projects/Ivan_Muñoz_Hub_USB/gerber.zip
  projects/Ivan_Muñoz_Hub_USB/schematic.pdf
  projects/Ivan_Muñoz_Hub_USB/src/PCB_PCB_HUB-USB_2025-02-13.json
  projects/Ivan_Muñoz_Hub_USB/src/SCH_HUB-USB_2025-02-13.json
Labels: Submission, Pegoku USB hub Workshop

#1581 yes
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER-20250321T092834Z-001.zip
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/README.md
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/cart.png
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/gerber.zip
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/schematic.pdf
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/src/BOM_usb-usb_2025-03-21.csv
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/src/PCB_PCB_usb-usb_2025-03-20.json
  projects/Pau-Gomila-hubusb/PAU GOMILA BARBER/src/SCH_usb-usb_2025-03-20.json
Labels: Submission, Pegoku USB hub Workshop

#1604 Placa
  projects/ARIS KRYSAK TOMAS/BOM_USB_Aris_2025-03-20.csv
  projects/ARIS KRYSAK TOMAS/cart.png
  projects/ARIS KRYSAK TOMAS/gerber.zip
  projects/ARIS KRYSAK TOMAS/readme.md
  projects/ARIS KRYSAK TOMAS/schematic.pdf
  projects/ARIS KRYSAK TOMAS/src/PCB_PCB_USB_Aris_2025-03-20.json
  projects/ARIS KRYSAK TOMAS/src/SCH_USB_Aris_2025-03-20.json
Labels: Submission, Pegoku USB hub Workshop

#1553 Create Readme.md
  projects/Dragon_board/Readme.md
  projects/Dragon_board/cart.png
  projects/Dragon_board/gerber.zip
  projects/Dragon_board/schematic.pdf
  projects/Dragon_board/src/PCB_PCB_555-Circuit_2025-03-26 (1).json
  projects/Dragon_board/src/SCH_555-Circuit_2025-03-26.json
Labels: Submission

#1582 Alejandro PCB
  projects/Alejandro-USBHub/README.md
  projects/Alejandro-USBHub/cart.png
  projects/Alejandro-USBHub/gerber.zip
  projects/Alejandro-USBHub/schematic.pdf
  projects/Alejandro-USBHub/src/BOM_Proyecto-1_2025-02-20.csv
  projects/Alejandro-USBHub/src/PCB_PCB_Proyecto-1_2025-03-27.json
  projects/Alejandro-USBHub/src/PickAndPlace_PCB_Proyecto-1_2025-02-20.csv
  projects/Alejandro-USBHub/src/SCH_Proyecto-1_2025-03-27.json
Labels: Submission, Hold, Pegoku USB hub Workshop

#1609 Smart Kitchen Timer
  projects/smartTimer/README.md
  projects/smartTimer/cart.png
  projects/smartTimer/gerber.zip
  projects/smartTimer/schematic.pdf
  projects/smartTimer/src/alarm.kicad_pcb
  projects/smartTimer/src/alarm.kicad_pro
  projects/smartTimer/src/alarm.kicad_sch
Labels: Submission

#1605 JordiPCB-USB-HUB
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/BOM_DisenyPCB-Jordi_2025-02-20.csv
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/PickAndPlace_PCB_DisenyPCB-Jordi_2025-02-20.csv
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/README.md
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/cart.png
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/gerber.zip
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/schematic.pdf
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/src/PCB_PCB_DisenyPCB-Jordi_2025-02-20.json
  projects/Jordi_USBHub/JORDI MELIÁ CARRERAS/src/SCH_DisenyPCB-Jordi_2025-02-20.json
Labels: Submission, Pegoku USB hub Workshop

#1613 Uwustatus
  projects/UwUstatus/README.md
  projects/UwUstatus/cart.png
  projects/UwUstatus/gerber.zip
  projects/UwUstatus/schematic.pdf
  projects/UwUstatus/src/UwUstatus.kicad_pcb
  projects/UwUstatus/src/UwUstatus.kicad_prl
  projects/UwUstatus/src/UwUstatus.kicad_pro
  projects/UwUstatus/src/UwUstatus.kicad_sch
Labels: Submission

#1608 Charizard USB Hub + LED and buzzer
  projects/01Sahil's USB_HUB/README.md
  projects/01Sahil's USB_HUB/cart.png
  projects/01Sahil's USB_HUB/gerber.zip
  projects/01Sahil's USB_HUB/schematic.pdf
  projects/01Sahil's USB_HUB/src/pcb.json
  projects/01Sahil's USB_HUB/src/sch.json
Labels: Submission

#1502 HeatingBedPCB for 3d printers
  projects/HeatingBedPCB/README.md
  projects/HeatingBedPCB/cart.png
  projects/HeatingBedPCB/gerber.zip
  projects/HeatingBedPCB/schematic.pdf
  projects/HeatingBedPCB/src/main.kicad_pcb
  projects/HeatingBedPCB/src/main.kicad_prl
  projects/HeatingBedPCB/src/main.kicad_pro
  projects/HeatingBedPCB/src/main.kicad_sch
  projects/HeatingBedPCB/src/placeholder.md
Labels: Submission, OnBoard Live

#1501 Onboard-Live ESP32 Devkit
  projects/ESP32 Devkit/README.md
  projects/ESP32 Devkit/cart.png
  projects/ESP32 Devkit/gerber.zip
  projects/ESP32 Devkit/schematic.pdf
  projects/ESP32 Devkit/src/ESP32 DevKit.kicad_pcb
  projects/ESP32 Devkit/src/ESP32 DevKit.kicad_pro
  projects/ESP32 Devkit/src/ESP32 DevKit.kicad_sch
Labels: Submission, OnBoard Live

#1618 LineFollowingRobot PCB request
  projects/LineFollowingPBC/README.md
  projects/LineFollowingPBC/cart.png
  projects/LineFollowingPBC/gerber.zip
  projects/LineFollowingPBC/schematic.pdf
  projects/LineFollowingPBC/src/1-PCB_PCB_Line Following_3.json
  projects/LineFollowingPBC/src/1-Schematic_Line Following.json
  projects/LineFollowingPBC/src/2-PCB_PCB outline.json
  projects/LineFollowingPBC/src/3-PCB_PCB_Line Following.json
  projects/LineFollowingPBC/src/4-PCB_Defult template.json
  projects/LineFollowingPBC/src/5-PCB_The ACtual project!!!.json
  projects/LineFollowingPBC/src/README.txt
  projects/LineFollowingRobot
Labels: Submission

#1526 Beckett Project
  projects/BeckettProject/Readme.md
  projects/BeckettProject/cart.png
  projects/BeckettProject/gerber.zip
  projects/BeckettProject/schematic.pdf
  projects/BeckettProject/src/PCB.json
  projects/BeckettProject/src/Schematic.json
Labels: Submission, CCA

#1620 usb-hub
  projects/usb-hub/cart.png
  projects/usb-hub/gerber.zip
  projects/usb-hub/readme.md
  projects/usb-hub/schematic.pdf
  projects/usb-hub/src/PCB.json
  projects/usb-hub/src/SCH.json
Labels: Submission

#1623 Martincard
  projects/Martincard/cart.png
  projects/Martincard/gerber.zip
  projects/Martincard/readme.md
  projects/Martincard/schematic.pdf
  projects/Martincard/src/PCB.json
  projects/Martincard/src/SCH.json
Labels: Submission, no HCB needed

#1607 Gustavo Tecchio
  projects/sans_hub/README.md
  projects/sans_hub/cart.png
  projects/sans_hub/gerber.zip
  projects/sans_hub/schematic.pdf
  projects/sans_hub/src/pcb.json
  projects/sans_hub/src/schematic.json
Labels: Submission, Pegoku USB hub Workshop

#1626 Isobel's USB Hub
  projects/Isobel's USB Hub/README.md
  projects/Isobel's USB Hub/cart.png
  projects/Isobel's USB Hub/gerber.zip
  projects/Isobel's USB Hub/schematic.pdf
  projects/Isobel's USB Hub/src/PCB_PCB_USB-Converter_2025-04-09.json
  projects/Isobel's USB Hub/src/SCH_USB-Converter_2025-04-09.json
Labels: Submission

#1625 Submitting USB Hub
  projects/USB Hub/README.md
  projects/USB Hub/cart.png
  projects/USB Hub/gerber.zip
  projects/USB Hub/schematic.pdf
  projects/USB Hub/src/PCB_PCB_USB-Hub-with-audio-card_2025-04-09 (1).json
  projects/USB Hub/src/SCH_USB-Hub-with-audio-card_2025-04-09 (1).json
Labels: Submission

#1624 Create README.md
  projects/Simon'sCard/README.md
  projects/Simon'sCard/cart.png
  projects/Simon'sCard/gerber.zip
  projects/Simon'sCard/schematic.pdf
  projects/Simon'sCard/src/pcb.json
  projects/Simon'sCard/src/schematic.json
Labels: Submission

#1627 Add KittyCat's Hacker Card
  projects/KittyCat's Hacker Card/README.md
  projects/KittyCat's Hacker Card/cart.png
  projects/KittyCat's Hacker Card/gerber.zip
  projects/KittyCat's Hacker Card/schematic.pdf
  projects/KittyCat's Hacker Card/src/pcb.json
  projects/KittyCat's Hacker Card/src/schematic.json
Labels: Submission

#1628 Space Hackercard
  projects/SPACE_BOARD/README.md
  projects/SPACE_BOARD/cart.png
  projects/SPACE_BOARD/gerber.zip
  projects/SPACE_BOARD/schematic.pdf
  projects/SPACE_BOARD/src/ProPrj_hackercard_2025-04-09.epro
Labels: Submission

#1630 Submitting Hacker Card
  projects/Hasnat's Hacker Card/README.md
  projects/Hasnat's Hacker Card/cart.png
  projects/Hasnat's Hacker Card/gerber.zip
  projects/Hasnat's Hacker Card/schematic.pdf
  projects/Hasnat's Hacker Card/src/PCB_PCB_Hacker-Card-Sigma_2025-04-10.json
  projects/Hasnat's Hacker Card/src/SCH_Hacker-Card-Sigma_2025-04-10.json
Labels: Submission

#1421 Rift Rumble Onboard Grant
  projects/rift_rumble/README.md
  projects/rift_rumble/cart.png
  projects/rift_rumble/gerber.zip
  projects/rift_rumble/schematic.pdf
  projects/rift_rumble/src/pcb.json
  projects/rift_rumble/src/schematic.json
Labels: Submission

#1629 David PCB
  projects/David-USBHub/BOM_HUB-USB_2025-02-07.csv
  projects/David-USBHub/README.md
  projects/David-USBHub/cart.png
  projects/David-USBHub/gerber.zip
  projects/David-USBHub/schematic.pdf
  projects/David-USBHub/src/PCB_PCB_HUB-USB_2025-02-06.json
  projects/David-USBHub/src/SCH_HUB-USB_2025-02-06.json
Labels: Submission, Pegoku USB hub Workshop

#1636 Add "superflat" - a PG1316 ultrathin keyboard
  projects/superflat/README.md
  projects/superflat/cart.png
  projects/superflat/gerber.zip
  projects/superflat/schematic.pdf
  projects/superflat/src/custom-syms.pretty/Slide.kicad_mod
  projects/superflat/src/fabrication-toolkit-options.json
  projects/superflat/src/fp-info-cache
  projects/superflat/src/fp-lib-table
  projects/superflat/src/superflat.kicad_pcb
  projects/superflat/src/superflat.kicad_prl
  projects/superflat/src/superflat.kicad_pro
  projects/superflat/src/superflat.kicad_sch
Labels: Submission

#1631 Added Project Files
  projects/hackercard_regex/README.md
  projects/hackercard_regex/cart.png
  projects/hackercard_regex/gerber.zip
  projects/hackercard_regex/schematic.pdf
  projects/hackercard_regex/src/pcb.json
  projects/hackercard_regex/src/schematic.json
Labels: Submission

#1632 Cupcake Hacker Card
  projects/01Sahils Cupcake_Hacker_Card/README.md
  projects/01Sahils Cupcake_Hacker_Card/cart.png
  projects/01Sahils Cupcake_Hacker_Card/gerber.zip
  projects/01Sahils Cupcake_Hacker_Card/schematic.pdf
  projects/01Sahils Cupcake_Hacker_Card/src/pcb.json
  projects/01Sahils Cupcake_Hacker_Card/src/schematic.json
Labels: Submission

#1633 Jayson's IOT Hub
  projects/Jayson's IOT Hub/README.md
  projects/Jayson's IOT Hub/cart.png
  projects/Jayson's IOT Hub/gerber.zip
  projects/Jayson's IOT Hub/schematic.pdf
  projects/Jayson's IOT Hub/src/Untitled.kicad_pcb
  projects/Jayson's IOT Hub/src/Untitled.kicad_pro
  projects/Jayson's IOT Hub/src/Untitled.kicad_sch
Labels: Submission, PixelDust

#1641 Add my USB(C) hub
  projects/Cyteon's USBC Hub/README.md
  projects/Cyteon's USBC Hub/cart.png
  projects/Cyteon's USBC Hub/gerber.zip
  projects/Cyteon's USBC Hub/schematic.pdf
  projects/Cyteon's USBC Hub/src/3D_PCB1_2025-04-12.zip
  projects/Cyteon's USBC Hub/src/P1.esch
  projects/Cyteon's USBC Hub/src/PCB1.epcb
  projects/Cyteon's USBC Hub/src/ProPrj_USBC Hub_2025-04-12.epro
Labels: Submission

#1643 Add Irtaza's Hacker Card
  projects/Irtaza's_Card/README.md
  projects/Irtaza's_Card/cart.png
  projects/Irtaza's_Card/gerber.zip
  projects/Irtaza's_Card/schematic.pdf
  projects/Irtaza's_Card/src/3d-model.zip
  projects/Irtaza's_Card/src/pcb.json
  projects/Irtaza's_Card/src/schematic.json
Labels: Submission

#1644 Add Berni's Hackercard
  projects/Berni_hackercard/README.MD
  projects/Berni_hackercard/cart.png
  projects/Berni_hackercard/gerber.zip
  projects/Berni_hackercard/schematic.pdf
  projects/Berni_hackercard/src/businesscard.kicad_pcb
  projects/Berni_hackercard/src/businesscard.kicad_prl
  projects/Berni_hackercard/src/businesscard.kicad_pro
  projects/Berni_hackercard/src/businesscard.kicad_sch
Labels: Submission

#1560 pcb.buisnesscard
  projects/PCB.buisnesscard/Gerber_Hackclub-nfc-buisness-card_PCB_Hackclub-nfc-buisness-card_2025-03-23.zip
  projects/PCB.buisnesscard/JLCPCB.png
  projects/PCB.buisnesscard/README.md
  projects/PCB.buisnesscard/cart.png
  projects/PCB.buisnesscard/gerber.zip
  projects/PCB.buisnesscard/schematic.pdf
  projects/PCB.buisnesscard/src/PCB_PCB_Hackclub-nfc-buisness-card_2025-03-30.json
  projects/PCB.buisnesscard/src/SCH_Hackclub-nfc-buisness-card_2025-03-30.json
Labels: Submission

#1649 Typo in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Dev

#1426 Add "USTree-Hub" board.
  projects/US-Tree Hub/README.md
  projects/US-Tree Hub/cart.png
  projects/US-Tree Hub/gerber.zip
  projects/US-Tree Hub/schematic.pdf
  projects/US-Tree Hub/src/PCB_PCB_USB-Hub_2025-03-01.json
  projects/US-Tree Hub/src/SCH_USB-Hub_2025-03-01.json
Labels: Submission, Hacky Holidays

#1654 RP2040 Bare Board
  projects/RP2040_BareBoard/README.md
  projects/RP2040_BareBoard/cart.png
  projects/RP2040_BareBoard/gerber.zip
  projects/RP2040_BareBoard/schematic.pdf
  projects/RP2040_BareBoard/src/EasyEDAProProject.epro
Labels: Submission

#1647 Seeed Studio XIAO ESP32-S3 Accessory Board
  projects/krunch-wio1262-accessory-board/README.md
  projects/krunch-wio1262-accessory-board/cart.png
  projects/krunch-wio1262-accessory-board/gerber.zip
  projects/krunch-wio1262-accessory-board/schematic.pdf
  projects/krunch-wio1262-accessory-board/src/TRACED-wio1262-carrier.kicad_pcb
  projects/krunch-wio1262-accessory-board/src/TRACED-wio1262-carrier.kicad_prl
  projects/krunch-wio1262-accessory-board/src/TRACED-wio1262-carrier.kicad_pro
  projects/krunch-wio1262-accessory-board/src/TRACED-wio1262-carrier.kicad_sch
Labels: Submission

#1635 Programmer6s HackerCard
  projects/Delroy HackerCard/PCB.pdf
  projects/Delroy HackerCard/README.md
  projects/Delroy HackerCard/cart.png
  projects/Delroy HackerCard/gerber.zip
  projects/Delroy HackerCard/schematic.pdf
  projects/Delroy HackerCard/src/pcb.json
  projects/Delroy HackerCard/src/sch.json
Labels: Submission

#1642 Added Shibam's hacker card
  projects/Shibams-hacker-card/README.md
  projects/Shibams-hacker-card/cart.png
  projects/Shibams-hacker-card/gerber.zip
  projects/Shibams-hacker-card/schematic.pdf
  projects/Shibams-hacker-card/src/PCB.json
  projects/Shibams-hacker-card/src/schematic.json
Labels: Submission

#1664 krunch's PCB hacker card
  projects/krunch-pcb-hackercard/README.md
  projects/krunch-pcb-hackercard/cart.png
  projects/krunch-pcb-hackercard/gerber.zip
  projects/krunch-pcb-hackercard/schematic.pdf
  projects/krunch-pcb-hackercard/src/PCB_PCB_hacker-card_2025-04-14.json
  projects/krunch-pcb-hackercard/src/SCH_hacker-card_2025-04-14.json
Labels: Submission

#1667 Add my usb hub
  projects/hridya_usbhub/README.md
  projects/hridya_usbhub/cart.png
  projects/hridya_usbhub/gerber.zip
  projects/hridya_usbhub/schematic.pdf
  projects/hridya_usbhub/src/pcb.json
  projects/hridya_usbhub/src/sch.json
Labels: Submission

#1640 Add Wolf's megapad
  projects/Wolf's megapad/README.md
  projects/Wolf's megapad/cart.png
  projects/Wolf's megapad/gerber.zip
  projects/Wolf's megapad/schematic.pdf
  projects/Wolf's megapad/src/megapad.kicad_pcb
  projects/Wolf's megapad/src/megapad.kicad_pro
  projects/Wolf's megapad/src/megapad.kicad_sch
Labels: Submission

#1650 Add Irtaza's USB-Hub
  projects/Irtaza's USB-Hub/README.md
  projects/Irtaza's USB-Hub/cart.png
  projects/Irtaza's USB-Hub/gerber.zip
  projects/Irtaza's USB-Hub/schematic.pdf
  projects/Irtaza's USB-Hub/src/3d-model.zip
  projects/Irtaza's USB-Hub/src/pcb.json
  projects/Irtaza's USB-Hub/src/schematic.json
Labels: Submission

#1619 NFC RING
  projects/NFC RING/README.md
  projects/NFC RING/cart.png
  projects/NFC RING/gerber.zip
  projects/NFC RING/schematic.pdf
  projects/NFC RING/src/PCB_PCB_nfc_ing_2_2025-04-12.json
  projects/NFC RING/src/SCH_nfc_ing_2025-04-12.json
  projects/hackercard_CodeSaksham/README.md
  projects/hackercard_CodeSaksham/cart.png
  projects/hackercard_CodeSaksham/gerber.zip
  projects/hackercard_CodeSaksham/src/PCB_PCB_hack-card_2_2024-04-07.json
  projects/hackercard_CodeSaksham/src/SCH_hack-card_2024-04-07.json
Labels: Submission

#1498 Siri's OnBoard Grant
  projects/sirishackercard/README.md
  projects/sirishackercard/cart.png
  projects/sirishackercard/gerber.zip
  projects/sirishackercard/schematic.pdf
Labels: Submission

#1678 Add qwiicbar
  projects/qwiicbar/README.md
  projects/qwiicbar/bom.csv
  projects/qwiicbar/cart.png
  projects/qwiicbar/gerber.zip
  projects/qwiicbar/positions.csv
  projects/qwiicbar/schematic.pdf
  projects/qwiicbar/src/qwiicbar.kicad_pcb
  projects/qwiicbar/src/qwiicbar.kicad_prl
  projects/qwiicbar/src/qwiicbar.kicad_pro
  projects/qwiicbar/src/qwiicbar.kicad_sch
Labels: Submission

#1675 Add HackerLamp
  projects/HackerLamp/README.md
  projects/HackerLamp/cart.png
  projects/HackerLamp/gerber.zip
  projects/HackerLamp/schematic.pdf
  projects/HackerLamp/src/Lamp.kicad_pcb
  projects/HackerLamp/src/Lamp.kicad_pro
  projects/HackerLamp/src/Lamp.kicad_sch
Labels: Submission

#1551 Hacker Card
  projects/Hacker_Card/README.md
  projects/Hacker_Card/cart.png
  projects/Hacker_Card/gerber.zip
  projects/Hacker_Card/schematic.pdf
  projects/Hacker_Card/src/pcb.json
  projects/Hacker_Card/src/schematic.json
Labels: Submission, Stalled

#1669 Create README.md
  projects/manan's-hackercard/README.md
  projects/manan's-hackercard/cart.png
  projects/manan's-hackercard/gerber.zip
  projects/manan's-hackercard/schematic.pdf
  projects/manan's-hackercard/src/PCB_PCB_nfc_card-copy_2025-04-15.json
  projects/manan's-hackercard/src/SCH_nfc_card_2025-04-15.json
Labels: Submission

#1639 Add Skyfall's Hacker Card
  projects/skyfalls-hackercard/README.md
  projects/skyfalls-hackercard/cart.png
  projects/skyfalls-hackercard/gerber.zip
  projects/skyfalls-hackercard/schematic.pdf
  projects/skyfalls-hackercard/src/pcb.json
  projects/skyfalls-hackercard/src/schematics.json
Labels: Submission

#1659 add rezhackxyz's hackkercard
  projects/HackerCard-RezHackXYZ/cart.png
  projects/HackerCard-RezHackXYZ/gerber.zip
  projects/HackerCard-RezHackXYZ/readme.md
  projects/HackerCard-RezHackXYZ/schematic.pdf
  projects/HackerCard-RezHackXYZ/src/pcb.json
  projects/HackerCard-RezHackXYZ/src/schematic.json
Labels: Submission

#1679 07CardPR
  projects/07Card/README.md
  projects/07Card/cart.png
  projects/07Card/gerber.zip
  projects/07Card/schematic.pdf
  projects/07Card/src/pcb.json
  projects/07Card/src/schematic.json
Labels: Submission

#1677 Add Reversible split keyboard
  projects/reversible split keyboard/PCB.png
  projects/reversible split keyboard/README.md
  projects/reversible split keyboard/cart.png
  projects/reversible split keyboard/gerber.zip
  projects/reversible split keyboard/schematic.pdf
  projects/reversible split keyboard/src/reversible.kicad_pcb
  projects/reversible split keyboard/src/reversible.kicad_pro
  projects/reversible split keyboard/src/reversible.kicad_sch
Labels: Submission, Stalled

#1684 Occula Zero Control Board Teensy
  projects/Occula Zero Control Board Teensy/README.md
  projects/Occula Zero Control Board Teensy/cart.png
  projects/Occula Zero Control Board Teensy/gerber.zip
  projects/Occula Zero Control Board Teensy/schematic.pdf
  projects/Occula Zero Control Board Teensy/src/pcb.epro
  projects/Occula Zero Control Board Teensy/src/schematic.epro
Labels: Submission

#1657 MMKF hacker card
  projects/MMKF-hacker-card/README.md
  projects/MMKF-hacker-card/cart.png
  projects/MMKF-hacker-card/gerber.zip
  projects/MMKF-hacker-card/schematic.pdf
  projects/MMKF-hacker-card/src/pcb.json
  projects/MMKF-hacker-card/src/schematic.json
Labels: Submission

#1685 Add MIELESBIENNECARD
  projects/MELESBIENNECARD/README.md
  projects/MELESBIENNECARD/cart.png
  projects/MELESBIENNECARD/gerber.zip
  projects/MELESBIENNECARD/schematic.pdf
  projects/MELESBIENNECARD/src/pcb.json
  projects/MELESBIENNECARD/src/schematic.json
Labels: Submission

#1668 Milan_NFC_card
  projects/hackercard_milan/README.md
  projects/hackercard_milan/cart.png
  projects/hackercard_milan/gerber.zip
  projects/hackercard_milan/schematic.pdf
  projects/hackercard_milan/src/PCB_PCB_NFC-Business-Card_2025-04-14.json
  projects/hackercard_milan/src/SCH_NFC-Business-Card_2025-04-14.json
Labels: Submission

#1682 USB-HUB
  projects/USB-SPLITTER/README.md
  projects/USB-SPLITTER/cart.png
  projects/USB-SPLITTER/gerber.zip
  projects/USB-SPLITTER/schematic.pdf
  projects/USB-SPLITTER/src/pcb.json
  projects/USB-SPLITTER/src/schematic.json
Labels: Submission

#1697 Horizon_Orbit
  projects/Horizon_Orbit/README.md
  projects/Horizon_Orbit/cart.png
  projects/Horizon_Orbit/gerber.zip
  projects/Horizon_Orbit/schematic.pdf
  projects/Horizon_Orbit/src/liamgaerospace-horizen-orbit.flx
Labels: Submission

#1696 Update existing tobydio board
  projects/tobydio/gerber.zip
  projects/tobydio/pcba/BOM-tobydio.csv
  projects/tobydio/pcba/CPL-tobydio.csv
  projects/tobydio/src/tobydio-pub-2.kicad_pcb
  projects/tobydio/src/tobydio.kicad_pcb
  projects/tobydio/src/tobydio.kicad_pro
  projects/tobydio/src/tobydio.kicad_sch
Labels: no HCB needed

#1693 ControlPad
  projects/ControlPad/README.md
  projects/ControlPad/cart.png
  projects/ControlPad/gerber.zip
  projects/ControlPad/schematic.pdf
  projects/ControlPad/src/ProDoc_ControlPad.epro
Labels: Submission

#1687 Owais_school_card
  projects/owais_School/README.md
  projects/owais_School/cart.png
  projects/owais_School/gerber.zip
  projects/owais_School/schematic.pdf
  projects/owais_School/src/pcb.json
  projects/owais_School/src/schematic.json
Labels: Submission

#1699 Dav-Hub
  projects/taav hub/README.md
  projects/taav hub/cart.png
  projects/taav hub/gerber.zip
  projects/taav hub/schematic.pdf
  projects/taav hub/src/pcb.json
  projects/taav hub/src/schem.json
Labels: Submission

#1702 Add uSDReader
  projects/uSDReader/README.md
  projects/uSDReader/cart.png
  projects/uSDReader/gerber.zip
  projects/uSDReader/schematic.pdf
  projects/uSDReader/src/uSDReader.kicad_pcb
  projects/uSDReader/src/uSDReader.kicad_pro
  projects/uSDReader/src/uSDReader.kicad_sch
  projects/uSDReader/src/uSDReader.wrl
Labels: Submission

#1701 Created Yoav Mlotok's project
  projects/Yoav_Mlotok_Business_Card/README.md
  projects/Yoav_Mlotok_Business_Card/cart.png
  projects/Yoav_Mlotok_Business_Card/gerber.zip
  projects/Yoav_Mlotok_Business_Card/schematic.pdf
  projects/Yoav_Mlotok_Business_Card/src/yoav-mlotok-card.epro
Labels: Submission

#1681 protoboard
  projects/protoboard/cart.png
  projects/protoboard/gerber.zip
  projects/protoboard/readme.md
  projects/protoboard/schematic.pdf
  projects/protoboard/src/PCB.json
  projects/protoboard/src/sch.json
Labels: Submission

#1707 Onboard Grant
  projects/esp32-temp-and-humid/cart.png
  projects/esp32-temp-and-humid/gerber.zip
  projects/esp32-temp-and-humid/readme.md
  projects/esp32-temp-and-humid/schematic.pdf
  projects/esp32-temp-and-humid/src/pcb.json
  projects/esp32-temp-and-humid/src/sch.json
Labels: Submission

#1708 title
  projects/tp4056-module/cart.png
  projects/tp4056-module/gerber.zip
  projects/tp4056-module/readme.md
  projects/tp4056-module/schematic.pdf
  projects/tp4056-module/src/pcb.json
  projects/tp4056-module/src/sch.json
Labels: Submission

#1691 Andreas-usb
  projects/Usb-Hub/README.md
  projects/Usb-Hub/cart.png
  projects/Usb-Hub/gerber.zip
  projects/Usb-Hub/schematic.pdf
  projects/Usb-Hub/src/pcb.json
  projects/Usb-Hub/src/sch.json
Labels: Submission

#1703 Add PCB art to use the rest of 5$ in my onboard hcb
  projects/PCB art/README.md
  projects/PCB art/cart.png
  projects/PCB art/gerber.zip
  projects/PCB art/pcb.png
  projects/PCB art/schematic.pdf
  projects/PCB art/src/PCB art.kicad_pcb
  projects/PCB art/src/PCB art.kicad_pro
  projects/PCB art/src/PCB art.kicad_sch
Labels: Submission, no HCB needed

#1712 USB-C
  projects/USB-C/cart.png
  projects/USB-C/gerber.zip
  projects/USB-C/readme.md
  projects/USB-C/schematic.pdf
  projects/USB-C/src/PCB.json
  projects/USB-C/src/SCH.json
Labels: Submission

#1711 SD-Card
  projects/SD-CARD breakour board/cart.png
  projects/SD-CARD breakour board/gerber.zip
  projects/SD-CARD breakour board/readme.md
  projects/SD-CARD breakour board/schematic.pdf
  projects/SD-CARD breakour board/src/Pcb.json
  projects/SD-CARD breakour board/src/Schematic.json
Labels: Submission

#1710 Add "Heart Letter" board
  projects/heart-letter/README.md
  projects/heart-letter/cart.png
  projects/heart-letter/gerber.zip
  projects/heart-letter/schematic.pdf
  projects/heart-letter/src/pcb.json
  projects/heart-letter/src/schematic.json
Labels: Submission

#1716 [No grant needed] Update megapad schematic and gerber files
  projects/Wolf's megapad/gerber.zip
  projects/Wolf's megapad/schematic.pdf
  projects/Wolf's megapad/src/megapad.kicad_pcb
  projects/Wolf's megapad/src/megapad.kicad_pro
  projects/Wolf's megapad/src/megapad.kicad_sch
Labels: Dev

#1652 Update VENDORS.md added elecrow pcba service
  docs/VENDORS.md
Labels: Dev

#1722 tanisha_in_space
  projects/tanisha_in_space/cart.png
  projects/tanisha_in_space/gerber.zip
  projects/tanisha_in_space/readme.md
  projects/tanisha_in_space/schematic.pdf
  projects/tanisha_in_space/schematic.png
  projects/tanisha_in_space/src/Vanguard_new.kicad_pcb
  projects/tanisha_in_space/src/Vanguard_new.kicad_pro
  projects/tanisha_in_space/src/Vanguard_new.kicad_sch
Labels: Submission

#1720 fuel_sensor
  projects/fuel_sensor/cart.png
  projects/fuel_sensor/gerber.zip
  projects/fuel_sensor/readme.md
  projects/fuel_sensor/schematic.pdf
  projects/fuel_sensor/src/PCB.json
  projects/fuel_sensor/src/SCH.json
Labels: Submission

#1721 skib
  projects/erina/README.md
  projects/erina/cart.png
  projects/erina/gerber.zip
  projects/erina/schematic.pdf
  projects/erina/src/PCB_PCB_pcb-card_2025-04-23.json
  projects/erina/src/SCH_pcb-card_2025-04-23.json
Labels: Submission

#1718 MemoryBoard
  projects/Memory-Card/cart.png
  projects/Memory-Card/gerber.zip
  projects/Memory-Card/readme.md
  projects/Memory-Card/schematic.pdf
  projects/Memory-Card/src/pcb.json
  projects/Memory-Card/src/sch.json
Labels: Submission

#1719 Onboard PCB macroboard
  projects/m9cropad/cart.png
  projects/m9cropad/gerber.zip
  projects/m9cropad/readme.md
  projects/m9cropad/schematic.pdf
  projects/m9cropad/src/pcb.json
  projects/m9cropad/src/schem.json
Labels: Submission

#1723 Hewis_CArd
  projects/hewis_hacker_card/cart.png
  projects/hewis_hacker_card/gerber.zip
  projects/hewis_hacker_card/readme.md
  projects/hewis_hacker_card/schematic.pdf
  projects/hewis_hacker_card/src/PCB_PCB_Hewis_2025-04-20.json
  projects/hewis_hacker_card/src/SCH_Hewis_2025-04-20.json
Labels: Submission

#1728 odysseymain
  projects/odysseymain/README.md
  projects/odysseymain/cart.png
  projects/odysseymain/gerber.zip
  projects/odysseymain/schematic.pdf
  projects/odysseymain/src/odyssey.kicad_pcb
  projects/odysseymain/src/odyssey.kicad_prl
  projects/odysseymain/src/odyssey.kicad_pro
  projects/odysseymain/src/odyssey.kicad_sch
  projects/odysseymain/src/test.md
Labels: Submission

#1727 Lucy's PCB
  projects/lucypcb/README.md
  projects/lucypcb/cart.png
  projects/lucypcb/gerber.zip
  projects/lucypcb/schematic.pdf
  projects/lucypcb/src/PCB_PCB_website_2025-04-25.json
  projects/lucypcb/src/SCH_website_2025-04-25.json
Labels: Submission

#1704 Max's Charlieplexed Matrix!
  projects/MaxsMatrix/README.md
  projects/MaxsMatrix/cart.png
  projects/MaxsMatrix/gerber.zip
  projects/MaxsMatrix/partscart.png
  projects/MaxsMatrix/schematic.pdf
  projects/MaxsMatrix/src/finalv1.kicad_pcb
  projects/MaxsMatrix/src/finalv1.kicad_pro
  projects/MaxsMatrix/src/finalv1.kicad_sch
Labels: Submission

#1724 e
  projects/UhhhhhBen/README.md
  projects/UhhhhhBen/cart.png
  projects/UhhhhhBen/gerber.zip
  projects/UhhhhhBen/schematic.pdf
  projects/UhhhhhBen/src/PCB_PCB_Uhhhhhhh_2_2025-04-25.json
  projects/UhhhhhBen/src/SCH_Uhhhhhhh_2025-04-25.json
Labels: Submission
