Repository hackclub/OnBoard, pull requests merged in 2025-02, with the labels that each got.

#1446 Add Hacky-Batman
  projects/Hacky-Batman/README.md
  projects/Hacky-Batman/cart.png
  projects/Hacky-Batman/code.ino
  projects/Hacky-Batman/gerber.zip
  projects/Hacky-Batman/schematic.pdf
  projects/Hacky-Batman/src/BOM_HACK-HOLIDAY_2025-01-30.csv
  projects/Hacky-Batman/src/PCB_PCB_HACK-HOLIDAY_2025-01-30.json
  projects/Hacky-Batman/src/PickAndPlace_PCB_HACK-HOLIDAY_2025-01-30.csv
  projects/Hacky-Batman/src/SCH_HACK-HOLIDAY_2025-01-30.json
Labels: Hacky Holidays

#1444 Add HackyHolidays Snowman
  projects/HackHolidays_Snowman/README.md
  projects/HackHolidays_Snowman/cart.png
  projects/HackHolidays_Snowman/gerber.zip
  projects/HackHolidays_Snowman/schematic.pdf
  projects/HackHolidays_Snowman/src/HackyHolidays-top-pos.csv
  projects/HackHolidays_Snowman/src/HackyHolidays.csv
  projects/HackHolidays_Snowman/src/HackyHolidays.kicad_pcb
  projects/HackHolidays_Snowman/src/HackyHolidays.kicad_pro
  projects/HackHolidays_Snowman/src/HackyHolidays.kicad_sch
Labels: Hacky Holidays

#1450 Added Hong Yu
  projects/Hongyu/README.md
  projects/Hongyu/cart.png
  projects/Hongyu/gerber.zip
  projects/Hongyu/schematic.pdf
  projects/Hongyu/src/pcb.json
  projects/Hongyu/src/schematic.json
Labels: Hacky Holidays

#1443 Star - hacky Holidays submission
  projects/STAR-HackyHolidays/README.md
  projects/STAR-HackyHolidays/cart.png
  projects/STAR-HackyHolidays/gerber.zip
  projects/STAR-HackyHolidays/schematic.pdf
  projects/STAR-HackyHolidays/src/BOM(STAR).csv
  projects/STAR-HackyHolidays/src/pcb.json
  projects/STAR-HackyHolidays/src/pick_and_place
  projects/STAR-HackyHolidays/src/schematic.json
Labels: Hacky Holidays

#1448 Lightsaber Ornament, Hacky Holidays
  projects/lightsaber-ornament/README.md
  projects/lightsaber-ornament/cart.png
  projects/lightsaber-ornament/gerber.zip
  projects/lightsaber-ornament/schematic.pdf
  projects/lightsaber-ornament/src/bom.csv
  projects/lightsaber-ornament/src/lightsaber-all-pos.csv
  projects/lightsaber-ornament/src/lightsaber.kicad_pcb
  projects/lightsaber-ornament/src/lightsaber.kicad_pro
  projects/lightsaber-ornament/src/lightsaber.kicad_sch
Labels: Hacky Holidays

#1428 USB-C(hristmas)Hub
  projects/USB-C(hristmas)Hub/README.md
  projects/USB-C(hristmas)Hub/cart.png
  projects/USB-C(hristmas)Hub/gerber.zip
  projects/USB-C(hristmas)Hub/schematic.pdf
  projects/USB-C(hristmas)Hub/src/bom.csv
  projects/USB-C(hristmas)Hub/src/pcb.json
  projects/USB-C(hristmas)Hub/src/positions.csv
  projects/USB-C(hristmas)Hub/src/schematic.json
Labels: Submission, Hacky Holidays

#1365 [Hacky Holidays] River's Fire Decoration
  projects/fire_decoration/README.md
  projects/fire_decoration/cart.png
  projects/fire_decoration/gerber.zip
  projects/fire_decoration/schematic.pdf
  projects/fire_decoration/src/.gitkeep
  projects/fire_decoration/src/bom.csv
  projects/fire_decoration/src/fire_decoration.kicad_pcb
  projects/fire_decoration/src/fire_decoration.kicad_pro
  projects/fire_decoration/src/fire_decoration.kicad_sch
  projects/fire_decoration/src/fire_decoration.wrl
  projects/fire_decoration/src/positions.csv
Labels: Submission, Hacky Holidays

#1384 snowflake
  projects/snowflake/README.md
  projects/snowflake/cart.png
  projects/snowflake/code.ino
  projects/snowflake/gerber.zip
  projects/snowflake/production/backups/snowflake_2024-12-31_20-44-55.zip
  projects/snowflake/production/backups/snowflake_2025-01-01_19-43-06.zip
  projects/snowflake/production/backups/snowflake_2025-01-01_19-43-22.zip
  projects/snowflake/production/backups/snowflake_2025-01-24_10-22-29.zip
  projects/snowflake/production/bom.csv
  projects/snowflake/production/designators.csv
  projects/snowflake/production/gerber.zip
  projects/snowflake/production/netlist.ipc
  projects/snowflake/production/positions.csv
  projects/snowflake/schematic.pdf
  projects/snowflake/src/BOM.csv
  projects/snowflake/src/snowflake.kicad_pcb
  projects/snowflake/src/snowflake.kicad_pro
  projects/snowflake/src/snowflake.kicad_sch
Labels: Submission, Hacky Holidays

#1431 Safvan Rahman NFC Card
  projects/Safvan_NFC_Card/ReadMe.md
  projects/Safvan_NFC_Card/cart.png
  projects/Safvan_NFC_Card/cart_without_coupon.png
  projects/Safvan_NFC_Card/gerber.zip
  projects/Safvan_NFC_Card/schematic.pdf
  projects/Safvan_NFC_Card/src/pcb.json
  projects/Safvan_NFC_Card/src/schematic.json
Labels: Submission

#1481 Add Anay's Hackercard
  projects/anay_hackercard/README.md
  projects/anay_hackercard/cart.png
  projects/anay_hackercard/gerber.zip
  projects/anay_hackercard/img/back.png
  projects/anay_hackercard/img/front.png
  projects/anay_hackercard/schematic.pdf
  projects/anay_hackercard/src/bom.csv
  projects/anay_hackercard/src/pcb.json
  projects/anay_hackercard/src/sch.json
Labels: Submission

#1484 Screaming dino board
  projects/screamingdino/README.md
  projects/screamingdino/cart.png
  projects/screamingdino/gerber.zip
  projects/screamingdino/schematic.pdf
  projects/screamingdino/src/pcb.json
  projects/screamingdino/src/schematic.json
Labels: Submission

#1485 blaster
  projects/blaster/README.md
  projects/blaster/cart.png
  projects/blaster/gerber.zip
  projects/blaster/schematic.pdf
  projects/blaster/src/ProDoc_PCB1_2025-02-22.epro
  projects/blaster/src/ProDoc_Schematic1_2025-02-22.epro
  projects/blaster/src/ProPrj_blaster_2025-02-22.epro
Labels: Submission

#1372 Add MechaController Project
  projects/MechaController/README.MD
  projects/MechaController/cart.png
  projects/MechaController/gerber.zip
  projects/MechaController/schematic.pdf
  projects/MechaController/src/pcb.json
  projects/MechaController/src/schematic.json
Labels: Submission

#1430 hacky holidays cookie keychain
  projects/candy's-cookie/README.md
  projects/candy's-cookie/cart.png
  projects/candy's-cookie/gerber.zip
  projects/candy's-cookie/schematic.pdf
  projects/candy's-cookie/src/BOM_cookie.csv
  projects/candy's-cookie/src/PCB_cookie.json
  projects/candy's-cookie/src/PickAndPlace_cookie.csv
  projects/candy's-cookie/src/SCH_cookie.json
Labels: Submission, Hacky Holidays

#1489 create Alex's fun card
  projects/Alex's fun card/README.md
  projects/Alex's fun card/cart.png
  projects/Alex's fun card/gerber.zip
  projects/Alex's fun card/schematic.pdf
  projects/Alex's fun card/src/BOM_PCB_onboard_2025-02-03.csv
  projects/Alex's fun card/src/PCB_PCB_onboard_2025-02-03.json
  projects/Alex's fun card/src/PickAndPlace_PCB_onboard_2025-02-24.csv
  projects/Alex's fun card/src/SCH_onboard_2025-02-03.json
Labels: Submission

#1487 Daniel's PCB
  projects/Daniel's PCB/README.MD
  projects/Daniel's PCB/cart.png
  projects/Daniel's PCB/gerber.zip
  projects/Daniel's PCB/schematic.pdf
  projects/Daniel's PCB/src/BOM_hack-club-pcb_2025-02-24.csv
  projects/Daniel's PCB/src/PCB_PCB_hack-club-pcb_2025-02-10.json
  projects/Daniel's PCB/src/PickAndPlace_PCB_hack-club-pcb_2025-02-24.csv
  projects/Daniel's PCB/src/SCH_hack-club-pcb_2025-02-10.json
Labels: Submission

#1402 Add "PCB Business Card" Board
  projects/PCB Business Card/README.md
  projects/PCB Business Card/cart.png
  projects/PCB Business Card/gerber.zip
  projects/PCB Business Card/schematic.pdf
  projects/PCB Business Card/src/pcb.json
  projects/PCB Business Card/src/schematic.json
Labels: Submission

#1483 Debate Device!
  projects/Debate-Device/README.md
  projects/Debate-Device/cart.png
  projects/Debate-Device/gerber.zip
  projects/Debate-Device/schematic.pdf
  projects/Debate-Device/src/Debate Device.kicad_pcb
  projects/Debate-Device/src/Debate Device.kicad_sch
Labels: Submission

#1462 NFC Business Cards
  projects/NFCBusinessCards/README.md
  projects/NFCBusinessCards/cart.png
  projects/NFCBusinessCards/gerber.zip
  projects/NFCBusinessCards/schematic.pdf
  projects/NFCBusinessCards/src/pcb.json
  projects/NFCBusinessCards/src/schematic.json
Labels: Submission

#1464 pcb manufactering
  projects/haptic_pcb/README.md
  projects/haptic_pcb/cart.png
  projects/haptic_pcb/gerber.zip
  projects/haptic_pcb/schematic.pdf
  projects/haptic_pcb/src/pcb.json
  projects/haptic_pcb/src/s.txt
  projects/haptic_pcb/src/schematic.json
  projects/haptic_pcb/vdd
Labels: Submission

#1415 Add "oh-card" Board
  projects/oh-card/README.md
  projects/oh-card/cart.png
  projects/oh-card/gerber.zip
  projects/oh-card/schematic.pdf
  projects/oh-card/src/PCB.json
  projects/oh-card/src/Schematic.json
  projects/oh-card/src/pcb.json
  projects/oh-card/src/schematic.json
Labels: Submission

#1383 HH-The-Nob
  projects/HH-The-Nob/README.md
  projects/HH-The-Nob/bom.csv
  projects/HH-The-Nob/cart.png
  projects/HH-The-Nob/gerber.zip
  projects/HH-The-Nob/positions.csv
  projects/HH-The-Nob/schematic.pdf
  projects/HH-The-Nob/src/bom.csv
  projects/HH-The-Nob/src/nob.kicad_pcb
  projects/HH-The-Nob/src/nob.kicad_prl
  projects/HH-The-Nob/src/nob.kicad_pro
  projects/HH-The-Nob/src/nob.kicad_sch
  projects/HH-The-Nob/src/nob.wrl
  projects/HH-The-Nob/src/positions.csv
Labels: Submission, Hacky Holidays

#1482 Onboard-live ESP32 Receiver and Transmitter
  projects/ESP32 Receiver and Transmitter/README.md
  projects/ESP32 Receiver and Transmitter/cart.png
  projects/ESP32 Receiver and Transmitter/gerber.zip
  projects/ESP32 Receiver and Transmitter/schematic.pdf
  projects/ESP32 Receiver and Transmitter/src/ESP32 Transmitter and Receiver.kicad_pcb
  projects/ESP32 Receiver and Transmitter/src/ESP32 Transmitter and Receiver.kicad_pro
  projects/ESP32 Receiver and Transmitter/src/ESP32 Transmitter and Receiver.kicad_sch
Labels: Submission, OnBoard Live

#1437 approval
  projects/Dhruv's nfc card/README.md
  projects/Dhruv's nfc card/cart.png
  projects/Dhruv's nfc card/gerber.zip
  projects/Dhruv's nfc card/schematic.pdf
  projects/Dhruv's nfc card/src/PCB_PCB_NFC-Business-Card_2025-01-31.json
  projects/Dhruv's nfc card/src/SCH_NFC-Business-Card_2025-01-31.json
Labels: Submission
